flows/Configure_Prefetch_Volume.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Disable_Pre_Fetched_Volume</name>
        <label>Disable Pre-Fetched Volume</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>InvocableDisablePrefetchedVolume</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Disabeling_Prefetch_volume</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>repoId</name>
            <value>
                <elementReference>Get_Pipeline.Git_Repository__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableDisablePrefetchedVolume</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_Pre_Fetched_Volume</name>
        <label>Generate Pre-Fetched Volume</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>InvocableGeneratePreFetchedVolume</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConfirmScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Ask_Configuration_Options</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>repoId</name>
            <value>
                <elementReference>Get_Pipeline.Git_Repository__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfVolumes</name>
            <value>
                <elementReference>Amount_of_pre_cloned_workers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>volumeConfig</name>
            <value>
                <elementReference>PreFetchedConfigJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableGeneratePreFetchedVolume</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Pre_fetched_volume_limits</name>
        <label>Get Pre-fetched volume limits</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>InvocableGetPrefetchedVolumeLimit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ask_Configuration_Options</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>InvocableGetPrefetchedVolumeLimit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Prefetch_Volume_Active</name>
        <label>Is Prefetch Volume Active?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Properties_for_pipeline</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Disabeling_Prefetch_volume</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Properties_for_pipeline</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disclaimer_PreFetch_Volume</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VolumeSizeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Worker_Size__c</picklistField>
        <picklistObject>Function__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>validationMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Flow.FaultMessage}, &apos;An Apex error occurred: ApplicationException:&apos;, &apos;&apos;), &apos;An Apex error occurred: copado. ApplicationException:&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>VOLUME_TTL_IN_SECONDS</name>
        <dataType>String</dataType>
        <expression>TEXT({!Expiration_time_Hrs}*60*60)</expression>
    </formulas>
    <interviewLabel>Configure Prefetch Volume {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure Prefetch Volume</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pipeline</name>
        <label>Get Pipeline</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Prefetch_Volume_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deployment_Flow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Properties_for_pipeline</name>
        <label>Get System Properties for pipeline</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pipeline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PreFetchedRepository</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ask_Configuration_Options</name>
        <label>Ask Configuration Options</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Pre_Fetched_Volume</targetReference>
        </connector>
        <fields>
            <name>ValidationErrorOnActivate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 7, 7);&quot;&gt;{!validationMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfigureInstruction</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Configure the following settings according to your organization&apos;s needs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;For further assistance, contact your Customer Success Manager or check our documentation for Repository Performance Optimizations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ask_Configuration_Options_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ask_Configuration_Options_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrganisationInstancesLimitStatus</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Limit of workers consumed/assigned to your Organization&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Pre_fetched_volume_limits.usedVolumes}/{!Get_Pre_fetched_volume_limits.totalLimit}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ask_Configuration_Options_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GitRepositoryName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Git Repository&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Pipeline.Git_Repository__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Settings</name>
            <fieldText>Settings</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Settings_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Storage_size_GB</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>5.0</numberValue>
                    </defaultValue>
                    <fieldText>Storage size (GB)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;The size of the storage in gigabytes. It can be configured to accommodate the git repository size.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(241, 10, 10);&quot;&gt;You are out of range. Supported values are 2 GB to 24 GB.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Storage_size_GB} &gt; 0, {!Storage_size_GB} &lt; 25)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Expiration_time_Hrs</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>24.0</numberValue>
                    </defaultValue>
                    <fieldText>Expiration time (Hrs)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;The lifespan of the worker in hours. After the set time, the worker will be deleted.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;You are out of range. Supported values are 2 Hrs to 24 Hrs.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Expiration_time_Hrs} &gt;= 2, {!Expiration_time_Hrs} &lt;= 24)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Amount_of_pre_cloned_workers</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>7.0</numberValue>
                    </defaultValue>
                    <fieldText>Amount of pre-cloned workers</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;The amount of pre-cloned workers available for this pipeline’s operations.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 9, 9);&quot;&gt;The value entered exceeds the limits available in the organization, &lt;/span&gt;&lt;span style=&quot;color: rgb(241, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;Supported values are 1 to &lt;/span&gt;&lt;span style=&quot;color: rgb(241, 9, 9);&quot;&gt;{!Get_Pre_fetched_volume_limits.availableVolumes} volumes.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Amount_of_pre_cloned_workers} &gt; 0, {!Amount_of_pre_cloned_workers} &lt;= {!Get_Pre_fetched_volume_limits.availableVolumes})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Settings_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Disabeling_Prefetch_volume</name>
        <label>Confirm Disabeling Prefetch volume</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Disable_Pre_Fetched_Volume</targetReference>
        </connector>
        <fields>
            <name>ValidationErrorOfDisable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 17, 17);&quot;&gt;{!validationMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisablePrefetchVolume</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;By deactivating this feature, the optimized existing pre-cloned workers assigned to your organization will be canceled and reverted to the original non-optimized workers (default configuration).&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;This deactivation process may take some time. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Are you sure you want to disable it?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmScreen</name>
        <label>Success</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;You’ve successfully set up the performance optimizations for this pipeline.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Provisioning the workers will take some time. In the meantime, you can close this window and continue working.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disclaimer_PreFetch_Volume</name>
        <label>Disclaimer</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Pre_fetched_volume_limits</targetReference>
        </connector>
        <fields>
            <name>Disclaimer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;For running git-related operations, Copado uses short-lived backend workers that self-delete after the processing action completes.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;We are rolling out a new feature that can improve the performance of your git-related operations by leveraging workers provisioned with pre-cloned instances of your git repository, enabling faster execution times for your commits, promotions, and other operations requiring access to git.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Click continue to extend the worker&apos;s life to enable faster git-related operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_System_Properties_for_pipeline</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PreFetchedConfigJson</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;ttl&quot;: {!VOLUME_TTL_IN_SECONDS},
    &quot;volumeSize&quot;: {!Storage_size_GB},
    &quot;volumeAmount&quot;: {!Amount_of_pre_cloned_workers}
}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
