flows/ContactMovement_Pearson_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Pearson</name>
        <label>Email to Pearson</label>
        <locationX>810</locationX>
        <locationY>197</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PearsonEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PearsonEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>certification@splunk.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Splunk candidate merge request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_pearson_email_address_to_varible</name>
        <label>assign pearson email address to varible</label>
        <locationX>206</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>PearsonEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PearsonEmailSetting.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validate_inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>validate_inputs</name>
        <label>validate inputs</label>
        <locationX>262</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>old_and_new_contact_Ids_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNewContacct</targetReference>
            </connector>
            <label>old and new contact Ids not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Old_Contact</name>
        <label>Validate Old Contact</label>
        <locationX>589</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oldContact_retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldContactRec.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldContactRec.CDD_Last_Update__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Pearson</targetReference>
            </connector>
            <label>oldContact retrieved</label>
        </rules>
    </decisions>
    <description>modifying cdd last updated field criteria.</description>
    <interviewLabel>ContactMovement Pearson Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactMovement Pearson Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNewContacct</name>
        <label>getNewContacct</label>
        <locationX>530</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOldRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>newContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CDD_Candidate_Id__c</queriedFields>
        <queriedFields>CDD_Last_Update__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOldRecord</name>
        <label>getOldRecord</label>
        <locationX>531</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Old_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>oldContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CDD_Candidate_Id__c</queriedFields>
        <queriedFields>CDD_Last_Update__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPearsonEmail</name>
        <label>GetPearsonEmail</label>
        <locationX>57</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_pearson_email_address_to_varible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PearsonEmail</stringValue>
            </value>
        </filters>
        <object>Custom_Setting__mdt</object>
        <outputReference>PearsonEmailSetting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <startElementReference>GetPearsonEmail</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>PearsonEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello Pearson Team,

Please merge the following records.

Contact Full Name: {!newContactRec.Name}
Survivor PV ID : {!newContactRec.CDD_Candidate_Id__c}
Victim PV ID : {!oldContactRec.CDD_Candidate_Id__c}

Best Regards,
Splunk Certification Team</text>
    </textTemplates>
    <variables>
        <name>newContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oldContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oldContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PearsonEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PearsonEmailSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Custom_Setting__mdt</objectType>
    </variables>
</Flow>
