flows/Deal_Support_Before_Insert_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Bypass_Workflow</name>
        <label>Bypass Workflow</label>
        <locationX>281</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Trigger_Validation_WorkFlow__c.Bypass_DealSupport_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ad_Hoc_Escalation</name>
        <label>Is Ad-Hoc Escalation</label>
        <locationX>710</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad-hoc Product Leadership Escalation Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ad_Hoc_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_DS</name>
        <label>Is New DS</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_DS</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Min_for_SLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_SE_Request</name>
        <label>New SE Request</label>
        <locationX>908</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Is Existing SE Request</defaultConnectorLabel>
        <rules>
            <name>Is_New_SE_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Ad_Hoc_Escalation</targetReference>
            </connector>
            <label>Is New SE Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>GSSRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSS_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_DS</targetReference>
            </connector>
            <label>GSS Request</label>
        </rules>
        <rules>
            <name>Sales_Engineering_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo_Virtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_SE_Request</targetReference>
            </connector>
            <label>SE Request</label>
        </rules>
    </decisions>
    <description>CRM-18551 (Date N/A)
CRM-19056: Ad-hoc Escalation Queue Assignment (3/22/2023)</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_GSSSLATime</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Min_for_SLA.String_Value__c} != &quot;&quot;, VALUE({!Get_Min_for_SLA.String_Value__c}), 301)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_SLA_Alert_Time</name>
        <dataType>DateTime</dataType>
        <expression>IF((NOW() + (({!Formula_GSSSLATime} - {!$Record.Duration_To_Change_Status__c}) / 1440)) &gt; NOW(),NOW() + (({!Formula_GSSSLATime} - {!$Record.Duration_To_Change_Status__c}) / 1440),NULL)</expression>
    </formulas>
    <interviewLabel>Deal Support - Before Insert / Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Support - Before Insert / Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ad_Hoc_Queue</name>
        <label>Get Ad-Hoc Queue</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ad_hoc_Escalations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AdHocQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Min_for_SLA</name>
        <label>Get Min for SLA</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SLA_Alert_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GSS_To_Manager_Mins</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AdHocQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SLA_Alert_Time</name>
        <label>Set SLA Alert Time</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>SLA_Alert_Time__c</field>
            <value>
                <elementReference>Formula_SLA_Alert_Time</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Workflow</targetReference>
        </connector>
        <object>Deal_Support__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>AdHocQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSMQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSS_AMER_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSS_APAC_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSS_EMEA_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSS_GSP_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
