flows/Delete_Old_Content_Versions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Permissions</name>
        <label>Check Permissions</label>
        <locationX>749</locationX>
        <locationY>184</locationY>
        <actionName>CheckContentDocumentPermissionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_User_Allowed_To_Delete_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckContentDocumentPermissionAction</nameSegment>
        <outputParameters>
            <assignToReference>User_Can_Delete_Files</assignToReference>
            <name>canDeleteFiles</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Delete_Old_Versions</name>
        <label>Delete Old Versions</label>
        <locationX>750</locationX>
        <locationY>707</locationY>
        <actionName>DeleteOldContentVersionsAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeleteOldContentVersionsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Is_User_Allowed_To_Delete_Files</name>
        <label>Is User Allowed To Delete Files</label>
        <locationX>741</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Permission_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Allowed</defaultConnectorLabel>
        <rules>
            <name>User_Is_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Can_Delete_Files</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Versions_Warning</targetReference>
            </connector>
            <label>User Is Allowed</label>
        </rules>
    </decisions>
    <description>Given a record Id, this flow deletes all the ContentVersion records but the last one from related Files. Due to Salesforce limitation, original Files are deleted and new Files with only one version are created.</description>
    <interviewLabel>Delete Old Content Versions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Old Content Versions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Delete_Old_Versions_Warning</name>
        <label>Delete Old Versions Warning</label>
        <locationX>750</locationX>
        <locationY>539</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Old_Versions</targetReference>
        </connector>
        <fields>
            <name>Delete_Versions_Warning_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Delete_Versions_Warning_Message_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permission_Error_Screen</name>
        <label>Permission Error</label>
        <locationX>503</locationX>
        <locationY>318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Permission_Error_Message_Text</name>
            <fieldText>&lt;p&gt;{!Delete_Versions_Permission_Error_Message_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>623</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Fault</name>
        <label>Handle Flow Fault</label>
        <locationX>1088</locationX>
        <locationY>421</locationY>
        <flowName>Handle_Flow_Fault</flowName>
        <inputAssignments>
            <name>Error_Message_Detail</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Delete_Versions_Permission_Error_Message_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.Delete_Old_Content_Version_Insufficient_Access_Error}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Delete_Versions_Warning_Message_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.Delete_Old_Content_Version_Warning_Message}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Id of the Data Set from the context.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Can_Delete_Files</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
