flows/ExecuteManualStep.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetStepInstruction</name>
        <label>Get Step Instruction</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ManualStepCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ExecuteManualStep</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stepIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManualStepCtrl</nameSegment>
        <outputParameters>
            <assignToReference>Instruction</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>data</name>
        <dataType>String</dataType>
        <expression>IF({!isSuccess}, {!Notes}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>IF({!isSuccess}, &quot;&quot;, {!Notes})</expression>
    </formulas>
    <formulas>
        <name>topicUri</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-result/&apos; + {!GetCurrentStep.Result__c}</expression>
    </formulas>
    <interviewLabel>Execute Manual Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute Manual Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>PublishDoneEvent</name>
        <label>Publish Done Event</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic_Uri__c</field>
            <value>
                <elementReference>topicUri</elementReference>
            </value>
        </inputAssignments>
        <object>Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentStep</name>
        <label>Get Current Step</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStepInstruction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobStep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ExecuteManualStep</name>
        <label>Execute Manual Step</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PublishDoneEvent</targetReference>
        </connector>
        <fields>
            <name>InstructionOutput</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Instruction}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>isSuccessCheckbox</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Failed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>isSuccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Result</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isSuccess</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;isSuccess&quot;: {!isSuccess},
    &quot;data&quot;: &quot;{!data}&quot;,
    &quot;errorMessage&quot;: &quot;{!errorMessage}&quot;
}</text>
    </textTemplates>
    <variables>
        <name>Instruction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MCResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MC_Result__e</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
