flows/Execute_Automation_Template_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Automation_Template_Action</name>
        <label>Execute Automation Template Action</label>
        <locationX>623</locationX>
        <locationY>671</locationY>
        <actionName>ConvertAutomationToDeployment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execution_Status</targetReference>
        </connector>
        <inputParameters>
            <name>automationTemplateId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>execute</name>
            <value>
                <elementReference>Execute_Immediately</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceCredentialIdString</name>
            <value>
                <elementReference>Source_Org_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetCredentialIdString</name>
            <value>
                <elementReference>Target_Org_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAutomationToDeployment</nameSegment>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Execution_Status</name>
        <label>Execution Status</label>
        <locationX>614</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>Execute_Automation_Template_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Automation_Template_Success_Message</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if only source or target was selected.</description>
        <name>Only_One_Credential_Selected</name>
        <label>Only One Credential Selected</label>
        <locationX>615</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Execute_Automation_Template_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_One_Selected</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Source_Org_Id_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Target_Org_Id_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_Org_Id_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Target_Org_Id_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Org_Crendentials_Screen</targetReference>
            </connector>
            <label>Only One Selected</label>
        </rules>
    </decisions>
    <description>Flow to use as quick action in Automation Template page.</description>
    <formulas>
        <name>Deployment_Object_Api_Name</name>
        <dataType>String</dataType>
        <expression>{!Namespace} &amp; &apos;Deployment__c&apos;</expression>
    </formulas>
    <formulas>
        <name>From_Org_Field_Api_Name</name>
        <dataType>String</dataType>
        <expression>{!Namespace} &amp; &apos;From_Org__c&apos;</expression>
    </formulas>
    <formulas>
        <name>Namespace</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Namespace_Prefix})), {!Namespace_Prefix} &amp; &apos;__&apos;,  &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Source_Org_Id_Selected</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Source_Org_Id}))</expression>
    </formulas>
    <formulas>
        <name>Target_Org_Id_Selected</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Target_Org_Id}))</expression>
    </formulas>
    <interviewLabel>Execute Automation Template Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute Automation Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Default lookup component uses API names as is. The namespace needs to be taken into account when configuring the component.</description>
        <name>Get_Namespace</name>
        <label>Get Namespace</label>
        <locationX>624</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Automation_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CopadoSetupController</stringValue>
            </value>
        </filters>
        <object>ApexClass</object>
        <outputAssignments>
            <assignToReference>Namespace_Prefix</assignToReference>
            <field>NamespacePrefix</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Execute_Automation_Template</name>
        <label>Execute Automation Template</label>
        <locationX>624</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Only_One_Credential_Selected</targetReference>
        </connector>
        <fields>
            <name>Execute_Immediately</name>
            <dataType>Boolean</dataType>
            <fieldText>Execute Immediately</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Mark this option to execute the deployment immediately.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_Target_Credentials_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Specify both source and target credentials, otherwise your Copado Org Credentials will be used by default.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Source_Org_Credential</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>From_Org_Field_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Deployment_Object_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source Credential</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Source_Org_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Target_Org_Credential</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>From_Org_Field_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Org Credential</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Deployment_Object_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Target_Org_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Execute_Automation_Template_Error_Message</name>
        <label>Execute Automation Template Error Message</label>
        <locationX>756</locationX>
        <locationY>984</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Execution_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Execution error.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;View results &lt;a href=&quot;/{!Result.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Execute_Automation_Template_Success_Message</name>
        <label>Execute Automation Template Success Message</label>
        <locationX>492</locationX>
        <locationY>984</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Execution_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;View execution &lt;a href=&quot;/{!Result.Deployment__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;View results &lt;a href=&quot;/{!Result.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Org_Crendentials_Screen</name>
        <label>Invalid Org Crendentials</label>
        <locationX>353</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Execute_Automation_Template</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;You must specify both source and destination credentials. If you leave both blank then your Copado Org Credentials will be used by default.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>493</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Namespace_Prefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Id of the deployment from the context</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Result record for the deployment.</description>
        <name>Result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <description>Id of the selected Source Org (null if not selected)</description>
        <name>Source_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the selected target org (or null if not selected).</description>
        <name>Target_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
