flows/Execute_Next_Job_Step.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Next_Step</name>
        <label>Execute Next Step</label>
        <locationX>182</locationX>
        <locationY>554</locationY>
        <actionName>OnJobStepComplete</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>events</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnJobStepComplete</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>TOPIC_URI_PREFIX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/events/copado/v1/step-result/</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Manual_Step</name>
        <label>Is Manual Step?</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Execute_Next_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Check_if_Manual_Step_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Result.JobStep__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Step_completion_event</name>
        <label>Is Step completion event?</label>
        <locationX>248</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Topic_Uri__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>TOPIC_URI_PREFIX</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Result</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResultId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.Topic_Uri__c} , {!TOPIC_URI_PREFIX}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Execute Next Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute Next Job Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Result</name>
        <label>Get Result</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Manual_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Step_completion_event</targetReference>
        </connector>
        <object>Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
