flows/FinServFlowsExt__Add_Beneficiary_to_Policy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Updated_Beneficiary_Share_Percentage_to_Description</name>
        <label>Add Updated Beneficiary Share Percentage to Description</label>
        <locationX>762</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>UpdatedShareIdCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentBeneficiary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumofBeneficiaryShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentBeneficiary.BeneficiarySharePercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiarySharePayloadBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiarySharePayloadBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;ParticipantId&quot;: &quot;{!CurrentBeneficiary.Id}&quot;,{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiarySharePayloadBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;BeneficiarySharePercentage&quot;: {!CurrentBeneficiary.BeneficiarySharePercentage}{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCount_is_Equal_to_The_Number_of_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Beneficiary_Fields</name>
        <label>Assign Beneficiary Fields</label>
        <locationX>49</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>PolicyBeneficiaryColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PrimaryParticipantAccountId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiaryColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RelationshipToInsured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiaryColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BeneficiarySharePercentage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Beneficiary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Account_Id</name>
        <label>Assign Existing Account Id</label>
        <locationX>527</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_Beneficiary_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Payload</name>
        <label>Close Payload</label>
        <locationX>1111</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>PolicyBeneficiarySharePayloadBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!TLineBreak}}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Beneficiary_Shares_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Beneficiary_Ids_Into_a_String</name>
        <label>Collect Beneficiary Ids Into a String</label>
        <locationX>190</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryIdCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentBeneficiary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Policy_Beneficiaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Beneficiaries</name>
        <label>Count of Beneficiaries</label>
        <locationX>646</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdatedBeneficiaryShares</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Beneficiary_Shares_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Payload_Element</name>
        <label>Next Payload Element</label>
        <locationX>907</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>PolicyBeneficiarySharePayloadBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!TLineBreak}},{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Beneficiary_Shares_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Sum_of_Beneficiary_Shares</name>
        <label>Reset Sum of Beneficiary Shares</label>
        <locationX>377</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>SumofBeneficiaryShare</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiarySharePayloadBlock</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Beneficiary_Share</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddBeneficiary</name>
        <choiceText>&lt;p&gt;Add beneficiary&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Beneficiary</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeBeneficiaryDetails</name>
        <choiceText>&lt;p&gt;Change beneficiary details&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Beneficiary Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeBeneficiaryShare</name>
        <choiceText>&lt;p&gt;Change beneficiary share&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Beneficiary Share</stringValue>
        </value>
    </choices>
    <constants>
        <name>CLineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Beneficiary_Share_Total</name>
        <label>Beneficiary Share Total</label>
        <locationX>752</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Beneficiary_Share_Total_Exceeds_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumofBeneficiaryShare</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Beneficiary_Share_Total_Exceeds_100_Percent</targetReference>
            </connector>
            <label>Beneficiary Share Total Exceeds 100</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Account_Exists</name>
        <label>Check Whether Account Exists</label>
        <locationX>185</locationX>
        <locationY>954</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingAccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Account_Record</targetReference>
            </connector>
            <label>Account Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopCount_is_Equal_to_The_Number_of_Records</name>
        <label>LoopCount is Equal to The Number of Records</label>
        <locationX>1044</locationX>
        <locationY>822</locationY>
        <defaultConnector>
            <targetReference>Next_Payload_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LoopCount_Equals_Number_of_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BeneficiaryCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Payload</targetReference>
            </connector>
            <label>LoopCount Equals Number of Records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BeneficiaryRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RelationshipToInsured</picklistField>
        <picklistObject>InsurancePolicyParticipant</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PolicyList</name>
        <dataType>String</dataType>
        <displayField>PolicyName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameInsuredId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>PolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>PolicyName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Beneficiary to Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Add Beneficiary to Policy</label>
    <loops>
        <name>Iterate_Over_Policy_Beneficiaries</name>
        <label>Iterate Over Policy Beneficiaries</label>
        <locationX>188</locationX>
        <locationY>399</locationY>
        <assignNextValueToReference>CurrentBeneficiary</assignNextValueToReference>
        <collectionReference>PolicyBeneficiaryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Beneficiary_Ids_Into_a_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Beneficiary_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Beneficiary_Shares_List</name>
        <label>Loop Through Beneficiary Shares List</label>
        <locationX>764</locationX>
        <locationY>592</locationY>
        <assignNextValueToReference>CurrentBeneficiary</assignNextValueToReference>
        <collectionReference>UpdatedBeneficiaryShares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Updated_Beneficiary_Share_Percentage_to_Description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Beneficiary_Share_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>191</locationX>
        <locationY>799</locationY>
        <assignRecordIdToReference>BeneficiaryAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Policy_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Policy_Participant</name>
        <label>Create Policy Participant</label>
        <locationX>193</locationX>
        <locationY>680</locationY>
        <assignRecordIdToReference>AddBeneficiaryId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Updated_Beneficiary_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BeneficiarySharePercentage</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsurancePolicyId</field>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMinorBeneficiary</field>
            <value>
                <elementReference>Beneficiary_is_a_Minor_Child</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryParticipantAccountId</field>
            <value>
                <elementReference>BeneficiaryAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipToInsured</field>
            <value>
                <elementReference>Beneficiary_Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Beneficiary</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicyParticipant</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>47</locationX>
        <locationY>948</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Account_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ExistingAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_a_Policy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Beneficiary_List</name>
        <label>Get Policy Beneficiary List</label>
        <locationX>49</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Beneficiary_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benificiary</stringValue>
            </value>
        </filters>
        <object>InsurancePolicyParticipant</object>
        <outputReference>PolicyBeneficiaryList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BeneficiarySharePercentage</queriedFields>
        <queriedFields>PrimaryParticipantAccountId</queriedFields>
        <queriedFields>RelatedParticipantAccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Beneficiary_List</name>
        <label>Get Updated Beneficiary List</label>
        <locationX>191</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Policy_Beneficiaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Beneficiary</stringValue>
            </value>
        </filters>
        <object>InsurancePolicyParticipant</object>
        <outputReference>PolicyBeneficiaryList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Beneficiary_Shares</name>
        <label>Get Updated Beneficiary Shares</label>
        <locationX>524</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Beneficiaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Beneficiary</stringValue>
            </value>
        </filters>
        <object>InsurancePolicyParticipant</object>
        <outputReference>UpdatedBeneficiaryShares</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BeneficiarySharePercentage</queriedFields>
    </recordLookups>
    <screens>
        <name>Add_Beneficiary</name>
        <label>Add Beneficiary</label>
        <locationX>46</locationX>
        <locationY>767</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Beneficiary_Relationship</name>
            <choiceReferences>BeneficiaryRelationship</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to Insured</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Beneficiary_is_a_Minor_Child</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Beneficiary is a minor child</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Beneficiary_Share_Total_Exceeds_100_Percent</name>
        <label>Beneficiary Share Total Exceeds 100 Percent</label>
        <locationX>670</locationX>
        <locationY>301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Sum_of_Beneficiary_Shares</targetReference>
        </connector>
        <fields>
            <name>TotalShareMoreThan100</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;The beneficiary share percentages must add up to 100. Adjust the values and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_a_Policy</name>
        <label>Choose a Policy</label>
        <locationX>50</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Policy_Beneficiary_List</targetReference>
        </connector>
        <fields>
            <name>Policy_Name</name>
            <choiceReferences>PolicyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Policy Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1210</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;{!CaseDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Updated_Beneficiary_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Beneficiary Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Beneficiary_Shares</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>PolicyBeneficiaryColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>UpdatedShareIdCollector</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>495</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Beneficiary_Share</name>
        <label>Update Beneficiary Share</label>
        <locationX>362</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Updated_Beneficiary_Shares</targetReference>
        </connector>
        <fields>
            <name>UpdateBeneficiaryShares</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Set Beneficiary Share Percentages&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Adjust share percentages so that they add up to 100&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AdjustBeneficiaryShare</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>PolicyBeneficiaryColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>BeneficiaryIdCollector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableColName</name>
                <value>
                    <stringValue>BeneficiarySharePercentage</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>1114</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>1022</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Add Beneficiary to Policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>BeneficiaryChangeDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Change Beneficiary
{!First_Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case Number: {!CaseNumber}
Service Flow Name: Add Beneficiary to Policy
Beneficiary Name: {!First_Name} {!Last_Name}
Phone: {!Phone}
Email Address: {!Email_Address}
Beneficiary is a minor child: {!Beneficiary_is_a_Minor_Child}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Add Beneficiary to Policy&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;PolicyId&quot;: &quot;{!PolicyId}&quot;,
  &quot;Operation&quot;: &quot;Add Beneficiary&quot;,
  &quot;Beneficiary&quot;: {
    &quot;BeneficiaryFName&quot;: &quot;{!First_Name}&quot;,
    &quot;BeneficiaryLName&quot;: &quot;{!Last_Name}&quot;,
    &quot;BeneficiaryPhone&quot;: &quot;{!Phone}&quot;,
    &quot;BeneficiaryEmail&quot;: &quot;{!Email_Address}&quot;,
    &quot;RelationshipToInsured&quot;: &quot;{!Beneficiary_Relationship}&quot;,
    &quot;IsMinorBeneficiary&quot;:  {!Beneficiary_is_a_Minor_Child},
    &quot;BeneficiaryAccountId&quot;: &quot;{!BeneficiaryAccountId}&quot;,
    &quot;ParticipantId&quot;: &quot;{!AddBeneficiaryId}&quot;
  },
  &quot;PolicyParticipant&quot;: [
    {!PolicyBeneficiarySharePayloadBlock}
   ]
}</text>
    </textTemplates>
    <textTemplates>
        <name>TLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CLineBreak}
{!CLineBreak}</text>
    </textTemplates>
    <variables>
        <name>AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddBeneficiaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>BeneficiaryAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BeneficiaryIdCollector</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryShareDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentBeneficiary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>ExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ExistingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PayloadAddBeneficiary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyBeneficiaryColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyBeneficiaryList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>PolicyBeneficiarySharePayloadBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SumofBeneficiaryShare</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdatedBeneficiaryShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>UpdatedShareIdCollector</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
