flows/FinServFlowsExt__Update_Card_Limits.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>FinancialAccountsList</name>
        <dataType>String</dataType>
        <displayField>FinServ__FinancialAccountNumber__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__FinancialAccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>FinancialAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>FinServ__FinancialAccountNumber__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Card Limits {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Card Limits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Limits</name>
        <label>Get Account Limits</label>
        <locationX>506</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Limits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>Daily_Withdrawal_Limit</assignToReference>
            <field>FinServ__DailyWithdrawalLimit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalCreditLimit</assignToReference>
            <field>FinServ__TotalCreditLimit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>324</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Limits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>966</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>Case Number: {!CaseNumber}
{!CaseDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>384</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Financial_Account</name>
        <label>Select Financial Account</label>
        <locationX>180</locationX>
        <locationY>78</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>Account_Number</name>
            <choiceReferences>FinancialAccountsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Limits</name>
        <label>Update Limits</label>
        <locationX>694</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
        <fields>
            <name>CurrentCreditlimit</name>
            <fieldText>Current Credit Limit: {!TotalCreditLimit}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DailyWithdrawalLimit</name>
            <fieldText>Current Daily Withdrawal Limit: {!Daily_Withdrawal_Limit}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Credit_Limit</name>
            <dataType>Currency</dataType>
            <fieldText>New Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>New_Daily_Withdrawal_Limit</name>
            <dataType>Currency</dataType>
            <fieldText>New Daily Withdrawal Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Financial_Account</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>887</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>831</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Update Card Limits</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Create a Service Request for managing Limits</description>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Update Card Limits
Account Number: {!Account_Number}
Old Credit Limit: {!TotalCreditLimit}
Old Daily Withdrawal Limit: {!Daily_Withdrawal_Limit}
New Credit Limit: {!New_Credit_Limit}
New Daily Withdrawal Limit: {!New_Daily_Withdrawal_Limit}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Update Card Limits&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;FinancialAccountId&quot;: &quot;{!FinancialAccountId}&quot;,
  &quot;CreditLimit&quot;: &quot;{!New_Credit_Limit}&quot;,
  &quot;DailyWithdrawalLimit&quot;: &quot;{!New_Daily_Withdrawal_Limit}&quot;
}</text>
    </textTemplates>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Daily_Withdrawal_Limit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalCreditLimit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
