flows/FinServFlowsExt__Waive_Fees.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Column_Names</name>
        <label>Assign Column Names</label>
        <locationX>714</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>ChargesandFeesColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__Description__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargesandFeesColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__Amount__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargesandFeesColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__TransactionDate__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Charges_and_Fees_to_Waive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Charge_to_a_New_Variable</name>
        <label>Assign Selected Charge to a New Variable</label>
        <locationX>1004</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>OutputListofTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Charge_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Transactions</name>
        <label>Collect Transactions</label>
        <locationX>583</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>TransactionIdCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Transactions_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CLineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_There_is_No_Transaction_Selected</name>
        <label>Check If There is No Transaction Selected</label>
        <locationX>792</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Charge_to_a_New_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Transaction_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>No Transaction Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_List_is_Empty</name>
        <label>Check Whether List is Empty</label>
        <locationX>409</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Transactions_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transactions_list_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionsList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_Records_Found</targetReference>
            </connector>
            <label>Transactions list is empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FinancialAccountsList</name>
        <dataType>String</dataType>
        <displayField>FinServ__FinancialAccountNumber__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>FinancialAccountNumber</assignToReference>
            <field>FinServ__FinancialAccountNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedFinancialAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>FinServ__FinancialAccountNumber__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaiverReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinServ__WaiverReason__c</picklistField>
        <picklistObject>FinServ__FinancialAccountTransaction__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Waive Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Waive Fees</label>
    <loops>
        <name>Loop_Over_Transactions_List</name>
        <label>Loop Over Transactions List</label>
        <locationX>583</locationX>
        <locationY>61</locationY>
        <assignNextValueToReference>CurrentTransaction</assignNextValueToReference>
        <collectionReference>TransactionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Column_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Charge_Details</name>
        <label>Get Charge Details</label>
        <locationX>1153</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Waiver_Reason</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedTransaction</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <outputAssignments>
            <assignToReference>TransactionAmount</assignToReference>
            <field>FinServ__Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TransactionDescription</assignToReference>
            <field>FinServ__Description__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Charges_and_Fees</name>
        <label>Get Charges and Fees</label>
        <locationX>302</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_List_is_Empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>FinServ__FinancialAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedFinancialAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__TransactionSubtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__TransactionSubtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Merchant Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__TransactionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <outputReference>TransactionsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__WaiverReason__c</queriedFields>
        <queriedFields>FinServ__TransactionDate__c</queriedFields>
        <queriedFields>FinServ__Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>183</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Waive_Fees_or_Charges</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transactions</name>
        <label>Update Transactions</label>
        <locationX>1202</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedTransaction</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinServ__WaiverReason__c</field>
            <value>
                <elementReference>Waiver_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccountTransaction__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1163</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>Case Number: {!CaseNumber}
{!CaseDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>502</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>964</locationX>
        <locationY>245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Charges_and_Fees_to_Waive</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select at least one transaction.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>355</locationX>
        <locationY>236</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Waive_Fees_or_Charges</targetReference>
        </connector>
        <fields>
            <name>NoRecordsFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The selected account has no fee transactions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Charges_and_Fees_to_Waive</name>
        <label>Select Charges and Fees to Waive</label>
        <locationX>830</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_There_is_No_Transaction_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_Transaction</name>
            <fieldText>&lt;p&gt;Select the transaction to waive. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayCharges</name>
            <extensionName>builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ChargesandFeesColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>TransactionIdCollector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>asdf</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTransaction</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Waiver_Reason</name>
        <label>Select Waiver Reason</label>
        <locationX>1212</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Transactions</targetReference>
        </connector>
        <fields>
            <name>ShowSelectedTransaction</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ChargesandFeesColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>OutputListofTransactions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Waiver_Reason</name>
            <choiceReferences>WaiverReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Waiver Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waive_Fees_or_Charges</name>
        <label>Waive Fees or Charges</label>
        <locationX>191</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Charges_and_Fees</targetReference>
        </connector>
        <fields>
            <name>Account_Number</name>
            <choiceReferences>FinancialAccountsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>1008</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>1159</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Waive Fees</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Waive Fees
Transaction Id: {!SelectedTransaction}
Transaction Amount: {!TransactionAmount}
Waiver Reason: {!Waiver_Reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Waive Fees&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;FinancialAccountNumber&quot;: &quot;{!FinancialAccountNumber}&quot;,
  &quot;FinancialAccountId&quot;: &quot;{!SelectedFinancialAccount}&quot;,
  &quot;TransactionId&quot;: &quot;{!SelectedTransaction}&quot;,
  &quot;WaiverReason&quot;: &quot;{!Waiver_Reason}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>TLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CLineBreak}
{!CLineBreak}</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ChargesandFeesColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
    <variables>
        <name>FinancialAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputListofTransactions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedFinancialAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedTransaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TransactionDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionIdCollector</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
</Flow>
