flows/FinServFlowsExt__Update_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Billing_Address_to_New_Address_Variables</name>
        <label>Assign Billing Address to New Address Variables</label>
        <locationX>919</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>AddressChangeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Address_Change_to_Variable</name>
        <label>Assign Shipping Address Change to Variable</label>
        <locationX>658</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>AddressChangeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BillingAddress</name>
        <choiceText>{!BillingAddressTemplate}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Contact_ID</elementReference>
        </value>
    </choices>
    <choices>
        <name>ShippingAddress</name>
        <choiceText>{!ShippingAddressTemplate}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Address_Chosen</name>
        <label>Address Chosen</label>
        <locationX>657</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>Update_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_chosen_is_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BillingAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>Address chosen is Billing Address</label>
        </rules>
    </decisions>
    <interviewLabel>Update Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_ID</name>
        <label>Get Contact ID</label>
        <locationX>180</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Address_Selection</name>
        <label>Address Selection</label>
        <locationX>517</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Chosen</targetReference>
        </connector>
        <fields>
            <name>Select_an_address</name>
            <choiceReferences>BillingAddress</choiceReferences>
            <choiceReferences>ShippingAddress</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BillingAddress</defaultSelectedChoiceReference>
            <fieldText>Select an address</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1188</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseConfirmation</name>
            <fieldText>&lt;p&gt;Case Number: {!CaseNumber}&lt;/p&gt;&lt;p&gt;{!CaseDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>253</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>916</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Billing_Address_to_New_Address_Variables</targetReference>
        </connector>
        <fields>
            <name>Billing_Address</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Billing Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>657</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Shipping_Address_Change_to_Variable</targetReference>
        </connector>
        <fields>
            <name>Shipping_Address</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Shipping Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shipping_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.ShippingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.ShippingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.ShippingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.ShippingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Address_Proof</name>
        <label>Upload Address Proof</label>
        <locationX>1069</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <fields>
            <name>AddressProof</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload proof of address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact_ID</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>1060</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>921</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Upload_Address_Proof</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Update Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>BillingAddressChange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Old Billing Address:
Billing Address: {!AccountRecord.BillingStreet}, {!AccountRecord.BillingCity},{!AccountRecord.BillingState}{!AccountRecord.BillingCountry}{!AccountRecord.BillingPostalCode}
New Billing Address: {!Billing_Street}, {!Billing_City}, {!Billing_State}, {!Billing_Country}, {!Billing_Postal_Code}</text>
    </textTemplates>
    <textTemplates>
        <name>BillingAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Billing address ({!AccountRecord.BillingStreet} {!AccountRecord.BillingCity} {!AccountRecord.BillingState} {!AccountRecord.BillingCountry} {!AccountRecord.BillingPostalCode})</text>
    </textTemplates>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Update Address
Address: {!AddressChangeVariable}
New Address: {!NewStreet} {!NewCity} {!NewState} {!NewCountry} {!NewPostalCode}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Update Address&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;AddressToBeUpdated&quot;: &quot;{!AddressChangeVariable}&quot;,
  &quot;NewStreet&quot;: &quot;{!NewStreet}&quot;,
  &quot;NewCity&quot;: &quot;{!NewCity}&quot;,
  &quot;NewState&quot;: &quot;{!NewState}&quot;,
  &quot;NewCountry&quot;: &quot;{!NewCountry}&quot;,
  &quot;NewPostalCode&quot;: &quot;{!NewPostalCode}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>ShippingAddressChange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Old Shipping Address:
Shipping Address: {!AccountRecord.ShippingStreet}, {!AccountRecord.ShippingCity},{!AccountRecord.ShippingState}{!AccountRecord.ShippingCountry}{!AccountRecord.ShippingPostalCode}
New shipping Address: {!Shipping_Street}, {!Shipping_City}, {!Shipping_State}, {!Shipping_Country}, {!Shipping_Postal_Code}</text>
    </textTemplates>
    <textTemplates>
        <name>ShippingAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Shipping address ({!AccountRecord.ShippingStreet} {!AccountRecord.ShippingCity} {!AccountRecord.ShippingState} {!AccountRecord.ShippingCountry} {!AccountRecord.ShippingPostalCode})</text>
    </textTemplates>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddressChangeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Billing Address</stringValue>
        </value>
    </variables>
    <variables>
        <name>AddressProofId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAddressfromAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDescriptionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>BillingAddressChange</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
