flows/FinServFlowsExt__Update_Policy_Beneficiary_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Updated_Beneficiary_Share_Percentage_to_Description</name>
        <label>Add Updated Beneficiary Share Percentage to Description</label>
        <locationX>1885</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>UpdatedShareIdCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentBeneficiary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumofBeneficiaryShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentBeneficiary.BeneficiarySharePercentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Additional_Payload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Additional_Payload_for_Beneficiary_Details</name>
        <label>Additional Payload for Beneficiary Details</label>
        <locationX>1288</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>DescriptionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BeneficiaryShareDisplayText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>703</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentBeneficiary.PrimaryParticipantAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Beneficiary_Columns</name>
        <label>Assign Beneficiary Columns</label>
        <locationX>214</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>PolicyBeneficiaryColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PrimaryParticipantAccountId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiaryColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RelationshipToInsured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyBeneficiaryColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BeneficiarySharePercentage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Beneficiary_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Beneficiary_Details</name>
        <label>Assign Updated Beneficiary Details</label>
        <locationX>1162</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>DescriptionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BeneficiaryChangeDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Payload_for_Beneficiary_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Payload</name>
        <label>Close Payload</label>
        <locationX>1409</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}{!TLineBreak}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Beneficiary_Share_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Beneficiary_Ids</name>
        <label>Collect Beneficiary Ids</label>
        <locationX>355</locationX>
        <locationY>1110</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryIdCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentBeneficiary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Beneficiary_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Continue_Payload</name>
        <label>Continue Payload</label>
        <locationX>1687</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Beneficiary_Share_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Beneficiaries</name>
        <label>Count Number of Beneficiaries</label>
        <locationX>214</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>CountNumberofBeneficiaries</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PolicyBeneficiaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Count_of_Beneficiaries_is_Greater_Than_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Beneficiaries</name>
        <label>Count of Beneficiaries</label>
        <locationX>989</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>CountOfBeneficiaries</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PolicyBeneficiaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initiate_Additional_Payload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Additional_Payload</name>
        <label>Create Additional Payload</label>
        <locationX>1881</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!TLineBreak}{{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;ParticipantId&quot;: &quot;{!CurrentBeneficiary.Id}&quot;, {!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;BeneficiarySharePercentage&quot;: {!CurrentBeneficiary.BeneficiarySharePercentage} {!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Whether_End_of_Loop_is_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Additional_Payload</name>
        <label>Initiate Additional Payload</label>
        <locationX>1187</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;PolicyParticipant&quot;: [</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_Beneficiary_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Sum_of_Beneficiary_Shares</name>
        <label>Reset Sum of Beneficiary Shares</label>
        <locationX>919</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>SumofBeneficiaryShare</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalPayload</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BeneficiaryShareDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Beneficiary_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddBeneficiary</name>
        <choiceText>&lt;p&gt;Add beneficiary&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Beneficiary</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeBeneficiaryDetails</name>
        <choiceText>Change beneficiary details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Beneficiary Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeBeneficiaryShare</name>
        <choiceText>Change beneficiary share</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Beneficiary Share</stringValue>
        </value>
    </choices>
    <constants>
        <name>CLineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Beneficiary_Share_Total</name>
        <label>Check Beneficiary Share Total</label>
        <locationX>1185</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Assign_Updated_Beneficiary_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Beneficiary_Share_Total_Exceeds_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumofBeneficiaryShare</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Beneficiary_Share_Total_Exceeds_100_Percent</targetReference>
            </connector>
            <label>Beneficiary Share Total Exceeds 100</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_a_Beneficiary_is_Selected</name>
        <label>Check If a Beneficiary is Selected</label>
        <locationX>594</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Policy_Beneficiaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Beneficiary_is_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedBeneficiaryForUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage2</targetReference>
            </connector>
            <label>Beneficiary is Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Count_of_Beneficiaries_is_Greater_Than_Zero</name>
        <label>Check if Count of Beneficiaries is Greater Than Zero</label>
        <locationX>180</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>Assign_Beneficiary_Columns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_of_Beneficiaries_Equals_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumberofBeneficiaries</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Count of Beneficiaries Equals Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_End_of_Loop_is_Reached</name>
        <label>Check Whether End of Loop is Reached</label>
        <locationX>1873</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Continue_Payload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_of_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountOfBeneficiaries</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Payload</targetReference>
            </connector>
            <label>End of Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Beneficiary_Ids</name>
        <label>Match Beneficiary Ids</label>
        <locationX>697</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Policy_Beneficiaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Beneficiary_Ids_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentBeneficiary.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectedBeneficiaryForUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Beneficiary Ids Match</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BeneficiaryRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RelationshipToInsured</picklistField>
        <picklistObject>InsurancePolicyParticipant</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PolicyList</name>
        <dataType>String</dataType>
        <displayField>PolicyName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameInsuredId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>PolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>PolicyName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Policy Beneficiary Information {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Policy Beneficiary Details</label>
    <loops>
        <name>Iterate_Over_Beneficiary_Ids</name>
        <label>Iterate Over Beneficiary Ids</label>
        <locationX>356</locationX>
        <locationY>961</locationY>
        <assignNextValueToReference>CurrentBeneficiary</assignNextValueToReference>
        <collectionReference>PolicyBeneficiaryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Beneficiary_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Beneficiary_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All_Policy_Beneficiaries</name>
        <label>Loop Through All Policy Beneficiaries</label>
        <locationX>704</locationX>
        <locationY>710</locationY>
        <assignNextValueToReference>CurrentBeneficiary</assignNextValueToReference>
        <collectionReference>PolicyBeneficiaryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Beneficiary_Ids</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Beneficiary_Share_List</name>
        <label>Loop Through Beneficiary Share List</label>
        <locationX>1448</locationX>
        <locationY>670</locationY>
        <assignNextValueToReference>CurrentBeneficiary</assignNextValueToReference>
        <collectionReference>UpdatedBeneficiaryShares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Beneficiary_Share_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>1751</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Updated_Beneficiary_Share_Percentage_to_Description</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentBeneficiary.PrimaryParticipantAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BeneficiaryFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BeneficiaryLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>872</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Beneficiary_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BeneficiaryAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>363</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_a_Policy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Beneficiary_List</name>
        <label>Get Policy Beneficiary List</label>
        <locationX>358</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Beneficiaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Beneficiary</stringValue>
            </value>
        </filters>
        <object>InsurancePolicyParticipant</object>
        <outputReference>PolicyBeneficiaryList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BeneficiarySharePercentage</queriedFields>
        <queriedFields>PrimaryParticipantAccountId</queriedFields>
        <queriedFields>RelatedParticipantAccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Beneficiary_Share</name>
        <label>Get Updated Beneficiary Share</label>
        <locationX>1293</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Beneficiary_Share_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Beneficiary</stringValue>
            </value>
        </filters>
        <object>InsurancePolicyParticipant</object>
        <outputReference>UpdatedBeneficiaryShares</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BeneficiarySharePercentage</queriedFields>
        <queriedFields>PrimaryParticipantAccountId</queriedFields>
    </recordLookups>
    <screens>
        <name>Beneficiary_Share_Total_Exceeds_100_Percent</name>
        <label>Beneficiary Share Total Exceeds 100 Percent</label>
        <locationX>902</locationX>
        <locationY>580</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Sum_of_Beneficiary_Shares</targetReference>
        </connector>
        <fields>
            <name>TotalShareNotEqualto100</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The beneficiary share percentages must add up to 100. Adjust the values and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_a_Policy</name>
        <label>Choose a Policy</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Policy_Beneficiary_List</targetReference>
        </connector>
        <fields>
            <name>Policy_Name</name>
            <choiceReferences>PolicyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Policy Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1855</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>Case Number: {!CaseNumber}
{!CaseDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BeneficiaryDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Beneficiary Share Percentages&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplaySharePercentage</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>PolicyBeneficiaryColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>BeneficiaryIdCollector</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>388</locationX>
        <locationY>772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_a_Policy</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The selected policy has no beneficiaries. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>840</locationX>
        <locationY>1062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage2</name>
        <label>ErrorMessage2</label>
        <locationX>541</locationX>
        <locationY>1176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Beneficiary_to_Update</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select at least one beneficiary.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Beneficiary_to_Update</name>
        <label>Select Beneficiary to Update</label>
        <locationX>703</locationX>
        <locationY>1069</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_a_Beneficiary_is_Selected</targetReference>
        </connector>
        <fields>
            <name>Beneficiary</name>
            <fieldText>&lt;p&gt;Select a beneficiary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayBeneficiaries</name>
            <extensionName>builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>PolicyBeneficiaryColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>BeneficiaryIdCollector</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBeneficiaryForUpdate</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Beneficiary_Details</name>
        <label>Update Beneficiary Details</label>
        <locationX>1007</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_of_Beneficiaries</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountDetails.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountDetails.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountDetails.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountDetails.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpecifySharePercentage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Set Beneficiary Share Percentages&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Adjust share percentages so that they add up to 100&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AdjustBeneficiaryShares</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>PolicyBeneficiaryColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>BeneficiaryIdCollector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableColName</name>
                <value>
                    <stringValue>BeneficiarySharePercentage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>1768</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>1638</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Update Policy Beneficiary Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>AddBeneficiaryDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Add Beneficiary
First Name: 
Last Name: 
Phone:</text>
    </textTemplates>
    <textTemplates>
        <name>BeneficiaryChangeDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Beneficiary Id: {!SelectedBeneficiaryForUpdate}
Beneficiary First Name: {!First_Name}
Beneficiary Last Name: {!Last_Name}
Beneficiary Phone: {!Phone}
Beneficiary Email Address: {!Email_Address}{!TLineBreak}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Update Policy Beneficiary Details
{!DescriptionVariable}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
&quot;FlowName&quot;:&quot;Update Policy Beneficiary Details&quot;,
&quot;ServiceRequestNumber&quot;:&quot;{!CaseNumber}&quot;,
&quot;ServiceRequestId&quot;:&quot;{!CaseId}&quot;,
&quot;AccountId&quot;:&quot;{!recordId}&quot;,
&quot;PolicyId&quot;:&quot;{!PolicyId}&quot;,
&quot;ParticipantId&quot;: &quot;{!SelectedBeneficiaryForUpdate}&quot;,
&quot;ParticipantFirstName&quot;: &quot;{!First_Name}&quot;,
&quot;ParticipantLastName&quot;: &quot;{!Last_Name}&quot;,
&quot;ParticipantEmail&quot;: &quot;{!Email_Address}&quot;,
&quot;ParticipantPhone&quot;: &quot;{!Phone}&quot;,
{!AdditionalPayload}
}</text>
    </textTemplates>
    <textTemplates>
        <name>TLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CLineBreak}
{!CLineBreak}</text>
    </textTemplates>
    <variables>
        <name>AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddBeneficiaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AdditionalPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>BeneficiaryAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryIdCollector</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficiaryShareDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountNumberofBeneficiaries</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOfBeneficiaries</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentBeneficiary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>CurrentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DescriptionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OperationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update Beneficiary Share</stringValue>
        </value>
    </variables>
    <variables>
        <name>PolicyBeneficiaryColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyBeneficiaryList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>SelectedBeneficiaryForUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SumofBeneficiaryShare</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TempVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedBeneficiaryShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>UpdatedShareIdCollector</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
