flows/FinServFlowsExt__Order_Checks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Billing_Address</name>
        <choiceText>{!BillingAddressTemplate}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Address</name>
        <choiceText>{!ShippingAddressTemplate}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping address</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100</name>
        <choiceText>100</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100</stringValue>
        </value>
    </choices>
    <choices>
        <name>X25</name>
        <choiceText>25</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25</stringValue>
        </value>
    </choices>
    <choices>
        <name>X50</name>
        <choiceText>50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>AccountsList</name>
        <dataType>String</dataType>
        <displayField>FinServ__FinancialAccountNumber__c</displayField>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>FinServ__FinancialAccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Checking</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__FinancialAccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Savings</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__FinancialAccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash Management Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>AccountNumber</assignToReference>
            <field>FinServ__FinancialAccountNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinancialAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>FinServ__FinancialAccountNumber__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Order Checks {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Checks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>434</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_an_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>291</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1071</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Case Number: {!CaseNumber}&lt;/p&gt;&lt;p&gt;{!CaseDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>350</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Financial_Account</name>
        <label>Select a Financial Account</label>
        <locationX>180</locationX>
        <locationY>78</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>Account_Number</name>
            <choiceReferences>AccountsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Checks</name>
            <choiceReferences>X25</choiceReferences>
            <choiceReferences>X50</choiceReferences>
            <choiceReferences>X100</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>X25</defaultSelectedChoiceReference>
            <fieldText>Number of Checks</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_an_Address</name>
        <label>Select an Address</label>
        <locationX>706</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
        <fields>
            <name>Send_to</name>
            <choiceReferences>Billing_Address</choiceReferences>
            <choiceReferences>Shipping_Address</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Billing_Address</defaultSelectedChoiceReference>
            <fieldText>Send to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_a_Financial_Account</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>948</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>863</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Order Checks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>BillingAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Billing address ({!AccountDetails.BillingStreet} {!AccountDetails.BillingCity} {!AccountDetails.BillingState} {!AccountDetails.BillingCountry} {!AccountDetails.BillingPostalCode})</text>
    </textTemplates>
    <textTemplates>
        <description>Create a Service Request for requesting a new check book.</description>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Order Checks
Account Number: {!AccountNumber}
Number of Checks: {!Number_of_Checks}
Send to: {!Send_to}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Order Checks&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;FinancialAccountId&quot;: &quot;{!FinancialAccountId}&quot;,
  &quot;NumberofChecks&quot;: &quot;{!Number_of_Checks}&quot;,
  &quot;Sendto&quot;: &quot;{!Send_to}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>ShippingAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Shipping address ({!AccountDetails.ShippingStreet} {!AccountDetails.ShippingCity} {!AccountDetails.ShippingState} {!AccountDetails.ShippingCountry} {!AccountDetails.ShippingPostalCode})</text>
    </textTemplates>
    <variables>
        <name>AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
