flows/FinServFlowsExt__Update_Billing_Date_and_Frequency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>AccountList</name>
        <dataType>String</dataType>
        <displayField>FinServ__FinancialAccountNumber__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>FinancialAccount.FinServ__NextStatementDate__c</assignToReference>
            <field>FinServ__NextStatementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinancialAccount.FinServ__StatementFrequency__c</assignToReference>
            <field>FinServ__StatementFrequency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinancialAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinServ__StatementFrequency__c</picklistField>
        <picklistObject>FinServ__FinancialAccount__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Update Billing Date and Frequency {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Billing Date and Frequency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>398</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Billing_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Date</name>
        <label>Update Billing Date</label>
        <locationX>731</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinServ__NextStatementDate__c</field>
            <value>
                <elementReference>New_Billing_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__StatementFrequency__c</field>
            <value>
                <elementReference>New_Billing_Frequency</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccount__c</object>
    </recordUpdates>
    <screens>
        <name>Change_Billing_Date</name>
        <label>Change Billing Date</label>
        <locationX>556</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Billing_Date</targetReference>
        </connector>
        <fields>
            <name>CurrentBillingDate</name>
            <fieldText>&lt;p&gt;Current Billing Date: {!FinancialAccount.FinServ__NextStatementDate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentBillingFrequency</name>
            <fieldText>&lt;p&gt;Current Billing Frequency: {!FinancialAccount.FinServ__StatementFrequency__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Billing_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FinancialAccount.FinServ__NextStatementDate__c</elementReference>
            </defaultValue>
            <fieldText>New Billing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Billing_Frequency</name>
            <choiceReferences>BillingFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Billing Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1125</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Case Number: {!CaseNumber}&lt;/p&gt;&lt;p&gt;{!CaseDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>400</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Financial_Account</name>
        <label>Select a Financial Account</label>
        <locationX>181</locationX>
        <locationY>79</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>Account_Number</name>
            <choiceReferences>AccountList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_a_Financial_Account</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>965</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>841</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Update Billing Date and Frequency  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Update Billing Date and Frequency
Account Number: {!Account_Number}
New Billing Date: {!New_Billing_Date}
New Billing Frequency: {!New_Billing_Frequency}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Update Billing Date and Frequency&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;FinancialAccountId&quot;: &quot;{!Account_Number}&quot;,
  &quot;NewBillingDate&quot;: &quot;{!New_Billing_Date}&quot;,
  &quot;NewBillingFrequency&quot;: &quot;{!New_Billing_Frequency}&quot;
}</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contactlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FinancialAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>FinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001B000000oLgsRIAS</stringValue>
        </value>
    </variables>
</Flow>
