flows/FinServFlowsExt__Initiate_FNOL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Account_Id_to_Policy_Participant_Collection</name>
        <label>Add Account Id to Policy Participant Collection</label>
        <locationX>678</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>PolicyParticipantCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Policy_Participants_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Claim_Participant</name>
        <label>Add Claim Participant</label>
        <locationX>1424</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClaimParticipantExtended</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPolicyParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_More_Participants_Continued</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_New_Record_To_Participant</name>
        <label>Append New Record To Participant</label>
        <locationX>1423</locationX>
        <locationY>1277</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantExtended.ParticipantAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantExtended.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipantRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantExtended.ClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClaimId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantExtended.IsInjured</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipantInjured</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Claim_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Participant_Flag</name>
        <label>Assign Additional Participant Flag</label>
        <locationX>1021</locationX>
        <locationY>1555</locationY>
        <assignmentItems>
            <assignToReference>AddParticipantsSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_Variables_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Participant_Flag_0</name>
        <label>Assign Additional Participant Flag</label>
        <locationX>678</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>AddParticipantsSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_Variables_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claim_Number</name>
        <label>Assign Claim Number</label>
        <locationX>673</locationX>
        <locationY>1326</locationY>
        <assignmentItems>
            <assignToReference>ClaimNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!AccountLastName}, {!Policy_Name}, {!Date_and_Time_of_Loss}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Claim_Participants</name>
        <label>Collect Claim Participants</label>
        <locationX>1421</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClaimParticipantRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Policy_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Policy_Participant_Ids</name>
        <label>Collect Policy Participant Ids</label>
        <locationX>523</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>PolicyParticipantCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyParticipantsIterator.PrimaryParticipantAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Policy_Participants_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Iterator_To_Collection</name>
        <label>Convert Iterator To Collection</label>
        <locationX>1296</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>EmptyCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IteratorOverExistingPolicyParticipants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Participant_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Claim_Participants</name>
        <label>Count Claim Participants</label>
        <locationX>1544</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ClaimParticipantCollector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payload_Elements_for_Each_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Selected_Participants</name>
        <label>Count Selected Participants</label>
        <locationX>888</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>CountofSelectedParticipants</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedPolicyParticipants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Count_of_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Claim_Participant_Block</name>
        <label>Create Claim Participant Block</label>
        <locationX>2153</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;ClaimParticipantId&quot;: &quot;{!ClaimParticipantRecordIterator.Id}&quot;,{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;ClaimParticipantAccountId&quot;: &quot;{!ClaimParticipantRecordIterator.ParticipantAccountId}&quot;,{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;ClaimParticipantRole&quot;: &quot;{!ClaimParticipantRecordIterator.Roles}&quot;,{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;ClaimParticipantisInjured&quot;: &quot;{!ClaimParticipantRecordIterator.IsInjured}&quot;{!TLineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofClaimParticipantIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClaimParticipantRecordIterator.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_Count_for_Claim_Participant_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Claim_Participant_Record</name>
        <label>Create Claim Participant Record</label>
        <locationX>1530</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantRecord.ClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClaimId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantRecord.ParticipantAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratorOverExistingPolicyParticipants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantRecord.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_Role_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimParticipantRecord.IsInjured</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injured</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Claim_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Columns_For_Displaying_Claim_Participants</name>
        <label>Create Columns For Displaying Claim Participants</label>
        <locationX>1687</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>ColumnsforClaimParticipantDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ParticipantAccountId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColumnsforClaimParticipantDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Roles</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColumnsforClaimParticipantDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsInjured</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Of_Loop</name>
        <label>End Of Loop</label>
        <locationX>1688</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payload_Elements_for_Each_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_End_of_Loop</name>
        <label>Not End of Loop</label>
        <locationX>1808</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>ClaimParticipantBlockforPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payload_Elements_for_Each_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Variables</name>
        <label>Set Account Variables</label>
        <locationX>888</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>AccountFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_Role_2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantInjured</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injured_2_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAdditionalParticipantFlag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Variables_0</name>
        <label>Set Account Variables</label>
        <locationX>1032</locationX>
        <locationY>1743</locationY>
        <assignmentItems>
            <assignToReference>AccountFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_Role_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantInjured</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injured_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Up_Additional_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Additional_Participant_Flag_0</name>
        <label>Set Additional Participant Flag</label>
        <locationX>885</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>AddParticipantsSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Up_Additional_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Addnl_Participant_Flag</name>
        <label>Set Additional Participant Flag</label>
        <locationX>1168</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>AddParticipantsSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Up_Additional_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_Columns_for_Claim_Participants</name>
        <label>Assign Columns for Claim Participants</label>
        <locationX>679</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>ColumnsforClaimParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColumnsforClaimParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Id_to_Policy_Participant_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>CLineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_More_Participants_Continued</name>
        <label>Add More Participants Continued</label>
        <locationX>1311</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>Create_Claim_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Participants_is_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddParticipantsSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Additional_Participants</targetReference>
            </connector>
            <label>Add Participants is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_More_Participants_is_True</name>
        <label>Add More Participants is True</label>
        <locationX>1299</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>Create_Claim_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Participants_Is_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Add_Participants_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Additional_Participants</targetReference>
            </connector>
            <label>More Participants Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>AuthoritiesNotified</name>
        <label>Authorities Notified</label>
        <locationX>340</locationX>
        <locationY>1291</locationY>
        <defaultConnector>
            <targetReference>Enter_Authority_Information_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Authorities_Are_Not_Notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Law_Enforcement_Notified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repair_Shop_Identified</targetReference>
            </connector>
            <label>Authorities Are Not Notified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Branch_Based_on_Policy_Type</name>
        <label>Branch Based on Policy Type</label>
        <locationX>359</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Policy_Type_is_Not_Auto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Policy_type_is_Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Policy_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Policy_Asset</targetReference>
            </connector>
            <label>Policy Type is Auto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Count_of_Selected_Records</name>
        <label>Check the Count of Selected Records</label>
        <locationX>880</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Existing_Policy_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Selected_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofSelectedParticipants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Additional_Participants_0</targetReference>
            </connector>
            <label>No Selected Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAdditionalParticipantFlag</name>
        <label>Check Additional Participant Flag</label>
        <locationX>879</locationX>
        <locationY>1005</locationY>
        <defaultConnector>
            <targetReference>Set_Additional_Participant_Flag_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Participant_Flag_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Participants_2_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Addnl_Participant_Flag</targetReference>
            </connector>
            <label>Additional Participant Flag is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_of_Count_for_Claim_Participant_Collection</name>
        <label>End of Count for Claim Participant Collection</label>
        <locationX>1545</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>Not_End_of_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_of_Count_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClaimParticipantCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Of_Loop</targetReference>
            </connector>
            <label>End of Count Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Current_Accounts_Fetched</name>
        <label>No Current Accounts Fetched</label>
        <locationX>1283</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Append_New_Record_To_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Id_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Person_Account</targetReference>
            </connector>
            <label>Account Id is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repair_Shop_Identified</name>
        <label>Repair Shop Identified</label>
        <locationX>339</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Enter_Repair_Shop_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repair_Shop_is_Not_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Repair_Shop_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_a_Visit</targetReference>
            </connector>
            <label>Repair Shop is Not Identified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Additional_Participant_Flag_2</name>
        <label>Set Additional Participant Flag 2</label>
        <locationX>1011</locationX>
        <locationY>1428</locationY>
        <defaultConnector>
            <targetReference>Assign_Additional_Participant_Flag_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Participant_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Participants_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Additional_Participant_Flag</targetReference>
            </connector>
            <label>Additional Participant is True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssetList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicyAsset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClaimParticipantRoles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>ClaimParticipant</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PolicyList</name>
        <dataType>String</dataType>
        <displayField>PolicyName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameInsuredId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>PolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Policy_Type</assignToReference>
            <field>PolicyType</field>
        </outputAssignments>
        <valueField>PolicyName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Initiate FNOL {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Initiate FNOL</label>
    <loops>
        <name>Create_Payload_Elements_for_Each_Participant</name>
        <label>Create Payload Elements for Each Participant</label>
        <locationX>1686</locationX>
        <locationY>702</locationY>
        <assignNextValueToReference>ClaimParticipantRecordIterator</assignNextValueToReference>
        <collectionReference>ClaimParticipantCollector</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Claim_Participant_Block</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Columns_For_Displaying_Claim_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Policy_Participants_String</name>
        <label>Create Policy Participants String</label>
        <locationX>677</locationX>
        <locationY>747</locationY>
        <assignNextValueToReference>PolicyParticipantsIterator</assignNextValueToReference>
        <collectionReference>PolicyParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Policy_Participant_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_Policy_Participants</name>
        <label>Loop Through Existing Policy Participants</label>
        <locationX>1307</locationX>
        <locationY>567</locationY>
        <assignNextValueToReference>IteratorOverExistingPolicyParticipants</assignNextValueToReference>
        <collectionReference>SelectedPolicyParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Convert_Iterator_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Participants2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Claim</name>
        <label>Create Claim</label>
        <locationX>676</locationX>
        <locationY>1182</locationY>
        <assignRecordIdToReference>ClaimId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Policy_Participants</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncidentSiteCity</field>
            <value>
                <elementReference>Loss_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncidentSiteCountry</field>
            <value>
                <elementReference>Loss_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncidentSitePostalCode</field>
            <value>
                <elementReference>Loss_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncidentSiteState</field>
            <value>
                <elementReference>Loss_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncidentSiteStreet</field>
            <value>
                <elementReference>Loss_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuredAssetId</field>
            <value>
                <elementReference>Policy_Asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAuthoritiesNotified</field>
            <value>
                <elementReference>Law_Enforcement_Notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDrivable</field>
            <value>
                <elementReference>Vehicle_Operational</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LossDate</field>
            <value>
                <elementReference>Date_and_Time_of_Loss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ClaimNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyNumberId</field>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RepairShop</field>
            <value>
                <elementReference>Repair_Shop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RepairShopLocation</field>
            <value>
                <elementReference>Repair_Shop_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDate</field>
            <value>
                <elementReference>Report_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportNumber</field>
            <value>
                <elementReference>Report_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportingAuthority</field>
            <value>
                <elementReference>Law_Enforcement_Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitDate</field>
            <value>
                <elementReference>Adjuster_Inspection_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitSite</field>
            <value>
                <elementReference>Inspection_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Claim_Participants</name>
        <label>Create Claim Participants</label>
        <locationX>1422</locationX>
        <locationY>982</locationY>
        <connector>
            <targetReference>Count_Claim_Participants</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputReference>ClaimParticipantCollector</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>1438</locationX>
        <locationY>1477</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Append_New_Record_To_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>AccountFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>AccountLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>AccountPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>371</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Account_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Participants</name>
        <label>Get Policy Participants</label>
        <locationX>677</locationX>
        <locationY>1072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setup_Columns_for_Claim_Participants</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicyParticipant</object>
        <outputReference>PolicyParticipants</outputReference>
        <queriedFields>RelatedParticipantAccountId</queriedFields>
        <queriedFields>PrimaryParticipantAccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Account_Name</name>
        <label>Look Up Account Name</label>
        <locationX>371</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Policy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Additional_Participant</name>
        <label>Look Up Additional Participant</label>
        <locationX>1168</locationX>
        <locationY>1582</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Current_Accounts_Fetched</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountPhone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Participants2</name>
        <label>Add More Participants</label>
        <locationX>1307</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_More_Participants_is_True</targetReference>
        </connector>
        <fields>
            <name>Add_Participants_1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add more claim participants?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>2094</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseConfirmation</name>
            <fieldText>Case Number: {!CaseNumber}
{!Case_Description}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimParticipants</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Claim Participants&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayClaimParticipants</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ColumnsforClaimParticipantDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>CollectionofClaimParticipantIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableColName</name>
                <value>
                    <stringValue>Roles</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmptyCollectionVariable</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Additional_Participants</name>
        <label>Enter Additional Participants</label>
        <locationX>1065</locationX>
        <locationY>1186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Additional_Participant_Flag_2</targetReference>
        </connector>
        <fields>
            <name>CurrentClaimParticipants</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Claim Participants&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentParticipants</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ColumnsforClaimParticipants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>SelectedPolicyParticipants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>ValidationMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TempVariable</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EnterAdditionalParticipants</name>
            <fieldText>&lt;p&gt;{!TLineBreak}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;New Claim Participant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Participant_Role_2</name>
            <choiceReferences>ClaimParticipantRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Participant Role</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Injured_2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Injured</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Participants_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add more claim participants?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Additional_Participants_0</name>
        <label>Enter Additional Participants</label>
        <locationX>888</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Account_Variables</targetReference>
        </connector>
        <fields>
            <name>EnterAdditionalParticipants_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add Claim Participant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_0</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_0</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_0},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_0</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Participant_Role_2_0</name>
            <choiceReferences>ClaimParticipantRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Participant Role</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Injured_2_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Injured</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Participants_2_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add more claim participants?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Authority_Information_Details</name>
        <label>Enter Authority Information Details</label>
        <locationX>485</locationX>
        <locationY>1348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Repair_Shop_Identified</targetReference>
        </connector>
        <fields>
            <name>Law_Enforcement_Agency</name>
            <dataType>String</dataType>
            <fieldText>Law Enforcement Agency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Report_Number</name>
            <dataType>String</dataType>
            <fieldText>Report Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Report_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Report Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select a report date and time that&apos;s after  the loss date and time and before the current date and time. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(DATETIMEVALUE({!Report_Date_Time})&lt;DATETIMEVALUE({!$Flow.CurrentDateTime})) &amp;&amp; (DATETIMEVALUE({!Report_Date_Time})&gt;DATETIMEVALUE({!Date_and_Time_of_Loss}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Repair_Shop_Details</name>
        <label>Enter Repair Shop Details</label>
        <locationX>354</locationX>
        <locationY>1719</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Schedule_a_Visit</targetReference>
        </connector>
        <fields>
            <name>Repair_Shop</name>
            <dataType>String</dataType>
            <fieldText>Repair Shop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Repair_Shop_Address</name>
            <fieldText>Repair Shop Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>537</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen 2</label>
        <locationX>1825</locationX>
        <locationY>1854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FNOL_Questionnaire</name>
        <label>FNOL Questionnaire</label>
        <locationX>360</locationX>
        <locationY>1041</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FNOL_Questionnaire_2</targetReference>
        </connector>
        <fields>
            <name>Date_and_Time_of_Loss</name>
            <dataType>DateTime</dataType>
            <fieldText>Loss Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select a date and time that&apos;s before the current date and time. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>DATETIMEVALUE({!Date_and_Time_of_Loss})&lt; DATETIMEVALUE ({!$Flow.CurrentDateTime})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Incident_Site</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Loss Location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Loss_City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loss_Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loss_Zip</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loss_State</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loss_Street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Summary</name>
            <fieldText>Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FNOL_Questionnaire_2</name>
        <label>FNOL Questionnaire - 2</label>
        <locationX>347</locationX>
        <locationY>1161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AuthoritiesNotified</targetReference>
        </connector>
        <fields>
            <name>Law_Enforcement_Notified</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Law enforcement notified</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vehicle_Operational</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Vehicle operational</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Repair_Shop_Selected</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Repair shop selected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Policy_Type_is_Not_Auto</name>
        <label>Policy Type is Not Auto</label>
        <locationX>180</locationX>
        <locationY>819</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PolicyTypeIsNotAuto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select an auto insurance policy.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_a_Visit</name>
        <label>Schedule a Visit</label>
        <locationX>673</locationX>
        <locationY>1568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Claim_Number</targetReference>
        </connector>
        <fields>
            <name>Adjuster_Inspection_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Adjuster Inspection Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select a date and time that&apos;s after the current date and time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(DATETIMEVALUE({!Adjuster_Inspection_Date_and_Time})&gt;= DATETIMEVALUE ({!$Flow.CurrentDateTime}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Inspection_Address</name>
            <fieldText>Inspection Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Participant_Role</name>
        <label>Select Participant Role</label>
        <locationX>1531</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Claim_Participant_Record</targetReference>
        </connector>
        <fields>
            <name>ClaimParticipantsHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Claim Participants&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PolicyParticipant</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ColumnsforClaimParticipants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>EmptyCollectionVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TempVariable</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Participant_Role_1</name>
            <choiceReferences>ClaimParticipantRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Participant Role</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Injured</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Injured</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Participants</name>
        <label>Select Participants</label>
        <locationX>671</locationX>
        <locationY>582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Participants</targetReference>
        </connector>
        <fields>
            <name>SelectPolicyParticipant</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Policy Participants&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select the policy participants you want to add as claim participants&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PolicyParticipantsdetails</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ColumnsforClaimParticipants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>PolicyParticipantCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPolicyParticipants</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Policy</name>
        <label>Select Policy</label>
        <locationX>370</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Branch_Based_on_Policy_Type</targetReference>
        </connector>
        <fields>
            <name>Policy_Name</name>
            <choiceReferences>PolicyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Policy Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Policy_Asset</name>
        <label>Select Policy Asset</label>
        <locationX>365</locationX>
        <locationY>921</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FNOL_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>Policy_Asset</name>
            <choiceReferences>AssetList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>1949</locationX>
        <locationY>523</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>1817</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Initiate FNOL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Case_Description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Initiate FNOL
Claim Number: {!ClaimNumber}
Policy Name: {!Policy_Name}
Loss Location: {!Loss_Street} {!Loss_State} {!Loss_Country} {!Loss_Zip}
Law Enforcement Notified: {!Law_Enforcement_Notified}
Law Enforcement Agency: {!Law_Enforcement_Agency}
Report Number: {!Report_Number}
Report Date and Time: {!Report_Date_Time}
Vehicle Operational: {!Vehicle_Operational}
Repair Shop Selected: {!RepairShop_Identified}
Repair Shop Name: {!Repair_Shop}
Repair Shop Address: {!Repair_Shop_Address}
Adjuster Inspection Date and Time: {!Adjuster_Inspection_Date_and_Time}
Inspection Address: {!Inspection_Address}
Number of Claim Participants: {!ClaimParticipantCount}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Initiate FNOL&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;Claim&quot;: {
    &quot;AccountId&quot;: &quot;{!recordId}&quot;,
    &quot;PolicyId&quot;: &quot;{!PolicyId}&quot;,
    &quot;InsuredAssetId&quot;: &quot;{!AssetList}&quot;,
    &quot;ClaimNumber&quot;: &quot;{!ClaimNumber}&quot;,
    &quot;ClaimId&quot;: &quot;{!ClaimId}&quot;,
    &quot;DateandTimeofLoss&quot;: &quot;{!Date_and_Time_of_Loss}&quot;,
    &quot;IncidentSiteStreet&quot;: &quot;{!Loss_Street}&quot;,
    &quot;IncidentSiteCity&quot;: &quot;{!Loss_City}&quot;,
    &quot;IncidentSiteState&quot;: &quot;{!Loss_State}&quot;,
    &quot;IncidentSiteCountry&quot;: &quot;{!Loss_Country}&quot;,
    &quot;IncidentSitePostalCode&quot;: &quot;{!Loss_Zip}&quot;,
    &quot;Summary&quot;: &quot;{!Summary}&quot;,
    &quot;LawEnforcementNotified&quot;: &quot;{!Law_Enforcement_Notified}&quot;,
    &quot;ReportingAuthority&quot;: &quot;{!Law_Enforcement_Agency}&quot;,
    &quot;ReportNumber&quot;: &quot;{!Report_Number}&quot;,
    &quot;ReportDateTime&quot;: &quot;{!Report_Date_Time}&quot;,
    &quot;VehicleOperational&quot;: &quot;{!Vehicle_Operational}&quot;,
    &quot;RepairshopIdentified&quot;: &quot; {!Repair_Shop_Selected}&quot;,
    &quot;RepairShopName&quot;: &quot;{!Repair_Shop}&quot;,
    &quot;RepairShopLocation&quot;: &quot;{!Repair_Shop_Address}&quot;,
    &quot;VisitDateandTime&quot;: &quot;{!Adjuster_Inspection_Date_and_Time}&quot;,
    &quot;VisitAddress&quot;: &quot;{!Inspection_Address}&quot;
  },
  &quot;ClaimParticipant&quot;: [{!ClaimParticipantBlockforPayload}
]
}</text>
    </textTemplates>
    <textTemplates>
        <name>TLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CLineBreak}
{!CLineBreak}</text>
    </textTemplates>
    <variables>
        <name>AccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddParticipantsSelection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClaimDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClaimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0ZkRM0000004CJA0A2</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClaimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClaimParticipantBlockforPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClaimParticipantCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClaimParticipant</objectType>
    </variables>
    <variables>
        <name>ClaimParticipantCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClaimParticipantExtended</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClaimParticipant</objectType>
    </variables>
    <variables>
        <name>ClaimParticipantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClaimParticipant</objectType>
    </variables>
    <variables>
        <name>ClaimParticipantRecordIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClaimParticipant</objectType>
    </variables>
    <variables>
        <name>CollectionofClaimParticipantIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ColumnsforClaimParticipantDisplay</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ColumnsforClaimParticipants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountofSelectedParticipants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmptyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyCollectionVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsVehicleDriveable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IterateOverClaimParticipants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IteratorOverExistingPolicyParticipants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParticipantInjured</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Injured_2_0</elementReference>
        </value>
    </variables>
    <variables>
        <name>ParticipantRole</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Policy_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyParticipantCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>PolicyParticipantsIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001RM000003rO1YYAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>RepairShop_Identified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPolicyParticipants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValidationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
