flows/FinServFlowsExt__Send_Documents_Insurance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Billing_Address</name>
        <choiceText>{!BillingAddressTemplate}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Claim_Form</name>
        <choiceText>Claim Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Card</name>
        <choiceText>Insurance Policy Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Policy_Copy</name>
        <choiceText>Insurance Policy Copy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy Copy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Policy_Prospectus</name>
        <choiceText>Insurance Policy Prospectus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy Prospectus</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premium_Receipt</name>
        <choiceText>Premium Receipt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premium Receipt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Address</name>
        <choiceText>{!ShippingAddressTemplate}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Address</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>PolicyList</name>
        <dataType>String</dataType>
        <displayField>PolicyName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameInsuredId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>PolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>PolicyName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Send Documents (Insurance) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Send Documents (Insurance)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>482</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>327</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Address_Selection</name>
        <label>Address Selection</label>
        <locationX>686</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
        <fields>
            <name>Send_to</name>
            <choiceReferences>Billing_Address</choiceReferences>
            <choiceReferences>Shipping_Address</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Billing_Address</defaultSelectedChoiceReference>
            <fieldText>Send to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1071</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>Case Number: {!CaseNumber}
{!CaseDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Correspondence_Selection</name>
        <label>Correspondence Selection</label>
        <locationX>180</locationX>
        <locationY>97</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>Policy_Name</name>
            <choiceReferences>PolicyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Policy Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documents</name>
            <choiceReferences>Insurance_Card</choiceReferences>
            <choiceReferences>Premium_Receipt</choiceReferences>
            <choiceReferences>Insurance_Policy_Copy</choiceReferences>
            <choiceReferences>Policy_Prospectus</choiceReferences>
            <choiceReferences>Claim_Form</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Insurance_Card</defaultSelectedChoiceReference>
            <fieldText>Documents</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>414</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Correspondence_Selection</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Gateway_Record</name>
        <label>Create Case Gateway Record</label>
        <locationX>926</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>839</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Create_Case_Gateway_Record</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Send Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>BillingAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Billing address ({!AccountDetails.BillingStreet} {!AccountDetails.BillingCity} {!AccountDetails.BillingState} {!AccountDetails.BillingCountry} {!AccountDetails.BillingPostalCode})</text>
    </textTemplates>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Send Documents (Insurance)
Policy Name: {!Policy_Name}
Documents and Forms: {!Documents}
Send to: {!Send_to}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Send Documents (Insurance)&quot;,
  &quot;ServiceRequestNumber&quot;: &quot;{!CaseNumber}&quot;,
  &quot;ServiceRequestId&quot;: &quot;{!CaseId}&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;PolicyId&quot;: &quot;{!PolicyId}&quot;,
  &quot;PolicyName&quot;: &quot;{!PolicyList}&quot;,
  &quot;Documents&quot;: &quot;{!Documents}&quot;,
  &quot;Sendto&quot;: &quot;{!Send_to}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>ShippingAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Shipping address ({!AccountDetails.ShippingStreet} {!AccountDetails.ShippingCity} {!AccountDetails.ShippingState} {!AccountDetails.ShippingCountry} {!AccountDetails.ShippingPostalCode})</text>
    </textTemplates>
    <variables>
        <name>AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CorrespondenceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
