flows/Generate_Data_Set.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deploy_Data</name>
        <label>Deploy Data</label>
        <locationX>744</locationX>
        <locationY>980</locationY>
        <actionName>DeployDataAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Finish_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataTemplateId</name>
            <value>
                <elementReference>Get_Data_Set.Data_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationCredentialId</name>
        </inputParameters>
        <inputParameters>
            <name>destinationDataSetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>DATASET</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deployNow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceCredentialId</name>
            <value>
                <elementReference>Source_Credential_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceType</name>
            <value>
                <stringValue>ENVIRONMENT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DeployDataAction</nameSegment>
        <outputParameters>
            <assignToReference>DeploymentId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Org_Credentials</name>
        <label>Validate Org Credentials</label>
        <locationX>744</locationX>
        <locationY>455</locationY>
        <actionName>ValidateOrgAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Org_Is_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>Source_Credential_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateOrgAction</nameSegment>
        <outputParameters>
            <assignToReference>Is_Valid_Org</assignToReference>
            <name>isValidOrg</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Org_Is_Valid</name>
        <label>Check Org Is Valid</label>
        <locationX>736</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Org_Not_Valid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Valid_Org</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Data_Set</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <description>Flow to generate Data Set attachments with the records from the Data Template and selected org as source.</description>
    <environments>Default</environments>
    <formulas>
        <name>Deployment_Object_Api_Name</name>
        <dataType>String</dataType>
        <expression>{!Namespace} &amp; &apos;Deployment__c&apos;</expression>
    </formulas>
    <formulas>
        <name>From_Org_Field_Api_Name</name>
        <dataType>String</dataType>
        <expression>{!Namespace} &amp; &apos;From_Org__c&apos;</expression>
    </formulas>
    <interviewLabel>Generate Data Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Data Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Data_Set</name>
        <label>Get Data Set</label>
        <locationX>744</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deploy_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Data_Set__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Data_Template__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Generate_Data_Set</name>
        <label>Generate Data Set</label>
        <locationX>744</locationX>
        <locationY>308</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Org_Credentials</targetReference>
        </connector>
        <fields>
            <name>Generate_Data_Set_Help_Text</name>
            <fieldText>&lt;p&gt;{!$Label.Generate_Data_Set_Help_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Source_Credential</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>From_Org_Field_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.SelectSourceEnvironment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Deployment_Object_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Source_Credential_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Source_Credential_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Org_Not_Valid_Screen</name>
        <label>Org Not Valid Screen</label>
        <locationX>374</locationX>
        <locationY>1143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Org_Not_Valid_Message</name>
            <fieldText>&lt;p&gt;{!Org_Not_Valid_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>618</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Namespace</name>
        <label>Get Namespace</label>
        <locationX>744</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Generate_Data_Set</targetReference>
        </connector>
        <flowName>Get_Namespace</flowName>
        <outputAssignments>
            <assignToReference>Namespace</assignToReference>
            <name>Namespace</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Flow_Fault</name>
        <label>Handle Flow Fault</label>
        <locationX>1417</locationX>
        <locationY>709</locationY>
        <flowName>Handle_Flow_Fault</flowName>
        <inputAssignments>
            <name>Error_Message_Detail</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Show_Finish_Message</name>
        <label>Show Finish Message</label>
        <locationX>744</locationX>
        <locationY>1145</locationY>
        <flowName>Show_Deployment_Executed_Message</flowName>
        <inputAssignments>
            <name>Finish_Message</name>
            <value>
                <elementReference>Finish_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>DeploymentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Finish_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.DataSet_Execution_Record_Successful}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Org_Not_Valid_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.File_Generate_DataSet_Not_Authenticated_Source_Env}&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Please_Authenticate_Env}&amp;nbsp;&lt;a href=&quot;/{!Source_Credential_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Label.Here}&lt;/a&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DeploymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Is_Valid_Org</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Namespace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the Data Set from the context.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Credential_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
