flows/Get_Promotion_User_Story_Names.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetUserStoryNames</name>
        <label>Get User Story Names</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>GetPromotionUserStoryNames</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateJSONResult</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateResultWithError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobId</name>
            <value>
                <elementReference>jobId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promotionId</name>
            <value>
                <elementReference>GetJob.Step__r.Deployment__r.Promotion__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetPromotionUserStoryNames</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Get Promotion User Story Names {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Promotion User Story Names</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetJob</name>
        <label>Get Job</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserStoryNames</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deployment_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateJSONResult</name>
        <label>Update JSON Result</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetJob.Step__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JsonResult__c</field>
            <value>
                <elementReference>GetUserStoryNames</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateResultWithError</name>
        <label>Update Result with Error</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JsonResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
