flows/Get_Namespace.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Namespace_Variable</name>
        <label>Set Namespace Variable</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Namespace</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Namespace_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>Namespace_Formula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Namespace_Prefix})), {!Namespace_Prefix} &amp; &apos;__&apos;,  &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Get Namespace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Namespace</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Default lookup component uses API names as is. The namespace needs to be taken into account when configuring the component.</description>
        <name>Get_Namespace</name>
        <label>Get Namespace</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Namespace_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CopadoSetupController</stringValue>
            </value>
        </filters>
        <object>ApexClass</object>
        <outputAssignments>
            <assignToReference>Namespace_Prefix</assignToReference>
            <field>NamespacePrefix</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Fault</name>
        <label>Handle Flow Fault</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <flowName>Handle_Flow_Fault</flowName>
        <inputAssignments>
            <name>Error_Message_Detail</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Namespace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Namespace_Prefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
</Flow>
