flows/HealthCloudGA__SubFlow_Care_Barrier_Assessment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Care_Barrier</name>
        <label>Create Care Barrier</label>
        <locationX>368</locationX>
        <locationY>893</locationY>
        <actionName>HealthCloudGA__HcCreateCareBarrierAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_available_barrier_types</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>careBarrierTypeId</name>
            <value>
                <elementReference>BarrierTypeRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isActive</name>
            <value>
                <elementReference>CareProgramEnrolRadioTrue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>BarrierTypeRecord.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <nameSegment>HealthCloudGA__HcCreateCareBarrierAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Care_Program_Enrollee2</name>
        <label>Create Care Program Enrollee</label>
        <locationX>1320</locationX>
        <locationY>824</locationY>
        <actionName>HealthCloudGA__HcCreateCareProgramEnrolleeAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Patient_ContactID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramId</name>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>CPE {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputParameters>
        <nameSegment>HealthCloudGA__HcCreateCareProgramEnrolleeAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>CareProgramEnrolFalse</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>CareProgramEnrolRadioTrue</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes I have family members living with me and I am willing to share their information for further monitoring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AbleToFetchPatientRecord</name>
        <label>AbleToFetchPatientRecord</label>
        <locationX>1116</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Get_Care_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PatientRecordNotFetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>PatientRecordNotFetched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_Barriers</name>
        <label>Check Active Barriers</label>
        <locationX>81</locationX>
        <locationY>601</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Active_Barriers_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BarrierTypesRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BarrierSelectionScreen_0</targetReference>
            </connector>
            <label>If Active Barriers Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_selected_value_is_present</name>
        <label>Check if selected value is present</label>
        <locationX>611</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Loop_over_available_barrier_types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected_value_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BarrierTypeCheckboxGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BarrierTypeRecord.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Barrier_Exists_Check</targetReference>
            </connector>
            <label>selected value present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCareProgramIdExists</name>
        <label>CheckIfCareProgramIdExists</label>
        <locationX>1341</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>CheckIfAlreadyEnrolled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CareProgramConfigured</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCareProgramId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CareProgramName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>CareProgramNotConfigured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Given_Barrier_Found</name>
        <label>Check if given barrier found</label>
        <locationX>618</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Create_Care_Barrier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Given_Barrier_Found_Again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingBarrierIdForPatient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_available_barrier_types</targetReference>
            </connector>
            <label>Given Barrier Found Again</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Barrier_Flow</name>
        <label>If Barrier Flow</label>
        <locationX>313</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Barrier_Flow_is_triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggerBarrierFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Barriers</targetReference>
            </connector>
            <label>Barrier Flow is triggered</label>
        </rules>
        <rules>
            <name>Care_Program_is_triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggerCareProgramFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>CareProgramEnrolFalse</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedCareProgramId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Patient_record_id</targetReference>
            </connector>
            <label>Care Program is triggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Barriers_Exist</name>
        <label>If Barriers Exist</label>
        <locationX>8</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Barriers_Not_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingCareBarrierId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Barrier_Types</targetReference>
            </connector>
            <label>Barriers Not Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfAlreadyEnrolled</name>
        <label>IfAlreadyEnrolled</label>
        <locationX>1063</locationX>
        <locationY>822</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotEnrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlreadyEnrolledId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Care_Program_Enrollee2</targetReference>
            </connector>
            <label>NotEnrolled</label>
        </rules>
    </decisions>
    <description>This flow registers any care barriers, that the person who is taking the assessment might be facing. Apart from that, it enrolls the person and his/her household to a care program</description>
    <dynamicChoiceSets>
        <name>BarrierTypesChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CareBarrierType</object>
        <outputAssignments>
            <assignToReference>BarrierTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BarrierTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>SubFlow : Care Barrier Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SubFlow : Care Barrier Assessment</label>
    <loops>
        <name>Loop_over_available_barrier_types</name>
        <label>Loop over available barrier types</label>
        <locationX>376</locationX>
        <locationY>445</locationY>
        <assignNextValueToReference>BarrierTypeRecord</assignNextValueToReference>
        <collectionReference>BarrierTypesRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_selected_value_is_present</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Person_Life_Event_Record</name>
        <label>Person Life Event Record</label>
        <locationX>1650</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>SendEmailConfirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>EventDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Enrolled to {!CareProgramName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPersonId</field>
            <value>
                <elementReference>PatientContactId</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Barrier_Exists_Check</name>
        <label>Barrier Exists Check</label>
        <locationX>624</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Given_Barrier_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CareBarrierTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BarrierTypeRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>CareBarrier</object>
        <outputAssignments>
            <assignToReference>ExistingBarrierIdForPatient</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CheckIfAlreadyEnrolled</name>
        <label>CheckIfAlreadyEnrolled</label>
        <locationX>1229</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfAlreadyEnrolled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </filters>
        <object>CareProgramEnrollee</object>
        <outputAssignments>
            <assignToReference>AlreadyEnrolledId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Barrier_Types</name>
        <label>Get Barrier Types</label>
        <locationX>10</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Barriers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CareBarrierType</object>
        <outputReference>BarrierTypesRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Barriers</name>
        <label>Get Barriers</label>
        <locationX>277</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Barriers_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>CareBarrier</object>
        <outputAssignments>
            <assignToReference>ExistingCareBarrierId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Program</name>
        <label>Get Care Program</label>
        <locationX>1165</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfCareProgramIdExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </filters>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>CareProgramName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_ContactID</name>
        <label>Get Patient ContactID</label>
        <locationX>1499</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Life_Event_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PatientContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Patient_record_id</name>
        <label>Get the Patient record id</label>
        <locationX>879</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AbleToFetchPatientRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Email_Id</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>BarrierSelectionScreen_0</name>
        <label>BarrierSelectionScreen</label>
        <locationX>195</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_over_available_barrier_types</targetReference>
        </connector>
        <fields>
            <name>BarrierTypeCheckboxGroup</name>
            <choiceReferences>BarrierTypesChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What barriers or obstacles do you face in caring for yourself right now?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1779</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hmm, something’s not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_Barrier_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendEmailConfirmation</name>
        <label>SendEmailConfirmation</label>
        <locationX>1936</locationX>
        <locationY>887</locationY>
        <flowName>HealthCloudGA__SubFlow_ERM_Care_Program_Enrollment_Email</flowName>
        <inputAssignments>
            <name>CareProgramId</name>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailAddress</name>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>leadName</name>
            <value>
                <elementReference>Email_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Following Error Occured: &lt;/b&gt;{!ErrorMsg}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ItsWorking</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;Working&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;Strange&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;Yo&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TakeClinicalAssessment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Would you like to answer some questions?&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AlreadyEnrolledId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BarrierHealthTypeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BarrierTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BarrierTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BarrierTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareBarrierType</objectType>
    </variables>
    <variables>
        <name>BarrierTypesRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareBarrierType</objectType>
    </variables>
    <variables>
        <name>CareProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPEnrolRadioYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
    <variables>
        <name>DefaultAuthFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultAuthFormTextSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingBarrierIdForPatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingCareBarrierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyMemberAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyMemberContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoodBarrierTypeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasSymptoms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseholdAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseholdRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeBarrierRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAssessmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0012x000002l8ARAAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>PatientLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPatientContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCareProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportBarrierTypeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransportBarrierRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggerBarrierFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggerCareProgramFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesEnrolInCPRadio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
