flows/HealthCloudGA__Contact_Collection_for_Community.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Contact_Encounter</name>
        <label>Create Contact Encounter</label>
        <locationX>888</locationX>
        <locationY>628</locationY>
        <actionName>HealthCloudGA__HcCreateContactEncounterAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>encounterDuration</name>
            <value>
                <elementReference>Encounter_Duration_in_minutes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>estimatedParticipantCount</name>
            <value>
                <elementReference>Estimated_Number_of_Participants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>vEncounterLocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Encounter_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>Encounter_Start_Time</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HealthCloudGA__HcCreateContactEncounterAction</nameSegment>
        <outputParameters>
            <assignToReference>ContactEncounterId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>1085</locationX>
        <locationY>748</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Group_Or_Solo_Encounter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>getTask.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HealthCloudGA__HcContactEncounterParticipantController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant_0</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>1244</locationX>
        <locationY>1422</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_More</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Create_Multiple_Leads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HealthCloudGA__HcContactEncounterParticipantController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant_0_0</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>618</locationX>
        <locationY>1205</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HealthCloudGA__HcContactEncounterParticipantController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Encounter_Location_Name</name>
        <label>Set Encounter Location Name</label>
        <locationX>1320</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>vEncounter_Location_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encounter_Location_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_Name_To_Encounter_Name</name>
        <label>Set Location Name To Encounter Name</label>
        <locationX>1325</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>vEncounter_Location_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encounter_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_More</name>
        <label>Set More</label>
        <locationX>1244</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>more</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>more</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_you_want_to_more_participants</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DeclinedtoSpecify</name>
        <choiceText>Declined to Specify</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Event</name>
        <choiceText>Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Group_Encounter</name>
        <choiceText>As part of a group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group_Encounter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>One_To_One</name>
        <choiceText>As an individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One_To_One</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChoice</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Continue_Adding_Participants</name>
        <label>Continue Adding Participants</label>
        <locationX>879</locationX>
        <locationY>1373</locationY>
        <defaultConnector>
            <targetReference>Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_more_participants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Participant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Or_Solo_Encounter</name>
        <label>Is Group Or Solo Encounter</label>
        <locationX>924</locationX>
        <locationY>955</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Encounter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Group_Encounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_want_to_more_participants</targetReference>
            </connector>
            <label>Group Encounter</label>
        </rules>
        <rules>
            <name>Is_Solo_Encounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>One_To_One</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>Solo Encounter</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_account_present</name>
        <label>If account present</label>
        <locationX>183</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Task_Followup_Queue_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Account Id Not null</defaultConnectorLabel>
        <rules>
            <name>If_account_Id_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTask.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error02</targetReference>
            </connector>
            <label>If account Id null</label>
        </rules>
        <rules>
            <name>If_Queue_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_For_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error02_0</targetReference>
            </connector>
            <label>If Queue is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Encounter_Address_Available</name>
        <label>Is Encounter Address Available</label>
        <locationX>879</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Encounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Not Available</defaultConnectorLabel>
        <rules>
            <name>Encounter_Address_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Address.street</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.city</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.province</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.postalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Location_Name_Entered</targetReference>
            </connector>
            <label>Address Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_Name_Entered</name>
        <label>Is Location Name Entered</label>
        <locationX>1131</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Set_Encounter_Location_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entered</defaultConnectorLabel>
        <rules>
            <name>Not_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Location_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_Name_To_Encounter_Name</targetReference>
            </connector>
            <label>Not Entered</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Collection for Community {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Contact Collection for Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Encounter_Location_Address</name>
        <label>Create Encounter Location Address</label>
        <locationX>1439</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Encounter_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Encounter_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vEncounterLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Encounter_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Encounter_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Encounter_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>619</locationX>
        <locationY>916</locationY>
        <connector>
            <targetReference>Create_Task_to_Follow_up_the_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Lead_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Lead_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Individual_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Individual_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Contact Tracing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Lead_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Lead_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Lead_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Lead_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>1431</locationX>
        <locationY>346</locationY>
        <assignRecordIdToReference>vEncounterLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Encounter_Location_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vEncounter_Location_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Multiple_Leads</name>
        <label>Create Multiple Leads</label>
        <locationX>1082</locationX>
        <locationY>1600</locationY>
        <connector>
            <targetReference>Create_Task_for_Following_up_group_leads</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Participant_Lead_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Participant_Lead_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Participant_Lead_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Contact Tracing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Participant_Lead_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Participant_Lead_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Participant_Lead_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Participant_Lead_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Following_up_group_leads</name>
        <label>Create Task for Following up group leads</label>
        <locationX>1243</locationX>
        <locationY>1601</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contact tracing follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Create_Multiple_Leads</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Follow_up_the_lead</name>
        <label>Create Task to Follow up the lead</label>
        <locationX>620</locationX>
        <locationY>1049</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contact tracing follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient_Task_Followup_Queue_Metadata</name>
        <label>Get Patient Task Followup Queue Metadata</label>
        <locationX>336</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Patient_Task_Assignment_Queue__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__Queue_Dev_Name__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>707</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encounter_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Task_Followup_Queue_Metadata.HealthCloudGA__Queue_Dev_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_For_Task</name>
        <label>Get Queue For Task</label>
        <locationX>63</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_account_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTask.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTask</name>
        <label>Get Task</label>
        <locationX>134</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_For_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Participant</name>
        <label>Add Participant</label>
        <locationX>887</locationX>
        <locationY>1601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Multiple_Leads</targetReference>
        </connector>
        <fields>
            <name>IndividualDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Contact Participant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Participant_Lead_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>DeclinedtoSpecify</choiceReferences>
            <choiceReferences>OtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Participant_Lead_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Participant_Lead_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Participant_Lead_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Do_you_want_to_more_participants</name>
        <label>Do you want to add participants</label>
        <locationX>887</locationX>
        <locationY>1163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Adding_Participants</targetReference>
        </connector>
        <fields>
            <name>Add_more_participants</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to add {!more} participants to the encounter?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Encounter_Details</name>
        <label>Encounter Details</label>
        <locationX>707</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Encounter_Address_Available</targetReference>
        </connector>
        <fields>
            <name>Encounter_More_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Provide information about the encounter time and place&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Encounter_Name</name>
            <dataType>String</dataType>
            <fieldText>Encounter Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Encounter_Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Date cannot be in the future&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Encounter_Start_Time} &lt;={!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Encounter_Duration_in_minutes</name>
            <dataType>Number</dataType>
            <fieldText>Encounter duration in minutes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Encounter_Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Encounter Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Encounter_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Encounter Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Estimated_Number_of_Participants</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Number of Participants</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Individual_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Contact Participant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Individual_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Individual_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Gender</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>DeclinedtoSpecify</choiceReferences>
            <choiceReferences>OtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Encounter_Type_Screen</name>
        <label>Encounter Type</label>
        <locationX>707</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encounter_Details</targetReference>
        </connector>
        <fields>
            <name>Encounter_Type</name>
            <choiceReferences>One_To_One</choiceReferences>
            <choiceReferences>Group_Encounter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you encounter or interact with the contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error02</name>
        <label>Error02</label>
        <locationX>499</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoAccount</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The task is not associated with Patient. Please assign patient to the task to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error02_0</name>
        <label>Error02</label>
        <locationX>190</locationX>
        <locationY>635</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoAccount_0</name>
            <fieldText>&lt;p&gt;Assign this task to yourself before you work on it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>618</locationX>
        <locationY>1371</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message</name>
            <fieldText>&lt;p&gt;You have created a contact encounter for the patient.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>89</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>getTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactEncounterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactIdsFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>more</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>personContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEncounter_Location_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Encounter_Location_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>vEncounterLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
