flows/HealthCloudGA__Contact_Outreach.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Bathroom_as_false</name>
        <label>Assign Bathroom as false</label>
        <locationX>2351</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>BathroomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_cooking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cooking</name>
        <label>Assign Cooking as false</label>
        <locationX>2972</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>CookingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Dwelling_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>2350</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>CookingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BathroomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bathroom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_bathroom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Quarantine_Calculation_Varialbe</name>
        <label>Initialise Quarantine Calculation Varialbe</label>
        <locationX>779</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>PQD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinical_Asessment_Settings.HealthCloudGA__PrescribedQuarantineDays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Birthday</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Minor</name>
        <label>Is Minor</label>
        <locationX>1214</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>isMinor</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsentScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoBoolean</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>YesBoolean</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>BooleanYes</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Age</name>
        <label>Check for Age</label>
        <locationX>867</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Clinical_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adult</defaultConnectorLabel>
        <rules>
            <name>Minor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadAge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Clinical_Asessment_Settings.HealthCloudGA__MinorChildAgeLimit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Minor</targetReference>
            </connector>
            <label>Minor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_bathroom</name>
        <label>Check for bathroom</label>
        <locationX>2342</locationX>
        <locationY>1023</locationY>
        <defaultConnector>
            <targetReference>Check_for_cooking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BathroomValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bathroom_as_false</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Birthday</name>
        <label>Check for Birthday</label>
        <locationX>871</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Check_for_Age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exist</defaultConnectorLabel>
        <rules>
            <name>Birthday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.HealthCloudGA__BirthDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Assessment</targetReference>
            </connector>
            <label>Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_consent_present</name>
        <label>Check for consent</label>
        <locationX>1728</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Save_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>If_Consent_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClinicalAssessmentResponse</targetReference>
            </connector>
            <label>If Consent is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_cooking</name>
        <label>Check for cooking</label>
        <locationX>2619</locationX>
        <locationY>1088</locationY>
        <defaultConnector>
            <targetReference>If_Dwelling_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>CookingNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CookingValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cooking</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_flow_executed</name>
        <label>Check if the flow executed</label>
        <locationX>1450</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_for_consent_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consent</defaultConnectorLabel>
        <rules>
            <name>Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClinicalAssessmentResponseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankYouMessage</targetReference>
            </connector>
            <label>No Consnet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Occupation</name>
        <label>Check Occupation</label>
        <locationX>2854</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>ThankYouMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Social_Worker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClinicalAssessmentResponse.HealthCloudGA__Occupation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare support workers, all other, including medical equipment preparers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_indicated_that_you_are_a_Healthcare_worker_Please_contact_your_employer_to_r</targetReference>
            </connector>
            <label>Social Worker</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Dwelling_Provided</name>
        <label>If Dwelling Provided</label>
        <locationX>3070</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>Living_Situatin_Assessment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provided</defaultConnectorLabel>
        <rules>
            <name>NotProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dwelling02</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Living_Situatin_Assessment_0_0</targetReference>
            </connector>
            <label>Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Dwelling_Provided_0</name>
        <label>If Dwelling Provided</label>
        <locationX>2472</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Living_Situatin_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provided</defaultConnectorLabel>
        <rules>
            <name>NotProvided_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dwelling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Living_Situatin_Assessment_0_0_0</targetReference>
            </connector>
            <label>Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result</name>
        <label>Result</label>
        <locationX>1888</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>HousingAssessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Risk</defaultConnectorLabel>
        <rules>
            <name>Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAssessmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Symptomatic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HousingAssessment_0</targetReference>
            </connector>
            <label>Symptomatic</label>
        </rules>
        <rules>
            <name>Asymptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAssessmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asymptomatic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HousingAssessment</targetReference>
            </connector>
            <label>Asymptomatic</label>
        </rules>
    </decisions>
    <description>Contact Outreach flow is used to connect and follow up with exposed contacts of positive cases.</description>
    <dynamicChoiceSets>
        <name>Diagnosis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__ConditionStatus__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DwellingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Dwelling__c</picklistField>
        <picklistObject>HealthCloudGA__HousingAssessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hospitalization</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__HospitalizationStatus__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>LeadAge</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY() ) - YEAR({!Lead.HealthCloudGA__BirthDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuanrantineDuration</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}  + {!PQD}</expression>
    </formulas>
    <interviewLabel>Contact Outreach {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Contact Outreach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_up_Task</name>
        <label>Create Follow up Task</label>
        <locationX>3059</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Create_Social_Barrier</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FollowUpTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Living_Situatin_Assessment</name>
        <label>Living Situatin Assessment</label>
        <locationX>2619</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Create_Social_Barrier</targetReference>
        </connector>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CanQuarantine__c</field>
            <value>
                <elementReference>AbleToQuarantine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Dwelling__c</field>
            <value>
                <elementReference>Dwelling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__IsHomeless__c</field>
            <value>
                <elementReference>Homeless</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__QuarantineLocation__c</field>
            <value>
                <elementReference>QuarantineLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__QuarantineStartDate__c</field>
            <value>
                <elementReference>Quarantine_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__HousingAssessment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Living_Situatin_Assessment_0</name>
        <label>Living Situatin Assessment</label>
        <locationX>2970</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CanPrepareFoodSafely__c</field>
            <value>
                <elementReference>CookingValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Dwelling__c</field>
            <value>
                <elementReference>Dwelling02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__HasPrivateBathroom__c</field>
            <value>
                <elementReference>BathroomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__IsHomeless__c</field>
            <value>
                <elementReference>Homeless_02</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__HousingAssessment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Living_Situatin_Assessment_0_0</name>
        <label>Living Situatin Assessment</label>
        <locationX>3155</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CanPrepareFoodSafely__c</field>
            <value>
                <elementReference>CookingValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__HasPrivateBathroom__c</field>
            <value>
                <elementReference>BathroomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__IsHomeless__c</field>
            <value>
                <elementReference>Homeless_02</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__HousingAssessment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Living_Situatin_Assessment_0_0_0</name>
        <label>Living Situatin Assessment</label>
        <locationX>2620</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Create_Social_Barrier</targetReference>
        </connector>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CanQuarantine__c</field>
            <value>
                <elementReference>AbleToQuarantine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__IsHomeless__c</field>
            <value>
                <elementReference>Homeless</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__QuarantineLocation__c</field>
            <value>
                <elementReference>QuarantineLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__QuarantineStartDate__c</field>
            <value>
                <elementReference>Quarantine_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__HousingAssessment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Clinical_Asessment_Settings</name>
        <label>Clinical Asessment Settings</label>
        <locationX>685</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialise_Quarantine_Calculation_Varialbe</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Clinical_Assessment_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ClinicalAssessmentResponse</name>
        <label>ClinicalAssessmentResponse</label>
        <locationX>1782</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssessmentResponseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HealthCloudGA__Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>533</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clinical_Asessment_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__BirthDate__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Tasks</name>
        <label>Tasks</label>
        <locationX>363</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>leadId</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Save_Consent</name>
        <label>Save Consent</label>
        <locationX>1615</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>ClinicalAssessmentResponse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssessmentResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__ParentalConsent__c</field>
            <value>
                <elementReference>Consent</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <screens>
        <name>ConsentScreen</name>
        <label>Consent Screen</label>
        <locationX>1347</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clinical_Assessment</targetReference>
        </connector>
        <fields>
            <name>CallScript</name>
            <fieldText>&lt;p&gt;Thanks for taking the time to talk with me today. It’s possible that your child has been exposed to someone who tested positive for COVID-19. I’d like to ask you a few questions about your child’s health and gather information about people your child has been in contact with. May I ask {!Lead.Name} a few questions?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Consent to interview {!Lead.Name}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HousingAssessment</name>
        <label>Housing Assessment</label>
        <locationX>2168</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PerformQuarantineAssessment</targetReference>
        </connector>
        <fields>
            <name>ContactOutreachDisplayText</name>
            <fieldText>&lt;p&gt;I’d now like to ask you about your living situation. This will help me to assist you with next steps to protect others you live with and to help get you healthy. How would you describe where you live?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Residential_Info_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Residence Information for {!Lead.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Homeless</name>
            <choiceReferences>YesBoolean</choiceReferences>
            <choiceReferences>NoBoolean</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>YesBoolean</defaultSelectedChoiceReference>
            <fieldText>Are you homeless or having issues with housing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dwelling</name>
            <choiceReferences>DwellingPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Residence Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Homeless</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HousingAssessment_0</name>
        <label>Housing Assessment</label>
        <locationX>2163</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Perform_Self_Isolation_assessment</targetReference>
        </connector>
        <fields>
            <name>ContactOutreachDisplayText_0</name>
            <fieldText>&lt;p&gt;I’d now like to ask you about your living situation. This will help me to assist you with next steps to protect others you live with and to help get you healthy. How would you describe where you live?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResInfoHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Residence Information for {!Lead.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Homeless_02</name>
            <choiceReferences>YesBoolean</choiceReferences>
            <choiceReferences>NoBoolean</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you homeless or having issues with housing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dwelling02</name>
            <choiceReferences>DwellingPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Residence Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Homeless_02</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bathroom</name>
            <choiceReferences>YesBoolean</choiceReferences>
            <choiceReferences>NoBoolean</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have access to a bathroom that can be used by you only or that can be cleaned immediately after you use it?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Homeless_02</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cook</name>
            <choiceReferences>YesBoolean</choiceReferences>
            <choiceReferences>NoBoolean</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you able to prepare your own food without exposing others?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Homeless_02</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Perform_Self_Isolation_assessment</name>
        <label>Perform Self Isolation assessment</label>
        <locationX>2351</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>PerformSelfIsolationText</name>
            <fieldText>&lt;p&gt;Since you have symptoms of COVID-19, you must be tested as soon as possible. Our clinical team will call you and provide instructions on getting tested.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PerformQuarantineAssessment</name>
        <label>Perform Quarantine Assessment</label>
        <locationX>2332</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Dwelling_Provided_0</targetReference>
        </connector>
        <fields>
            <name>QuantineMessage</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Based on what you have told me I want to go over some recommendations for your situation.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quarantine_Info_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Quarantine Information&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AbleToQuarantine</name>
            <choiceReferences>YesBoolean</choiceReferences>
            <choiceReferences>NoBoolean</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you able to quarantine for 14 days?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QuarantnieStarted</name>
            <choiceReferences>YesBoolean</choiceReferences>
            <choiceReferences>NoBoolean</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>NoBoolean</defaultSelectedChoiceReference>
            <fieldText>Have you already started to quarantine?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AbleToQuarantine</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quarantine_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Quarantine Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QuarantnieStarted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QuarantineMessage</name>
            <fieldText>&lt;p&gt;To protect yourself, your family, and your community, you are expected to quarantine from {!$Flow.CurrentDate} until at least &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!QuanrantineDuration}. This date&lt;/span&gt; is {!PQD} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;days &lt;/span&gt;from the date of your last contact with the infected individual.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QuarantnieStarted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QuarantineLocation2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LocationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Where will you stay while under quarantine?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounter</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>QuarantineLocationId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYouMessage</name>
        <label>ThankYouMessage</label>
        <locationX>2423</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouScreen</name>
            <fieldText>&lt;p&gt;Thank you for participating in the assessment and enrolling in the care program. We’re with you every step of the way and will send an email with instruction on how to quarantine.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_indicated_that_you_are_a_Healthcare_worker_Please_contact_your_employer_to_r</name>
        <label>You indicated that you are a Healthcare worker. Please contact your employer to receive further instructions in addition to what we shared with you during our call today</label>
        <locationX>2423</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ThankYouMessage</targetReference>
        </connector>
        <fields>
            <name>SocialWorkerMessage</name>
            <fieldText>&lt;p&gt;Since you are a healthcare worker, share your exposure history with your employer immediately.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>192</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clinical_Assessment</name>
        <label>Clinical Assessment</label>
        <locationX>1346</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Check_if_the_flow_executed</targetReference>
        </connector>
        <flowName>HealthCloudGA__Clinical_Assessment_Flow</flowName>
        <inputAssignments>
            <name>isMinor</name>
            <value>
                <elementReference>isMinor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent_Flow</name>
            <value>
                <stringValue>ContactOutreach</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClinicalAssessmentResponseId</assignToReference>
            <name>ClinicalAssessmentResponseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientAssessmentStatus</assignToReference>
            <name>PatientAssessmentStatus</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>patientId</assignToReference>
            <name>PatientId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Social_Barrier</name>
        <label>Create Social Barrier</label>
        <locationX>2863</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Check_Occupation</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Care_Barrier_Assessment</flowName>
        <inputAssignments>
            <name>PatientId</name>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggerBarrierFlow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BathroomValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ClinicalAssessmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CookingValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Dwelling_Selected_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FollowUpTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Follow up to schedule testing appointment</stringValue>
        </value>
    </variables>
    <variables>
        <name>Homeless_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMinor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAssessmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PQD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuarantineAssessmentLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuarantineLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
