flows/HealthCloudGA__Contact_Collection_Update_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Count_Queue</name>
        <label>Count Queue</label>
        <locationX>686</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>queueCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Queue_Id_For_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Assinee_is_Queue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ctChoice</name>
        <choiceText>In Progress&lt;p&gt;Completed&lt;/p&gt;&lt;p&gt;No Respponse&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed, In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <description>Declined</description>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <description>Mark Complete</description>
        <name>MarkComplete</name>
        <choiceText>Mark Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <description>No Response</description>
        <name>NoResponseSelect</name>
        <choiceText>No Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Response</stringValue>
        </value>
    </choices>
    <choices>
        <description>Ready for Intake</description>
        <name>ReadyforIntake</name>
        <choiceText>Ready for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Intake</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>821</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wrong record type</defaultConnectorLabel>
        <rules>
            <name>Contact_Tracing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Tracing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_0_0</targetReference>
            </connector>
            <label>Contact Tracing</label>
        </rules>
        <rules>
            <name>Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Assinee_is_Queue</name>
        <label>If Assinee is Queue</label>
        <locationX>819</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Queue</defaultConnectorLabel>
        <rules>
            <name>If_DeveloperName_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type</targetReference>
            </connector>
            <label>If no queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CTStatus_is_0</name>
        <label>If CTStatus is No Response</label>
        <locationX>1184</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Error_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Status</defaultConnectorLabel>
        <rules>
            <name>No_Response_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedCTStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Id</targetReference>
            </connector>
            <label>No Response</label>
        </rules>
        <rules>
            <name>Declind_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedCTStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_0_0</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>ReadyforIntake_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedCTStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_0</targetReference>
            </connector>
            <label>Ready for Intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CTStatus_is_0_0</name>
        <label>If CTStatus is No Response</label>
        <locationX>1177</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Error_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Status</defaultConnectorLabel>
        <rules>
            <name>No_Response_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntakeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Id_CT</targetReference>
            </connector>
            <label>No Response</label>
        </rules>
        <rules>
            <name>Mark_Complete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntakeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_0_0_0_0</targetReference>
            </connector>
            <label>Mark Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_lead_id_present</name>
        <label>If lead id present</label>
        <locationX>2132</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>If lead id is null</defaultConnectorLabel>
        <rules>
            <name>If_lead_id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>If lead id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_lead_id_present_0</name>
        <label>If lead id present</label>
        <locationX>1637</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>If lead id is null</defaultConnectorLabel>
        <rules>
            <name>If_lead_id_is_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0</targetReference>
            </connector>
            <label>If lead id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_lead_id_present_0_0</name>
        <label>If lead id present</label>
        <locationX>1648</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>If lead id is null</defaultConnectorLabel>
        <rules>
            <name>If_lead_id_is_null_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0_0</targetReference>
            </connector>
            <label>If lead id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Queue_Exist</name>
        <label>If Queue Exist</label>
        <locationX>1625</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Queue_Exist2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>If Queue Exist</label>
        </rules>
    </decisions>
    <description>Contact Collection Update Status</description>
    <dynamicChoiceSets>
        <name>contactTracingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>ownerId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contact Collection Update Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Contact Collection Update Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>355</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Id_For_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>208</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue_Id</name>
        <label>Queue Id</label>
        <locationX>1420</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Queue_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No_Response_Task_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue_Id_CT</name>
        <label>Queue Id</label>
        <locationX>1444</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No_Response_Task_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue_Id_For_Task</name>
        <label>Queue Id</label>
        <locationX>535</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>2396</locationX>
        <locationY>116</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>1912</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready for intake</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0</name>
        <label>Update Lead</label>
        <locationX>1914</locationX>
        <locationY>392</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>1904</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>If_lead_id_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_0</name>
        <label>Update Task</label>
        <locationX>1427</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>If_lead_id_present_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_0_0</name>
        <label>Update Task</label>
        <locationX>1436</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>If_lead_id_present_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_0_0_0</name>
        <label>Update Task</label>
        <locationX>1666</locationX>
        <locationY>535</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Id_CT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_0_0_0_0</name>
        <label>Update Task</label>
        <locationX>1448</locationX>
        <locationY>696</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error !!!</label>
        <locationX>829</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error01</name>
            <fieldText>&lt;p&gt;To update the status of a task you need to Pick Up Task first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error !!!</label>
        <locationX>828</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error01_0</name>
            <fieldText>&lt;p&gt;The task record type should be either Contact Tracing or Intake&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0_0</name>
        <label>Error !!!</label>
        <locationX>1183</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error01_0_0</name>
            <fieldText>&lt;p&gt;Please select the correct task status.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>994</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_CTStatus_is_0</targetReference>
        </connector>
        <fields>
            <name>selectedCTStatus</name>
            <choiceReferences>ReadyforIntake</choiceReferences>
            <choiceReferences>NoResponseSelect</choiceReferences>
            <choiceReferences>Declined</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ReadyforIntake</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Status_0_0</name>
        <label>Update Status</label>
        <locationX>996</locationX>
        <locationY>538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_CTStatus_is_0_0</targetReference>
        </connector>
        <fields>
            <name>IntakeStatus</name>
            <choiceReferences>MarkComplete</choiceReferences>
            <choiceReferences>NoResponseSelect</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>MarkComplete</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Default_No_Response_Quene_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>No Response</description>
        <name>NoResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Response</stringValue>
        </value>
    </variables>
    <variables>
        <name>queueCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
