flows/HealthCloudGA__Clinical_Assessment_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_family_record</name>
        <label>Add family record</label>
        <locationX>2766</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>family_member_contact_record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Family_member_record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.HealthCloudGA__Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenderPick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_birth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Household_Member_Assessment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_family_record_0</name>
        <label>Assign new Family Member AccountId</label>
        <locationX>3165</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Family_member_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FamilyMemberAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_family_member_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_family_record_0_0</name>
        <label>Add family record P0</label>
        <locationX>3398</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>Family_member_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Household_members_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Household_members_0</name>
        <label>Append Household members</label>
        <locationX>3129</locationX>
        <locationY>1581</locationY>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Family_member_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Household_members_0_0</name>
        <label>Append Household members 2</label>
        <locationX>3155</locationX>
        <locationY>2099</locationY>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SpaceValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>family_member_contact_record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>family_member_contact_record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThankMemberDetailScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Returned_Household_Account</name>
        <label>Assign Returned Household Account</label>
        <locationX>2463</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>HouseholdAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnedHouseholdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Family_member_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_patientId</name>
        <label>Assign to patientId</label>
        <locationX>50</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPrimaryPatientDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_family_member</name>
        <label>Collect family member</label>
        <locationX>3399</locationX>
        <locationY>1585</locationY>
        <assignmentItems>
            <assignToReference>Family_member_details_for_Account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Family_member_record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Collect_family_member_0</name>
        <label>Collect family member 2</label>
        <locationX>3381</locationX>
        <locationY>1851</locationY>
        <assignmentItems>
            <assignToReference>Family_member_details_for_Account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Family_member_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFamilyMemberContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Case_Investigation</name>
        <label>Initialise Case Investigation</label>
        <locationX>1998</locationX>
        <locationY>2247</locationY>
        <assignmentItems>
            <assignToReference>CaseInvestigationStarted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initialise_Case_Investigation_0</name>
        <label>Initialise Case Investigation</label>
        <locationX>3596</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>CaseInvestigationStarted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initialise_Case_Investigation_0_0</name>
        <label>Initialise Case Investigation</label>
        <locationX>649</locationX>
        <locationY>1781</locationY>
        <assignmentItems>
            <assignToReference>CaseInvestigationStarted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RadioChoiceFalse</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RadioChoiceTrue</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes I have family members living with me and I am willing to share their information for further monitoring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Converted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Converted</stringValue>
        </value>
    </constants>
    <constants>
        <name>Enrolled_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Description to use for the assessment case created</description>
        <name>HCCR_Assessment_Case_Description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This case was automatically created by completing an Covid Assessment</stringValue>
        </value>
    </constants>
    <constants>
        <name>HCCR_Assessment_Case_Origin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </constants>
    <constants>
        <description>This constant represents the Salesforce Record ID for the HCCR Assessment Case Record Type value</description>
        <name>HCCR_Assessment_Case_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123h000000Tb2YAAS</stringValue>
        </value>
    </constants>
    <constants>
        <description>The Subject Line for the case record to be created</description>
        <name>HCCR_Assessment_Case_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Covid Assessment</stringValue>
        </value>
    </constants>
    <constants>
        <name>Italy</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Italy</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_more_family_members</name>
        <label>Add more family members</label>
        <locationX>2016</locationX>
        <locationY>1593</locationY>
        <defaultConnector>
            <targetReference>Primary_Barrier_Addition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_family_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_household_member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_member_details</targetReference>
            </connector>
            <label>Add family members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent</name>
        <label>Check Consent</label>
        <locationX>2326</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>Check_for_Contact_Outreach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enroll_Primary_Patient_To_Care_Program_0</targetReference>
            </connector>
            <label>Consent Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Consent</name>
        <label>Check Existing Consent</label>
        <locationX>1169</locationX>
        <locationY>1822</locationY>
        <defaultConnector>
            <targetReference>If_Invoked_from_Case_Investigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_There</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enroll_Full_Family</targetReference>
            </connector>
            <label>Consent There</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Contact_Outreach</name>
        <label>Check for Contact Outreach</label>
        <locationX>1731</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>LivingWithFamilyScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ClinicalAssessment</defaultConnectorLabel>
        <rules>
            <name>If_Parent_Flow_Contact_Outreach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContactOutreach</stringValue>
                </rightValue>
            </conditions>
            <label>If Parent Flow Contact Outreach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_minor</name>
        <label>Check for minor</label>
        <locationX>2303</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>HCCR_Welcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adult</defaultConnectorLabel>
        <rules>
            <name>Is_Minor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMinor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Assessment_Lead</targetReference>
            </connector>
            <label>Minor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_enrolled_0</name>
        <label>Check if enrolled</label>
        <locationX>2470</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Check_for_Contact_Outreach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Enrolled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnrolleeIdAlreadyExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_to_Enrol_Primary_Patient</targetReference>
            </connector>
            <label>Not Enrolled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_we_can_ask_Question</name>
        <label>Check if we can ask Question</label>
        <locationX>2660</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowed_to_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>May_I_ask_you_a_few_questions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Assessment_Lead</targetReference>
            </connector>
            <label>Allowed to proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfHouseholdRecordTypeExists</name>
        <label>CheckIfHouseholdRecordTypeExists</label>
        <locationX>516</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>GetPrimaryPatientDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HouseholdIsNotConfigured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HouseholdRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen_0_0</targetReference>
            </connector>
            <label>HouseholdIsNotConfigured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Metadata_Check</name>
        <label>Custom Metadata Check</label>
        <locationX>2897</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Patient_Record_Fetch_Try</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Metadata_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CustomMetadataRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedCareProgramId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataUsePurposeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AuthorizationFormDataUseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskQueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonAccountRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HouseholdRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskIntakeRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskContactTracingRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParamErrorScreen_0</targetReference>
            </connector>
            <label>Metadata Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Family_Decisions</name>
        <label>Family Decisions</label>
        <locationX>956</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>CheckIfHouseholdRecordTypeExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Living_with_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_living_with_family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Barriers_for_primary_patient</targetReference>
            </connector>
            <label>Not Living with Family</label>
        </rules>
        <rules>
            <name>Not_willing_to_share_family_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_living_with_family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_want_to_share_family_members_info_now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTask_For_FamilyInfo_Later</targetReference>
            </connector>
            <label>Not willing to share family info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Patient_Record</name>
        <label>Found Patient Record</label>
        <locationX>1799</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Patient_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientIdFromRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_patientId</targetReference>
            </connector>
            <label>Patient Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>HousholdExists</name>
        <label>HousholdExists</label>
        <locationX>2333</locationX>
        <locationY>1185</locationY>
        <defaultConnector>
            <targetReference>Assign_Returned_Household_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Houshold_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedHouseholdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHouseholdAccount</targetReference>
            </connector>
            <label>Houshold does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Invoked_from_Case_Investigation</name>
        <label>If Invoked from Case Investigation</label>
        <locationX>1687</locationX>
        <locationY>2010</locationY>
        <defaultConnector>
            <targetReference>MoreContactsScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clinical Assessment Context</defaultConnectorLabel>
        <rules>
            <name>Case_Investigation_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInvestigationContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Case_Investigation</targetReference>
            </connector>
            <label>Case Investigation Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Invoked_from_Case_Investigation_0</name>
        <label>If Invoked from Case Investigation</label>
        <locationX>3303</locationX>
        <locationY>955</locationY>
        <defaultConnector>
            <targetReference>FinalFLowScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clinical Assessment Context</defaultConnectorLabel>
        <rules>
            <name>Case_Investigation_Context_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseInvestigationContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContactOutreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Case_Investigation_0</targetReference>
            </connector>
            <label>Case Investigation Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Invoked_from_Case_Investigation_0_0</name>
        <label>If Invoked from Case Investigation</label>
        <locationX>904</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>MoreContactsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clinical Assessment Context</defaultConnectorLabel>
        <rules>
            <name>Case_Investigation_Context_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInvestigationContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Case_Investigation_0_0</targetReference>
            </connector>
            <label>Case Investigation Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNoRiskPatient</name>
        <label>IfNoRiskPatient</label>
        <locationX>3150</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>GetPrimaryPatientDetails_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Patient_is_at_no_risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAssessmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluated - No Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Invoked_from_Case_Investigation_0</targetReference>
            </connector>
            <label>If Patient is at no risk</label>
        </rules>
    </decisions>
    <decisions>
        <description>Clinical assessment can be done only for Triage leads in New or Ready for Intake status</description>
        <name>Lead_Status_Check</name>
        <label>Lead Status Check</label>
        <locationX>1875</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Check_for_minor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Enrolled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadStatusValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enrolled_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatusValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Converted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Enrolled_Lead_Screen</targetReference>
            </connector>
            <label>Already Enrolled</label>
        </rules>
    </decisions>
    <decisions>
        <name>MoreContactsCheck</name>
        <label>MoreContactsCheck</label>
        <locationX>1273</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>FinalFLowScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_Contacts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>HaveMoreContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HaveMoreContacts_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_For_MoreContact</targetReference>
            </connector>
            <label>Yes More Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Not_Created</name>
        <label>Patient Not Created</label>
        <locationX>3148</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>IfNoRiskPatient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen_0</targetReference>
            </connector>
            <label>No Patient</label>
        </rules>
    </decisions>
    <description>A lead is taken through the Clinical Assessment Flow. He is given the option of adding his Household and taking their assessment as well. This flow also contains the two subflows - a) Clinical Assessment Questionnaire b) Adding barriers for the individual + Enrolling the person and his/her household into a care program</description>
    <dynamicChoiceSets>
        <name>AcrRoles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CareProgramsList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactGenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestIt</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CollectedMembersFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(MID(TRIM({!AllHouseholdMembers}), 0, LEN(TRIM({!AllHouseholdMembers})) - 1))</expression>
    </formulas>
    <formulas>
        <name>DueDateCalculated</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>PatientAgeNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!PatientAge},Find(&quot; &quot;, {!PatientAge})-1))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Clinical Assessment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Clinical Assessment Flow</label>
    <loops>
        <name>Enroll_Full_Family</name>
        <label>Enroll Full Family</label>
        <locationX>1698</locationX>
        <locationY>1804</locationY>
        <assignNextValueToReference>familyRecord</assignNextValueToReference>
        <collectionReference>Family_member_details_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Household_to_Care_Program</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Invoked_from_Case_Investigation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddPrimaryPatientToHousehold</name>
        <label>AddPrimaryPatientToHousehold</label>
        <locationX>3127</locationX>
        <locationY>1180</locationY>
        <connector>
            <targetReference>Add_family_record_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>HouseholdAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PrimaryPatientContactId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>AttachToHouseholdViaACR</name>
        <label>AttachToHouseholdViaACR</label>
        <locationX>3537</locationX>
        <locationY>2097</locationY>
        <connector>
            <targetReference>Append_Household_members_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>HouseholdAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>FamilyMemberContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Relationship_with_patient</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_For_MoreContact</name>
        <label>Create Task For MoreContact</label>
        <locationX>1278</locationX>
        <locationY>2649</locationY>
        <connector>
            <targetReference>FinalFLowScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescForExternalContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Age__c</field>
            <value>
                <elementReference>PatientAgeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Conditions_Status__c</field>
            <value>
                <elementReference>PrimaryPatientConditionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__c</field>
            <value>
                <elementReference>PatientGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskContactTracingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Collect External Contact Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateHouseholdAccount</name>
        <label>CreateHouseholdAccount</label>
        <locationX>2798</locationX>
        <locationY>1180</locationY>
        <assignRecordIdToReference>HouseholdAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>AddPrimaryPatientToHousehold</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!PatientFirstName} {!PatientLastName} Household</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>HouseholdRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTask_For_FamilyInfo_Later</name>
        <label>CreateTask For FamilyInfo Later</label>
        <locationX>551</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>Add_Barriers_for_primary_patient</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>HouseholdInfoTaskTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Age__c</field>
            <value>
                <elementReference>PatientAgeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Conditions_Status__c</field>
            <value>
                <elementReference>PrimaryPatientConditionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__c</field>
            <value>
                <elementReference>PatientGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskContactTracingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Collect household information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Auth_Form_Data_Use_Record</name>
        <label>Auth Form Data Use Record</label>
        <locationX>2017</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchHouseholdRecordType_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Auth_Data_Form_Use__c</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormDataUse</object>
        <outputAssignments>
            <assignToReference>AuthorizationFormDataUseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Care_Program_Record_found</name>
        <label>Care Program Record found</label>
        <locationX>1680</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_use_purpoose_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Care_Program__c</elementReference>
            </value>
        </filters>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>SelectedCareProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CheckIfHouseholdAccountExists</name>
        <label>CheckIfHouseholdAccountExists</label>
        <locationX>1961</locationX>
        <locationY>1184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HousholdExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingHousholdAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HouseholdRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ReturnedHouseholdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Date_use_purpoose_record</name>
        <label>Date use purpoose record</label>
        <locationX>1852</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auth_Form_Data_Use_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Data_Use_Purpose__c</elementReference>
            </value>
        </filters>
        <object>DataUsePurpose</object>
        <outputAssignments>
            <assignToReference>DataUsePurposeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Enrollee_Records_0</name>
        <label>Enrollee Records</label>
        <locationX>2621</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_enrolled_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </filters>
        <object>CareProgramEnrollee</object>
        <outputAssignments>
            <assignToReference>EnrolleeIdAlreadyExists</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_ACR</name>
        <label>Fetch Existing ACR</label>
        <locationX>1717</locationX>
        <locationY>1184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfHouseholdAccountExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryPatientContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ExistingHousholdAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchHouseholdRecordType_0_0</name>
        <label>FetchHouseholdRecordType</label>
        <locationX>2172</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPersonAccountRecordTypeId_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IndustriesHousehold</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>HouseholdRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Records</name>
        <label>Get Lead Records</label>
        <locationX>1481</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current Lead Status</description>
        <name>Get_Lead_Status</name>
        <label>Get Lead Status</label>
        <locationX>1718</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadStatusValue</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>1355</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Queue_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataName</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__Clinical_Assessment_Setting__mdt</object>
        <outputReference>CustomMetadataRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__Care_Program__c</queriedFields>
        <queriedFields>HealthCloudGA__Consent_Auth_Data_Form_Use__c</queriedFields>
        <queriedFields>HealthCloudGA__Consent_Data_Use_Purpose__c</queriedFields>
        <queriedFields>HealthCloudGA__Patient_RecordType_Name__c</queriedFields>
        <queriedFields>HealthCloudGA__Assessment_Task_Queue__c</queriedFields>
        <queriedFields>HealthCloudGA__Household_Consent_Auth_Data_Form_Use__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactOfPatient</name>
        <label>GetContactOfPatient</label>
        <locationX>1411</locationX>
        <locationY>1185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Existing_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PatientFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientAge</assignToReference>
            <field>HealthCloudGA__Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryPatientConditionStatus</assignToReference>
            <field>HealthCloudGA__ConditionStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientGender</assignToReference>
            <field>HealthCloudGA__Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryPatientContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContactOfPatient_0</name>
        <label>GetContactOfPatient</label>
        <locationX>2777</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollee_Records_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PatientFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientAge</assignToReference>
            <field>HealthCloudGA__Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryPatientConditionStatus</assignToReference>
            <field>HealthCloudGA__ConditionStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientGender</assignToReference>
            <field>HealthCloudGA__Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryPatientContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetFamilyMemberContactId</name>
        <label>GetFamilyMemberContactId</label>
        <locationX>3535</locationX>
        <locationY>1859</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttachToHouseholdViaACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FamilyMemberAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FamilyMemberContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecordTypeId_0_0</name>
        <label>GetPersonAccountRecordTypeId</label>
        <locationX>2358</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Intake_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Patient_RecordType_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryPatientDetails</name>
        <label>GetPrimaryPatientDetails</label>
        <locationX>56</locationX>
        <locationY>1186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactOfPatient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryPatientEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryPatientDetails_0</name>
        <label>GetPrimaryPatientDetails</label>
        <locationX>2940</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactOfPatient_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryPatientEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Patient_Record_Fetch_Try</name>
        <label>Patient Record Fetch Try</label>
        <locationX>2556</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PatientIdFromRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_ContactTracing_Record_Type</name>
        <label>Task ContactTracing Record Type</label>
        <locationX>2685</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Metadata_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactTracingTaskRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskContactTracingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Intake_Record_Type</name>
        <label>Task Intake Record Type</label>
        <locationX>2523</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_ContactTracing_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeTaskRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskIntakeRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Queue_Record_found</name>
        <label>Task Queue Record found</label>
        <locationX>1509</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Program_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Assessment_Task_Queue__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>TaskQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Already_Enrolled_Lead_Screen</name>
        <label>Lead Already Enrolled</label>
        <locationX>1951</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_Enrolled_Lead_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This triage lead has already been converted into a patient. You can only perform clinical assessments for triage leads in New or Ready for Intake status&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Family_member_details</name>
        <label>Family member details</label>
        <locationX>2766</locationX>
        <locationY>1581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_family_record</targetReference>
        </connector>
        <fields>
            <name>HouseholdCollection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Household Member for {!PatientFirstName} {!PatientLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fm_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fm_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fm_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid phone number.&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Fm_Phone}, &quot;\\D*?(\\d\\D*?){10}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fm_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid email address.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Fm_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_of_birth</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GenderPick</name>
            <choiceReferences>ContactGenderPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Relationship_with_patient</name>
            <choiceReferences>AcrRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Occupation</name>
            <choiceReferences>OccupationChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Occupation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_0</name>
        <label>Final Screen</label>
        <locationX>3435</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GeneralErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hmm, somethings not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_0_0</name>
        <label>Final Screen</label>
        <locationX>531</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GeneralErrorMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hmm, somethings not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalFLowScreen</name>
        <label>FinalFLowScreen</label>
        <locationX>1691</locationX>
        <locationY>2541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen</name>
            <fieldText>&lt;p&gt;Thanks for participating in this assessment. We&apos;re with you every step of the way and will contact you soon.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalFLowScreen_0</name>
        <label>FinalFLowScreen</label>
        <locationX>3438</locationX>
        <locationY>705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen_0</name>
            <fieldText>&lt;p&gt;Thanks for participating in this assessment. We&apos;re with you every step of the way and will contact you soon.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screening Welcome Page</description>
        <name>HCCR_Welcome</name>
        <label>Welcome!</label>
        <locationX>2511</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_we_can_ask_Question</targetReference>
        </connector>
        <fields>
            <name>HCCR_COVID19_WelcomeText</name>
            <fieldText>&lt;p&gt;Thanks for taking the time to talk with me today. Its possible that youve been exposed to someone who tested positive for COVID-19. Id like to ask you a few questions about your health and gather information about people youve been in contact with.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>May_I_ask_you_a_few_questions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>May I ask you a few questions to understand how you&apos;re feeling?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;Welcome&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LivingWithFamilyScreen</name>
        <label>LivingWithFamilyScreen</label>
        <locationX>1541</locationX>
        <locationY>767</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Family_Decisions</targetReference>
        </connector>
        <fields>
            <name>HousholdSectionHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Household Members for {!PatientFirstName} {!PatientLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_living_with_family</name>
            <choiceReferences>RadioChoiceTrue</choiceReferences>
            <choiceReferences>RadioChoiceFalse</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you live with family or other individuals?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_want_to_share_family_members_info_now</name>
            <choiceReferences>RadioChoiceTrue</choiceReferences>
            <choiceReferences>RadioChoiceFalse</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to participate in an assessment for each individual with whom you live?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MoreContactsScreen</name>
        <label>MoreContactsScreen</label>
        <locationX>907</locationX>
        <locationY>2252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MoreContactsCheck</targetReference>
        </connector>
        <fields>
            <name>HaveMoreContacts</name>
            <choiceReferences>RadioChoiceTrue</choiceReferences>
            <choiceReferences>RadioChoiceFalse</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>During the last 14 days, have you had contact with other individuals who aren&apos;t part of your household?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MoreContactsScreen_0</name>
        <label>MoreContactsScreen</label>
        <locationX>1693</locationX>
        <locationY>2251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MoreContactsCheck</targetReference>
        </connector>
        <fields>
            <name>HaveMoreContacts_0</name>
            <choiceReferences>RadioChoiceTrue</choiceReferences>
            <choiceReferences>RadioChoiceFalse</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>During the last 14 days, have you had contact with other individuals who aren&apos;t part of your household?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ParamErrorScreen_0</name>
        <label>ParamErrorScreen</label>
        <locationX>2907</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ParamError_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Hmm, somethings not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankMemberDetailScreen</name>
        <label>ThankMemberDetailScreen</label>
        <locationX>2357</locationX>
        <locationY>2027</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_more_family_members</targetReference>
        </connector>
        <fields>
            <name>HHheading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Household Contacts for {!PatientFirstName} {!PatientLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SoFarCollectedMembers</name>
            <fieldText>&lt;p&gt;You added the following household members:&lt;b&gt; &lt;/b&gt;{!CollectedMembersFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_another_household_member</name>
            <dataType>Boolean</dataType>
            <fieldText>Add another household member</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1185</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Barriers_for_primary_patient</name>
        <label>Add Barriers for primary patient</label>
        <locationX>972</locationX>
        <locationY>1043</locationY>
        <connector>
            <targetReference>If_Invoked_from_Case_Investigation_0_0</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Care_Barrier_Assessment</flowName>
        <inputAssignments>
            <name>PatientId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggerBarrierFlow</name>
            <value>
                <elementReference>RadioChoiceTrue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_Household_to_Care_Program</name>
        <label>Add Household to Care Program</label>
        <locationX>2027</locationX>
        <locationY>1810</locationY>
        <connector>
            <targetReference>Enroll_Full_Family</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Care_Barrier_Assessment</flowName>
        <inputAssignments>
            <name>PatientId</name>
            <value>
                <elementReference>familyRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCareProgramId</name>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggerCareProgramFlow</name>
            <value>
                <elementReference>RadioChoiceTrue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CareProgram_Consent_for_household</name>
        <label>CareProgram Consent for household</label>
        <locationX>1177</locationX>
        <locationY>1596</locationY>
        <connector>
            <targetReference>Check_Existing_Consent</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_ERM_CareProgram_Enrolment_Consent_Flow</flowName>
        <inputAssignments>
            <name>ConsentForHousehold</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentGiverId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CustomMetadataRecord</name>
            <value>
                <elementReference>CustomMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCareProgramId</name>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ConsentReceived</assignToReference>
            <name>ConsentReceived</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Clinical_Assessment_Lead</name>
        <label>Clinical Assessment Lead</label>
        <locationX>2882</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Patient_Not_Created</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Clinical_Assessment_Questionnaire</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PersonAccountRecordTypeName</name>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Patient_RecordType_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClinicalAssessmentResponseId</assignToReference>
            <name>ClinicalAssesmentResponseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientId</assignToReference>
            <name>PatientId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientAssessmentStatus</assignToReference>
            <name>PatientStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Consent_to_Enrol_Primary_Patient</name>
        <label>Consent to Enrol Primary Patient</label>
        <locationX>2485</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>Check_Consent</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_ERM_CareProgram_Enrolment_Consent_Flow</flowName>
        <inputAssignments>
            <name>ConsentForHousehold</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentGiverId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CustomMetadataRecord</name>
            <value>
                <elementReference>CustomMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCareProgramId</name>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ConsentReceived</assignToReference>
            <name>ConsentReceived</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Enroll_Primary_Patient_To_Care_Program_0</name>
        <label>Enroll Primary Patient To Care Program</label>
        <locationX>2066</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Check_for_Contact_Outreach</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Care_Barrier_Assessment</flowName>
        <inputAssignments>
            <name>PatientId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCareProgramId</name>
            <value>
                <elementReference>SelectedCareProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggerCareProgramFlow</name>
            <value>
                <elementReference>RadioChoiceTrue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Household_Member_Assessment_0</name>
        <label>Household Member Assessment</label>
        <locationX>2961</locationX>
        <locationY>1849</locationY>
        <connector>
            <targetReference>Add_family_record_0</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Clinical_Assessment_Questionnaire</flowName>
        <inputAssignments>
            <name>OccupationValue</name>
            <value>
                <elementReference>OccupationChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientAccountRecord</name>
            <value>
                <elementReference>Family_member_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientContactRecord</name>
            <value>
                <elementReference>family_member_contact_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PersonAccountRecordTypeName</name>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Patient_RecordType_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FamilyMemberAccountId</assignToReference>
            <name>PatientId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientAssessmentStatus</assignToReference>
            <name>PatientStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Primary_Barrier_Addition</name>
        <label>Primary Barrier Addition</label>
        <locationX>1527</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>CareProgram_Consent_for_household</targetReference>
        </connector>
        <flowName>HealthCloudGA__SubFlow_Care_Barrier_Assessment</flowName>
        <inputAssignments>
            <name>PatientId</name>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggerBarrierFlow</name>
            <value>
                <elementReference>RadioChoiceTrue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>HouseholdInfoTaskTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Collect Household  Information for  {!PrimaryPatientEmail}, {!PatientFirstName} {!PatientLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>TaskDescForExternalContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Collect external Contact Information for {!PrimaryPatientEmail},  {!PatientFirstName} {!PatientLastName}</text>
    </textTemplates>
    <variables>
        <name>AllHouseholdMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFormDataUseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormDataUseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormDataUseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareProgramRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>CaseInvestigationContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseInvestigationStarted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ClinicalAssessmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsentFormText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactTracingTaskRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contact Tracing</stringValue>
        </value>
    </variables>
    <variables>
        <name>CPIdFromDataUsePurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Clinical Assessment Flow Setting</stringValue>
        </value>
    </variables>
    <variables>
        <name>CustomMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__Clinical_Assessment_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>DataAuthFormTextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnrolleeIdAlreadyExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingHousholdAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>family_member_contact_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Family_member_details_for_Account</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Family_member_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FamilyMemberAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyMemberContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>familyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HCCR_Person</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>HouseholdAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseholdRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntakeTaskRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Intake</stringValue>
        </value>
    </variables>
    <variables>
        <name>isMinor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadStatusValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parent_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAssessmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>PatientFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientGender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientIdFromRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERM_Patient</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryPatientConditionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPatientContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPatientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnedExistingConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedHouseholdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCareProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>  </stringValue>
        </value>
    </variables>
    <variables>
        <name>SpaceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>    </stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskContactTracingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskIntakeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G3c000003B0no</stringValue>
        </value>
    </variables>
    <variables>
        <name>testRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCaseRTObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varPARecordFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
