flows/HealthCloudGA__SubFlow_ERM_CareProgram_Enrolment_Consent_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Household_Variables</name>
        <label>Assign Household Variables</label>
        <locationX>450</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>DataUsePurposeForHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Data_Use_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthFormDataUseForHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Household_Consent_Auth_Data_Form_Use__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Data_Use_Purpose_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Patient_Variables</name>
        <label>Assign Primary Patient Variables</label>
        <locationX>451</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>DataUsePurposeForIndividual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Data_Use_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthFormDataUseForIndividual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Auth_Data_Form_Use__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Data_Use_Purpose_Individual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Value_True</name>
        <label>Return Value True</label>
        <locationX>2866</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>ConsentReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Value_True_0</name>
        <label>Return Value True</label>
        <locationX>1816</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>ConsentReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Value_True_0_0</name>
        <label>Return Value False</label>
        <locationX>2528</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>ConsentReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Value_True_0_0_0</name>
        <label>Return Value False</label>
        <locationX>2532</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>ConsentReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Consent_for_Household</name>
        <label>Check Consent for Household</label>
        <locationX>201</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Assign_Primary_Patient_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Take_Consent_for_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentForHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Household_Variables</targetReference>
            </connector>
            <label>Take Consent for Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent_for_Household_0</name>
        <label>Check Consent for Household</label>
        <locationX>1924</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>Primary_Patient_Details_Consent_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Take_Consent_for_Household_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentForHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_Details_Consent_Screen</targetReference>
            </connector>
            <label>Take Consent for Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent_To_Enroll</name>
        <label>Check Consent To Enroll</label>
        <locationX>2521</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Return_Value_True_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentToEnrollCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Value_True</targetReference>
            </connector>
            <label>Consent Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent_To_Enroll_0</name>
        <label>Check Consent To Enroll</label>
        <locationX>2522</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Return_Value_True_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentToEnrollCheckbox_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Value_True</targetReference>
            </connector>
            <label>Consent Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DataUsePurpose_Input</name>
        <label>Check DataUsePurpose Input</label>
        <locationX>1280</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>DataUsePurposeRecord_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Data_Use_purpose</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CPIdFromDataUsePurpose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CPIdFromDataUsePurpose</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectedCareProgramId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen_0_0</targetReference>
            </connector>
            <label>Wrong Data Use purpose</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Consent</name>
        <label>Check Existing Consent</label>
        <locationX>1688</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Check_Consent_for_Household_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_There</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedExistingConsentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsentForHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Value_True_0</targetReference>
            </connector>
            <label>Consent There for Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>DataUseId_And_AuthForm_Exists</name>
        <label>DataUseId And AuthForm Exists</label>
        <locationX>1052</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>DataUsePurposeRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Inputs_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DataUsePurposeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AuthorizationFormDataUseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen_0_0</targetReference>
            </connector>
            <label>Required Inputs Missing</label>
        </rules>
    </decisions>
    <interviewLabel>SubFlow : ERM Care Program Enrolment Consent Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SubFlow : ERM Care Program Enrolment Consent Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Consent</name>
        <label>Create Consent</label>
        <locationX>3049</locationX>
        <locationY>620</locationY>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>DataAuthFormTextRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSource</field>
            <value>
                <elementReference>ConsentCapturedSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSourceType</field>
            <value>
                <elementReference>ConsentCapturedSourceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>ConsentGiverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConsentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Seen</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordLookups>
        <name>DataUsePurposeRecord</name>
        <label>DataUsePurposeRecord</label>
        <locationX>1050</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_DataUsePurpose_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurposeId</elementReference>
            </value>
        </filters>
        <object>DataUsePurpose</object>
        <outputAssignments>
            <assignToReference>DataUsePurposeRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPIdFromDataUsePurpose</assignToReference>
            <field>PurposeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>DataUsePurposeRecord_0</name>
        <label>Authorization Form Use Record</label>
        <locationX>1289</locationX>
        <locationY>1144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Auth_Form_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuthorizationFormDataUseId</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormDataUse</object>
        <outputAssignments>
            <assignToReference>AuthorizationFormRecordId</assignToReference>
            <field>AuthorizationFormId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AuthorizationFormDataUseRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Auth_Form_Record</name>
        <label>Fetch Auth Form Record</label>
        <locationX>1442</locationX>
        <locationY>1144</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consent_Form_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuthorizationFormRecordId</elementReference>
            </value>
        </filters>
        <object>AuthorizationForm</object>
        <outputAssignments>
            <assignToReference>DataAuthFormTextRecordId</assignToReference>
            <field>DefaultAuthFormTextId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Consent_Form</name>
        <label>Fetch Consent Form</label>
        <locationX>1587</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AuthorizationFormTextId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataAuthFormTextRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConsentGiverId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsentGiverId</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormConsent</object>
        <outputAssignments>
            <assignToReference>ReturnedExistingConsentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Auth_Form_Data_Use_Household</name>
        <label>Get Auth Form Data Use Household</label>
        <locationX>743</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DataUseId_And_AuthForm_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuthFormDataUseForHousehold</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormDataUse</object>
        <outputAssignments>
            <assignToReference>AuthorizationFormDataUseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Auth_Form_Data_Use_Individual</name>
        <label>Get Auth Form Data Use Individual</label>
        <locationX>744</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DataUseId_And_AuthForm_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuthFormDataUseForIndividual</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormDataUse</object>
        <outputAssignments>
            <assignToReference>AuthorizationFormDataUseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent_Form_Text</name>
        <label>Get Consent Form Text</label>
        <locationX>1582</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Consent_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataAuthFormTextRecordId</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormText</object>
        <outputAssignments>
            <assignToReference>ConsentFormText</assignToReference>
            <field>SummaryAuthFormText</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose_Household</name>
        <label>Get Data Use Purpose Household</label>
        <locationX>604</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auth_Form_Data_Use_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurposeForHousehold</elementReference>
            </value>
        </filters>
        <object>DataUsePurpose</object>
        <outputAssignments>
            <assignToReference>DataUsePurposeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose_Individual</name>
        <label>Get Data Use Purpose Individual</label>
        <locationX>599</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auth_Form_Data_Use_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurposeForIndividual</elementReference>
            </value>
        </filters>
        <object>DataUsePurpose</object>
        <outputAssignments>
            <assignToReference>DataUsePurposeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Family_Details_Consent_Screen</name>
        <label>Family Details Consent Screen</label>
        <locationX>2259</locationX>
        <locationY>737</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Consent_To_Enroll</targetReference>
        </connector>
        <fields>
            <name>ConsentMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Enroll in a Care Program&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentFormContent</name>
            <fieldText>&lt;p&gt;{!ConsentFormText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentToEnrollCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Consent provided to enroll household members into the care program. Assessed individual attests to having consent of household members for this action.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_0_0</name>
        <label>Final Screen</label>
        <locationX>1521</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GeneralErrorMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hmm, something’s not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Primary_Patient_Details_Consent_Screen</name>
        <label>Primary Patient Details Consent Screen</label>
        <locationX>2249</locationX>
        <locationY>567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Consent_To_Enroll_0</targetReference>
        </connector>
        <fields>
            <name>CallScript</name>
            <fieldText>&lt;p&gt;As part of the program, you’ll receive a daily survey to check your symptoms and ensure that you’re&amp;nbsp;following recommendations for quarantine and self-isolation. In addition, a supervising nurse from our department may contact you by phone one or more times to assess your health.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Enroll in a Care Program&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentFormContent_0</name>
            <fieldText>&lt;p&gt;{!ConsentFormText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentToEnrollCheckbox_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Consent provided to enroll the assessed individual into the care program.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Check_Consent_for_Household</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AuthFormDataUseForHousehold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFormDataUseForIndividual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormDataUseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormDataUseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentCapturedSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Clinical Assessment</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConsentCapturedSourceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConsentForHousehold</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentFormText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentGiverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Consent for Care Program Enrolment</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConsentReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CPIdFromDataUsePurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__Clinical_Assessment_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>DataAuthFormTextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeForHousehold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeForIndividual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedExistingConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedHouseholdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCareProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
