flows/HealthCloudGA__Contact_Collection_Pick_Up_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Task_Status</name>
        <label>Assign Task Status</label>
        <locationX>675</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Queue</name>
        <label>Count Queue</label>
        <locationX>334</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>queueCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Queue_Id_For_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Assinee_is_Queue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ctChoice</name>
        <choiceText>In Progress&lt;p&gt;Completed&lt;/p&gt;&lt;p&gt;No Respponse&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed, In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <description>Declined</description>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deferred</stringValue>
        </value>
    </choices>
    <choices>
        <description>Mark Complete</description>
        <name>MarkComplete</name>
        <choiceText>Mark Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <description>No Response</description>
        <name>NoResponseSelect</name>
        <choiceText>No Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Response</stringValue>
        </value>
    </choices>
    <choices>
        <description>Read for Intake</description>
        <name>ReadforIntake</name>
        <choiceText>Read for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Read for Intake</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Assinee_is_Queue</name>
        <label>If Assinee is Queue</label>
        <locationX>481</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Queue</defaultConnectorLabel>
        <rules>
            <name>If_DeveloperName_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>If no queue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contactTracingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>ownerId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contact Collection Pick Up Task {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Contact Collection Pick Up Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>61</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Id_For_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue_Id_For_Task</name>
        <label>Queue Id</label>
        <locationX>196</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_0</name>
        <label>Update Task</label>
        <locationX>827</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>taskStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation!!</label>
        <locationX>983</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationLabel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;The task has been&amp;nbsp;added to My Task queue.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!!</label>
        <locationX>361</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Task is already assigned to you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Default_No_Response_Quene_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>No Response</description>
        <name>NoResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Response</stringValue>
        </value>
    </variables>
    <variables>
        <name>queueCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
