flows/Job_Engine_Orchestrator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Next_Step</name>
        <label>Execute Next Step</label>
        <locationX>702</locationX>
        <locationY>326</locationY>
        <actionName>OnJobStepComplete</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>events</name>
            <value>
                <elementReference>manualStepCompletionEvent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnJobStepComplete</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>topicUri</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-result/&apos; + {!resultId}</expression>
    </formulas>
    <interviewLabel>Job Engine Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Task Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>444</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Wait_for_Manual_Step_Completion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Job Execution Id</description>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1o09000001aJZCAA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>manualStepCompletionEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event__e</objectType>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Manual_Step_Completion</name>
        <label>Wait for Manual Step Completion</label>
        <locationX>528</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Manual_Step_Completed</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Execute_Next_Step</targetReference>
            </connector>
            <eventType>Event__e</eventType>
            <inputParameters>
                <name>Topic_Uri__c</name>
                <value>
                    <elementReference>topicUri</elementReference>
                </value>
            </inputParameters>
            <label>Manual Step Completed</label>
            <outputParameters>
                <assignToReference>manualStepCompletionEvent</assignToReference>
                <name>Event__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
