flows/OrchestrateApexTestExecution.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateAttachment</name>
        <label>Create Attachment</label>
        <locationX>359</locationX>
        <locationY>956</locationY>
        <actionName>CreateAttachmentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateCopadoNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentRecord</name>
            <value>
                <elementReference>userStoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringData</name>
            <value>
                <elementReference>resultJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateAttachmentAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DelegateApexTestExecutionToRelatedOrg</name>
        <label>Delegate Apex Test Execution To Related Org</label>
        <locationX>217</locationX>
        <locationY>210</locationY>
        <actionName>DelegateApexTestsExecutionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsActionSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>credentialId</name>
            <value>
                <elementReference>credentialId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testClassNames</name>
            <value>
                <elementReference>testClassNames</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DelegateApexTestsExecutionAction</nameSegment>
        <outputParameters>
            <assignToReference>TestExecutionJobId</assignToReference>
            <name>asyncJobId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IsSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>QueryApexTestResults</name>
        <label>Query Apex Test Results</label>
        <locationX>215</locationX>
        <locationY>569</locationY>
        <actionName>QueryApexTestResultsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsActionSuccessful2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>credentialId</name>
            <value>
                <elementReference>credentialId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testClassNames</name>
            <value>
                <elementReference>testClassNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>asyncJobId</name>
            <value>
                <elementReference>TestExecutionJobId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userStoryId</name>
            <value>
                <elementReference>userStoryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueryApexTestResultsAction</nameSegment>
        <outputParameters>
            <assignToReference>IsSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultJson</assignToReference>
            <name>resultJson</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>AreApexTestResultsReady</name>
        <label>Are Apex Test Results Ready?</label>
        <locationX>205</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>CreateAttachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultJson</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Polling_Pause</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActionSuccessful</name>
        <label>Is Action Successful?</label>
        <locationX>208</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowWarningMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryApexTestResults</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActionSuccessful2</name>
        <label>Is Action Successful?</label>
        <locationX>206</locationX>
        <locationY>749</locationY>
        <defaultConnector>
            <targetReference>ShowWarningMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreApexTestResultsReady</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>DelayTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.25/1440</expression>
    </formulas>
    <interviewLabel>Orchestrate Apex Test Execution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrate Apex Test Execution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ShowWarningMessage</name>
        <label>Show Warning Message</label>
        <locationX>368</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ApexTestRunner</stringValue>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>done</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>isFinished__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>done</stringValue>
            </value>
        </inputAssignments>
        <object>Copado_Notification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCopadoNotification</name>
        <label>Update Copado Notification</label>
        <locationX>515</locationX>
        <locationY>956</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ApexTestRunner</stringValue>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>done</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>isFinished__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSuccess__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>done</stringValue>
            </value>
        </inputAssignments>
        <object>Copado_Notification__c</object>
    </recordUpdates>
    <start>
        <locationX>91</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DelegateApexTestExecutionToRelatedOrg</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>credentialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testClassNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestExecutionJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Polling_Pause</name>
        <label>Polling Pause</label>
        <locationX>50</locationX>
        <locationY>747</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Resume</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>QueryApexTestResults</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>DelayTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Resume</label>
        </waitEvents>
    </waits>
</Flow>
