flows/PromotionDeployAction_UpdateUserStoriesEnvironment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_User_Story_to_List</name>
        <label>Add User Story to List</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>userStoriesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedUserStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Promoted_User_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Updated_User_Story</name>
        <label>Create Updated User Story</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>updatedUserStory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Promoted_User_Stories.User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUserStory.Promote_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUserStory.Promote_and_Deploy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUserStory.Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Promotion.Destination_Environment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUserStory.Org_Credential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Promotion.Destination_Org_Credential__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Story_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Error_Message</name>
        <label>Store Error Message</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Error_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>successPayload</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{ &quot;isSuccess&quot;: true }</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Need_to_Update_User_Stories</name>
        <label>Need to Update User Stories</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promoted_User_Stories</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is injected in the PromotionDeployAction when there are &apos;After&apos; Quality Gates. In that case, this flow is added as Job Step before continuing with the Quality Gates, so that the User Stories are updated before the Quality Gates are finished.</description>
    <environments>Default</environments>
    <formulas>
        <name>errorPayload</name>
        <dataType>String</dataType>
        <expression>&apos;{ &quot;isSuccess&quot; : true, &quot;errorMessage&quot; : &quot;&apos; + {!errorMessage} + &apos;&quot; }&apos;</expression>
    </formulas>
    <formulas>
        <name>topicUri</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-result/&apos; + {!resultId}</expression>
    </formulas>
    <interviewLabel>Update User Stories Environment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Stories Environment</label>
    <loops>
        <name>Iterate_Promoted_User_Stories</name>
        <label>Iterate Promoted User Stories</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Promoted_User_Stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Updated_User_Story</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Stories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Error_Event</name>
        <label>Publish Error Event</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>errorPayload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic_Uri__c</field>
            <value>
                <elementReference>topicUri</elementReference>
            </value>
        </inputAssignments>
        <object>Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Success_Event</name>
        <label>Publish Success Event</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>successPayload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic_Uri__c</field>
            <value>
                <elementReference>topicUri</elementReference>
            </value>
        </inputAssignments>
        <object>Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Promoted_User_Stories</name>
        <label>Get Promoted User Stories</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Promoted_User_Stories</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Store_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Promoted_User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_Story__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion</name>
        <label>Get Promotion</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_to_Update_User_Stories</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Store_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Destination_Org_Credential__c</queriedFields>
        <queriedFields>Destination_Environment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Stories</name>
        <label>Update User Stories</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Publish_Success_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Store_Error_Message</targetReference>
        </faultConnector>
        <inputReference>userStoriesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Promotion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the promotion being deployed.</description>
        <name>promotionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status from the previous steps. Only update user stories if status is successful</description>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedUserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Story__c</objectType>
    </variables>
    <variables>
        <name>userStoriesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Story__c</objectType>
    </variables>
</Flow>
