flows/QueueOrcestrator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResumeExecution</name>
        <label>Resume Execution</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Queue</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>resumeEvent.Payload__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>callback</name>
            <value>
                <elementReference>callback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>contextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Queue</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>topicUri</name>
        <dataType>String</dataType>
        <expression>&apos;/event/copado/v1/queue-resume/&apos; + {!contextId}</expression>
    </formulas>
    <interviewLabel>Queue Orcestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Queue Orcestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resumeEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event__e</objectType>
    </variables>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <waitEvents>
            <name>Resume</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ResumeExecution</targetReference>
            </connector>
            <eventType>Event__e</eventType>
            <inputParameters>
                <name>Topic_Uri__c</name>
                <value>
                    <elementReference>topicUri</elementReference>
                </value>
            </inputParameters>
            <label>Resume</label>
            <outputParameters>
                <assignToReference>resumeEvent</assignToReference>
                <name>Event__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
