flows/Result_Monitor_Result_Progress_Status_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Action</name>
        <label>Get Action</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>JobExecutionActionExtractor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JobExecutionActionExtractor</nameSegment>
        <outputParameters>
            <assignToReference>Action</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Publish an event whenever the progress status of the result is changed. So live message component can listen it.</description>
    <environments>Default</environments>
    <formulas>
        <description>Contains other information about result</description>
        <name>DataJson</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;resultId&quot; : &quot;&apos; + {!$Record.Id} + &apos;&quot;, &quot;name&quot; : &quot;&apos; + {!$Record.Name} + &apos;&quot;, &quot;context&quot; : &quot;&apos; + {!$Record.ParentId__c} + &apos;&quot;, &quot;externalJobId&quot; : &quot;&apos; + {!$Record.Job_Id__c} + &apos;&quot;, &quot;progressStatus&quot; : &quot;&apos; + {!$Record.Progress_Status__c} + &apos;&quot;, &quot;status&quot; : &quot;&apos; + TEXT({!$Record.Status__c}) + &apos;&quot;, &quot;runDate&quot; : &quot;&apos; + TEXT({!$Record.Start_Time__c}) + &apos;&quot;, &quot;test&quot; : &quot;&apos; + {!$Record.Test__c} + &apos;&quot;, &quot;userStory&quot; : &quot;&apos; + {!$Record.User_Story__c} + &apos;&quot;,&quot;function&quot; : &quot;&apos; + {!$Record.Function__c} + &apos;&quot;,&quot;jobStep&quot; : &quot;&apos; + {!$Record.JobStep__c} + &apos;&quot;, &quot;action&quot; : &quot;&apos; + {!Action} + &apos;&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>TopicUri</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-monitor/&apos; + {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Result Monitor Result Progress Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Result Monitor Result Progress Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic_Uri__c</field>
            <value>
                <elementReference>TopicUri</elementReference>
            </value>
        </inputAssignments>
        <object>Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Result__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Action</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;isSuccess&quot;: true,&quot;data&quot;: {!DataJson}}</text>
    </textTemplates>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
