flows/RunSingleTest.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RunTest</name>
        <label>Run Test</label>
        <locationX>980</locationX>
        <locationY>200</locationY>
        <actionName>RunTestAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisplayResult</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>testId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RunTestAction</nameSegment>
        <outputParameters>
            <assignToReference>executionId</assignToReference>
            <name>executionId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>ExtensionToolManual</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Tests</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Verify_Extension_Tool</name>
        <label>Verify Extension Tool</label>
        <locationX>730</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>RunTest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Manual_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfigurationExtensionTool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExtensionToolManual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualTestExecution</targetReference>
            </connector>
            <label>Is Manual Test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Run Single Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Single Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DisplayError</name>
        <label>Display Error</label>
        <locationX>1146</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorResponse</name>
            <fieldText>&lt;p&gt;Unexpected error during execution:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayResult</name>
        <label>Display result</label>
        <locationX>979</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessfulResponse</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;A &lt;/span&gt;&lt;a href=&quot;/{!executionId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Job execution record&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; has been generated. Check the latest related result for more information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManualTestExecution</name>
        <label>ManualTestExecution</label>
        <locationX>745</locationX>
        <locationY>476</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>runManualTestsLWC</name>
            <extensionName>c:runManualTests</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>853</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Verify_Extension_Tool</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfigurationExtensionTool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.ExtensionConfiguration__r.ExtensionTool__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>executionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Test__c</objectType>
    </variables>
</Flow>
