flows/Send_Email_on_Case_Comment_Record_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_the_case_owner</name>
        <label>Send Email to the case owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Parent.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@splunk.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_the_case_owner_without_opportunity</name>
        <label>Send Email to the case owner without opportunity</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Parent.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@splunk.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateBodyWithoutOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_if_OM_And_Billing_Case</name>
        <label>Check if OM And Billing Case</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_OM_And_Billing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerIndividualUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OM_and_Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Opportunity_is_Blank</targetReference>
            </connector>
            <label>YES OM And Billing Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Opportunity_is_Blank</name>
        <label>If Opportunity is Blank</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_the_case_owner_without_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Opportunity_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_the_case_owner</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <description>CRM-21446</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseURLLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_550}, FIND(&apos;site&apos;,{!$Api.Enterprise_Server_URL_550})-1) &amp; &apos;salesforce.com/&apos; &amp; {!$Record.ParentId}</expression>
    </formulas>
    <formulas>
        <name>IsOwnerIndividualUser</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!$Record.Parent.OwnerId}, &quot;005&quot;)</expression>
    </formulas>
    <formulas>
        <name>OpportunityURLLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_550}, FIND(&apos;site&apos;,{!$Api.Enterprise_Server_URL_550})-1) &amp; &apos;salesforce.com/&apos; &amp; {!$Record.Parent.Opportunity_Name__c}</expression>
    </formulas>
    <interviewLabel>Send Email on Case Comment Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email on Case Comment Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_OM_And_Billing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case # {!$Record.Parent.CaseNumber} : {!$Record.Parent.Account.Name} : ${!$Record.Parent.Opportunity_Name__r.ACV_Allocated__c} : Case Comment Added</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following Case #{!$Record.Parent.CaseNumber} has a new case comment added :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Comment : {!$Record.CommentBody}&lt;/p&gt;&lt;p&gt;Case : {!CaseURLLink}&lt;/p&gt;&lt;p&gt;Opportunity : {!OpportunityURLLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please do not reply to this message. To reply, please click on the case and update the comments.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateBodyWithoutOpportunity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following Case #{!$Record.Parent.CaseNumber} has a new case comment added :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Comment : {!$Record.CommentBody}&lt;/p&gt;&lt;p&gt;Case : {!CaseURLLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please do not reply to this message. To reply, please click on the case and update the comments.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
