flows/Tackle_Private_Offer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Multiple_Payment_Schedules_Action</name>
        <label>Create Multiple Payment Schedules Action</label>
        <locationX>1084</locationX>
        <locationY>7100</locationY>
        <actionName>TacklePrivateOfferController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sync_Tackle_Offer_Decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>createMultiplePaymentSchedules</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tackleOfferId</name>
            <value>
                <elementReference>Create_Tackle_Offer_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TacklePrivateOfferController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Offer_Created_Email</name>
        <label>Send Offer Created Email</label>
        <locationX>1282</locationX>
        <locationY>7892</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Refund_Email_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OfferCreatedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Email_Recipient_Custom_Setting_Record.String__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>OfferCreatedEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Refund_Email</name>
        <label>Send Refund Email</label>
        <locationX>1282</locationX>
        <locationY>8192</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RefundEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Email_Recipient_Custom_Setting_Record.String__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RefundEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sync_Tackle_Offer_Action</name>
        <label>Sync Tackle Offer Action</label>
        <locationX>1084</locationX>
        <locationY>7400</locationY>
        <actionName>tackle__PrivateOfferInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Email_Recipient_Custom_Setting_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Create_Tackle_Offer_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tackle__PrivateOfferInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Content_Document_Link_Record_Assignment</name>
        <label>Add Content Document Link Record Assignment</label>
        <locationX>1172</locationX>
        <locationY>5900</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document_Ids_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Content_Document_to_Delete_Record_Assignment</name>
        <label>Add Content Document to Delete Record Assignment</label>
        <locationX>1172</locationX>
        <locationY>6608</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document_Ids_to_Delete_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Document_Link_Record_Assignment</name>
        <label>Create Content Document Link Record Assignment</label>
        <locationX>1172</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Document_Ids_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Tackle_Offer_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Content_Document_Link_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Document_to_Delete_Record_Assignment</name>
        <label>Create Content Document to Delete Record Assignment</label>
        <locationX>1172</locationX>
        <locationY>6500</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentToDelete.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Document_Ids_to_Delete_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Content_Document_to_Delete_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disabled_Feature_Error_Message_Assignment</name>
        <label>Disabled Feature Error Message Assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private Offer Creation wizard is not available at the moment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Documents_to_Delete_Size_Assignment</name>
        <label>Documents to Delete Size Assignment</label>
        <locationX>1678</locationX>
        <locationY>3380</locationY>
        <assignmentItems>
            <assignToReference>documentsToDeleteSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uploadedDocumentIdsToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buyer_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exceeding_Delay_Invocing_Assignment</name>
        <label>Exceeding Delay Invocing Assignment</label>
        <locationX>1546</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ExceedingDelayInvoicing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exceeding_Delay_Invoicing_Acknowledge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Active_Tackle_Offer_Error_Message_Assignment</name>
        <label>Existing Active Tackle Offer Error Message Assignment</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You already have a Private offer in process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invalid_Opportunity_Error_Message_Assignment</name>
        <label>Invalid Opportunity Error Message Assignment</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity does not allow Private Offer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marketplace_Fee_CPPO_Involved_Assignment</name>
        <label>Marketplace Fee CPPO Involved Assignment</label>
        <locationX>1282</locationX>
        <locationY>4844</locationY>
        <assignmentItems>
            <assignToReference>MarketplaceFee</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Invalid_Close_Date_Error_Message_Assignment</name>
        <label>Opportunity Invalid Close Date Error Message Assignment</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offer creation can only occur within 15 days of the opportunity close date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Not_In_Contracting_Stage_Error_Message_Assignment</name>
        <label>Opportunity Not In Contracting Stage Error Message Assignment</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity must be in Contracting Stage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Partner_Is_Blank_Error_Message_Assignment</name>
        <label>Opportunity Partner Is Blank Error Message Assignment</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity partner cannot be blank</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Approved_Quote_Is_Expired_Error_Message_Assignment</name>
        <label>Primary Approved Quote Is Expired Error Message Assignment</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Primary/Approved quote is expired, please refresh your quote in order to request a Private Offer.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Quote_Not_Approved_Error_Message_Assignment</name>
        <label>Primary Quote Not Approved Error Message Assignment</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>initialValidationsErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Primary quote has not yet been approved, please wait for your quote to be approved before requesting a Private Offer.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Type_Renewal_Expansion_Upgrade_Services_Marketplace_Fee_Assignment</name>
        <label>Sales Type Renewal, Expansion, Upgrade, Service Marketplace Fee Assignment</label>
        <locationX>1502</locationX>
        <locationY>4352</locationY>
        <assignmentItems>
            <assignToReference>MarketplaceFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketplace_Fee_CPPO_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Speed_To_Cloud_Program_Approved_Assignment</name>
        <label>Speed To Cloud Program Approved Assignment</label>
        <locationX>1524</locationX>
        <locationY>2672</locationY>
        <assignmentItems>
            <assignToReference>SpeedToCloudProgramApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Speed_To_Cloud_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Speed_To_Cloud_Value_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TCV_Above_1M_Marketplace_Fee_Assignment</name>
        <label>TCV Above 1M Marketplace Fee Assignment</label>
        <locationX>1062</locationX>
        <locationY>4460</locationY>
        <assignmentItems>
            <assignToReference>MarketplaceFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketplace_Fee_CPPO_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TCV_Under_1M_Marketplace_Fee_Assignment</name>
        <label>TCV Under 1M Marketplace Fee Assignment</label>
        <locationX>798</locationX>
        <locationY>4460</locationY>
        <assignmentItems>
            <assignToReference>MarketplaceFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketplace_Fee_CPPO_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transaction_Type_A_Assignment</name>
        <label>Transaction Type A Assignment</label>
        <locationX>1546</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>TransactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Type_A</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transaction_Type_B_Assignment</name>
        <label>Transaction Type B Assignment</label>
        <locationX>1810</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>TransactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Type_B</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uploaded_Documents_Size_Assignment</name>
        <label>Uploaded Documents Size Assignment</label>
        <locationX>1678</locationX>
        <locationY>3272</locationY>
        <assignmentItems>
            <assignToReference>uploadedDocumentsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uploadedDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Documents_to_Delete_Size_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canceling_Future_Invoices_No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canceling_Future_Invoices_Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_To_Customer</name>
        <choiceText>Direct to Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct to Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_To_Partner</name>
        <choiceText>Direct to partner (requires POST and Exception)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct to Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No, I still need approval for Cancel and Replace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Through_MSP_SPPO</name>
        <choiceText>Through MSP (SPPO) (requires POST and Exception)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Through_Partner_CPPO</name>
        <choiceText>Through Partner (CPPO)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes, my opportunity has been approved for Cancel and Replace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Records_Decision</name>
        <label>Create Records Decision</label>
        <locationX>1414</locationX>
        <locationY>5036</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Recipient_Custom_Setting_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_Records_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateRecordsFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tackle_Product_Listing_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Documents_Decision</name>
        <label>Delete Documents Decision</label>
        <locationX>1216</locationX>
        <locationY>6284</locationY>
        <defaultConnector>
            <targetReference>Future_Payment_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Delete_Documents_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentsToDeleteSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Ids_to_Delete_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exceeding_Delay_Invoicing_Decision</name>
        <label>Exceeding Delay Invoicing Decision</label>
        <locationX>1678</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Transaction_Screen_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ok Outcome</defaultConnectorLabel>
        <rules>
            <name>OkOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.ST_Future_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.ST_Payment1_Due_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Exceeding_Delay_Invoicing_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exceeding_Delay_Invoicing_Screen</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_Payment_Decision</name>
        <label>Future Payment Decision</label>
        <locationX>1216</locationX>
        <locationY>6992</locationY>
        <defaultConnector>
            <targetReference>Create_Tackle_Payment_Schedule_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Future_Payment_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.ST_Future_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Multiple_Payment_Schedules_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Validations_Decision</name>
        <label>Initial Validations Decision</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Initial_Validations_Error_Message_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Initial_Validations_Disabled_Feature_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Feature_Enabled_Record.Enable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disabled_Feature_Error_Message_Assignment</targetReference>
            </connector>
            <label>Disabled Feature</label>
        </rules>
        <rules>
            <name>Initial_Validations_Existing_Active_Tackle_Offer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tackle_Offer_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Active_Tackle_Offer_Error_Message_Assignment</targetReference>
            </connector>
            <label>Existing Active Tackle Offer</label>
        </rules>
        <rules>
            <name>Initial_Validations_Invalid_Opportunity_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Indirect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Marketplace</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Opportunity_Error_Message_Assignment</targetReference>
            </connector>
            <label>Invalid Opportunity</label>
        </rules>
        <rules>
            <name>Initial_Validations_Opportunity_Not_In_Contracting_Stage_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Not_In_Contracting_Stage_Error_Message_Assignment</targetReference>
            </connector>
            <label>Opportunity Not In Contracting Stage</label>
        </rules>
        <rules>
            <name>Initial_Validations_Opportunity_Partner_Is_Blank_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Partner_Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Partner_Is_Blank_Error_Message_Assignment</targetReference>
            </connector>
            <label>Opportunity Partner Is Blank</label>
        </rules>
        <rules>
            <name>Initial_Validations_Opportunity_Invalid_Close_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityCloseDateConstraintFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Invalid_Close_Date_Error_Message_Assignment</targetReference>
            </connector>
            <label>Opportunity Invalid Close Date</label>
        </rules>
        <rules>
            <name>Primary_Quote_Is_Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.SBQQ__PrimaryQuote__r.ApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Quote_Not_Approved_Error_Message_Assignment</targetReference>
            </connector>
            <label>Primary Quote Is Not Approved</label>
        </rules>
        <rules>
            <name>Primary_Approved_Quote_is_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.SBQQ__PrimaryQuote__r.SBQQ__ExpirationDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Approved_Quote_Is_Expired_Error_Message_Assignment</targetReference>
            </connector>
            <label>Primary Approved Quote is Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Validations_Error_Message_Decision</name>
        <label>Initial Validations Error Message Decision</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>CSP_Program_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Initial_Validations_Error_Message_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>initialValidationsErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Document_Links_Decision</name>
        <label>Insert Document Links Decision</label>
        <locationX>1216</locationX>
        <locationY>5576</locationY>
        <defaultConnector>
            <targetReference>Delete_Documents_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Insert_Document_Links_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uploadedDocumentsSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Ids_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_Place_Fee_Sales_Type_Decision</name>
        <label>Market Place Fee Sales Type Decision</label>
        <locationX>1414</locationX>
        <locationY>4244</locationY>
        <defaultConnector>
            <targetReference>Marketplace_Fee_CPPO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Market_Place_Fee_Sales_Type_New_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCV_Decision</targetReference>
            </connector>
            <label>New Sales Type Outcome</label>
        </rules>
        <rules>
            <name>Market_Place_Fee_Sales_Type_Renewal_Expansion_Upgrade_Services_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Type_Renewal_Expansion_Upgrade_Services_Marketplace_Fee_Assignment</targetReference>
            </connector>
            <label>Renewal,Expansion,Upgrade,Services Sales Type Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketplace_Fee_CPPO_Decision</name>
        <label>Marketplace Fee CPPO Decision</label>
        <locationX>1414</locationX>
        <locationY>4736</locationY>
        <defaultConnector>
            <targetReference>Create_Records_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Involved</defaultConnectorLabel>
        <rules>
            <name>Marketplace_Fee_CPPO_Involved_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedPartnerAccountContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketplace_Fee_CPPO_Involved_Assignment</targetReference>
            </connector>
            <label>Involved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Customer_Contact_Validation_Decision</name>
        <label>Required Customer Contact Validation Decision</label>
        <locationX>1678</locationX>
        <locationY>3920</locationY>
        <defaultConnector>
            <targetReference>Required_Customer_Contact_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Required_Customer_Contact_Validation_Pass_Outcomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedCustomerAccountContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Contact_Record</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Partner_Customer_Validation_Decision</name>
        <label>Required Partner Customer Validation Decision</label>
        <locationX>1480</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Required_Partner_Contact_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Required_Partner_Customer_Validation_Pass_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedPartnerAccountContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Contact_Record</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Offer_Created_Email_Decision</name>
        <label>Send Offer Created Email Decision</label>
        <locationX>1414</locationX>
        <locationY>7784</locationY>
        <defaultConnector>
            <targetReference>Send_Refund_Email_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Send_Offer_Created_Email_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendOfferCreatedEmailFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Recipient_Custom_Setting_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Recipient_Custom_Setting_Record.String__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Offer_Created_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Refund_Email_Decision</name>
        <label>Send Refund Email Decision</label>
        <locationX>1414</locationX>
        <locationY>8084</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Send_Refund_Email_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refunding_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SendRefundEmailFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Recipient_Custom_Setting_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Recipient_Custom_Setting_Record.String__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Refund_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Speed_To_Cloud_Screen_Decision</name>
        <label>Speed To Cloud Screen Decision</label>
        <locationX>1678</locationX>
        <locationY>2456</locationY>
        <defaultConnector>
            <targetReference>Order_Document_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Speed_To_Cloud_Screen_Yes_Outcome</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.SW_iACV_Allocated__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type_A</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Direct_To_Customer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type_B</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Through_Partner_CPPO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Speed_To_Cloud_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Speed_To_Cloud_Value_Decision</name>
        <label>Speed To Cloud Value Decision</label>
        <locationX>1524</locationX>
        <locationY>2780</locationY>
        <defaultConnector>
            <targetReference>Order_Document_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Speed_To_Cloud_Value_Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Speed_To_Cloud_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Speed_To_Cloud_Additional_Info_Screen</targetReference>
            </connector>
            <label>Yes Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sync_Tackle_Offer_Decision</name>
        <label>Sync Tackle Offer Decision</label>
        <locationX>1216</locationX>
        <locationY>7292</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Recipient_Custom_Setting_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Sync_Tackle_Offer_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SyncTackleOfferFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Tackle_Offer_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCV_Decision</name>
        <label>Deals TCV Decision</label>
        <locationX>1062</locationX>
        <locationY>4352</locationY>
        <defaultConnector>
            <targetReference>Marketplace_Fee_CPPO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Deals_TCV_Under_1M_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCV_Under_1M_Marketplace_Fee_Assignment</targetReference>
            </connector>
            <label>TCV Under 1M</label>
        </rules>
        <rules>
            <name>Deals_TCV_Above_1M_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCV_Above_1M_Marketplace_Fee_Assignment</targetReference>
            </connector>
            <label>TCV Above 1M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Screen_Decision</name>
        <label>Transaction Screen Decision</label>
        <locationX>1678</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Transaction_Type_B_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Distributor != Partner Outcome</defaultConnectorLabel>
        <rules>
            <name>Distributor_Equals_Partner_Outcome</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Distributor__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWS Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Partner_Account_Name__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amazon (AWS) - Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Type_A_Screen</targetReference>
            </connector>
            <label>Distributor == Partner Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type_Decision</name>
        <label>Transaction Type Decision</label>
        <locationX>1678</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Speed_To_Cloud_Screen_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPPO_Transaction_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_B</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Through_Partner_CPPO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPPO_Transaction_Additional_Info</targetReference>
            </connector>
            <label>CPPO Transaction Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CancelingFutureInvoicesFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Canceling_Future_Invoices}=={!Canceling_Future_Invoices_Yes_Choice},true,false)</expression>
    </formulas>
    <formulas>
        <name>Exceeding_Delay_Invoicing_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 15</expression>
    </formulas>
    <formulas>
        <name>ExpirationDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <name>Marketplace</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Opportunity_Record.Distributor__r.Name}==&apos;AWS Marketplace&apos;,&apos;AWS&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>OpportunityCloseDateConstraintFormula</name>
        <dataType>Boolean</dataType>
        <expression>(TODAY() &gt; ({!Get_Opportunity_Record.CloseDate} - 16)) &amp;&amp; (TODAY() &lt;= {!Get_Opportunity_Record.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>OpportunityUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_540},FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_540})) + {!Get_Opportunity_Record.Id}</expression>
    </formulas>
    <interviewLabel>Tackle Private Offer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tackle Private Offer</label>
    <loops>
        <name>Content_Document_Ids_Loop</name>
        <label>Content Document  Ids Loop</label>
        <locationX>1084</locationX>
        <locationY>5684</locationY>
        <collectionReference>uploadedDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Document_Link_Record_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Document_Link_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Content_Document_Ids_to_Delete_Loop</name>
        <label>Content Document Ids to Delete Loop</label>
        <locationX>1084</locationX>
        <locationY>6392</locationY>
        <collectionReference>uploadedDocumentIdsToDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Document_to_Delete_Record_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Document_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Document_Link_Records</name>
        <label>Create Document Link Records</label>
        <locationX>1084</locationX>
        <locationY>6092</locationY>
        <connector>
            <targetReference>Delete_Documents_Decision</targetReference>
        </connector>
        <inputReference>contentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Recipient_Record</name>
        <label>Create Notification Recipient Record</label>
        <locationX>1216</locationX>
        <locationY>5468</locationY>
        <connector>
            <targetReference>Insert_Document_Links_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>tackle__Offer__c</field>
            <value>
                <elementReference>Create_Tackle_Offer_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__User__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>tackle__Notification_Recipient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tackle_Buyer_Details_Record</name>
        <label>Create Tackle Buyer Details Record</label>
        <locationX>1216</locationX>
        <locationY>5360</locationY>
        <connector>
            <targetReference>Create_Notification_Recipient_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>tackle__Contact__c</field>
            <value>
                <elementReference>selectedCustomerAccountContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Offer__c</field>
            <value>
                <elementReference>Create_Tackle_Offer_Record</elementReference>
            </value>
        </inputAssignments>
        <object>tackle__Buyer_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tackle_Offer_Record</name>
        <label>Create Tackle Offer Record</label>
        <locationX>1216</locationX>
        <locationY>5252</locationY>
        <connector>
            <targetReference>Create_Tackle_Buyer_Details_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Canceling_Future_Invoice__c</field>
            <value>
                <elementReference>CancelingFutureInvoicesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Exceeding_Delay_Invoicing__c</field>
            <value>
                <elementReference>ExceedingDelayInvoicing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Opportunity_Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_AWS_Account_Number__c</field>
            <value>
                <elementReference>Partner_AWS_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Account__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Partner_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Contact__c</field>
            <value>
                <elementReference>selectedPartnerAccountContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Amount__c</field>
            <value>
                <elementReference>Refunding_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speed_to_Cloud_Program_Approved__c</field>
            <value>
                <elementReference>SpeedToCloudProgramApproved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>TransactionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Account__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Buyers_AWS_Account_Number__c</field>
            <value>
                <elementReference>Buyer_AWS_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Duration_in_Months__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Expiration_Date__c</field>
            <value>
                <elementReference>ExpirationDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Marketplace_Fee__c</field>
            <value>
                <elementReference>MarketplaceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Tackle_Product_Listing__c</field>
            <value>
                <elementReference>Get_Tackle_Product_Listing_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tackle__Tackle_Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tackle_Payment_Schedule_Record</name>
        <label>Create Tackle Payment Schedule Record</label>
        <locationX>1348</locationX>
        <locationY>7100</locationY>
        <connector>
            <targetReference>Sync_Tackle_Offer_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>tackle__Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Offer__c</field>
            <value>
                <elementReference>Create_Tackle_Offer_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tackle__Payment_Amount__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Field_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>tackle__Payment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Document_Records</name>
        <label>Delete Document Records</label>
        <locationX>1084</locationX>
        <locationY>6800</locationY>
        <connector>
            <targetReference>Future_Payment_Decision</targetReference>
        </connector>
        <inputReference>contentDocumentsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Customer_Contact_Record</name>
        <label>Get Customer Contact Record</label>
        <locationX>1414</locationX>
        <locationY>4028</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Submit_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedCustomerAccountContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>selectedCustomerAccountContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedCustomerAccountContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedCustomerAccountContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Customer_Contact_Record</name>
        <label>Get Default Customer Contact Record</label>
        <locationX>1678</locationX>
        <locationY>3704</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Contact_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Shipto_Contact_Role_Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>selectedCustomerAccountContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedCustomerAccountContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedCustomerAccountContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Recipient_Custom_Setting_Record</name>
        <label>Get Email Recipient Custom Setting Record</label>
        <locationX>1414</locationX>
        <locationY>7676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Offer_Created_Email_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSP_PrivateFlow_EmailRecipient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NVP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Feature_Enabled_Record</name>
        <label>Get Feature Enabled Record</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tackle_Offer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSP_PrivateFlow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Functionality_Enable_Disable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Validations_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Shipto_Contact_Role_Record</name>
        <label>Get Opportunity Shipto Contact Role Record</label>
        <locationX>1678</locationX>
        <locationY>3596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Customer_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ship To</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Contact_Record</name>
        <label>Get Partner Contact Record</label>
        <locationX>1348</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Speed_To_Cloud_Screen_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedPartnerAccountContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>selectedPartnerAccountContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedPartnerAccountContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedPartnerAccountContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tackle_Offer_Record</name>
        <label>Get Tackle Offer Record</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>tackle__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tackle__Cancelled_At__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tackle__Archived_At__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tackle__Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>tackle__Accepted_At__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tackle__Tackle_Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tackle_Product_Listing_Record</name>
        <label>Get Tackle Product Listing Record</label>
        <locationX>1216</locationX>
        <locationY>5144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tackle_Offer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TackleProductListingName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tackle__Tackle_Product_Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Buyer_Screen</name>
        <label>Buyer_Screen</label>
        <locationX>1678</locationX>
        <locationY>3488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Shipto_Contact_Role_Record</targetReference>
        </connector>
        <fields>
            <name>Customer_Buyer_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;You must enter a valid AWS Buyer ID in order to proceed. If you believe you have added the right Buyer ID and are receiving an error message, please reach out to your PDM for help in validating this information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buyer_AWS_ID</name>
            <dataType>String</dataType>
            <fieldText>Customer AWS Buyer ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5); font-size: 12px;&quot;&gt;AWS Buyer Id has to be 12 digit and cannot be the same as Partner AWS ID&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(AND(ISNUMBER({!Buyer_AWS_ID}),REGEX({!Buyer_AWS_ID},&quot;[0-9]{12}&quot;)),{!Partner_AWS_ID}!={!Buyer_AWS_ID})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1414</locationX>
        <locationY>8384</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Private Offer Application has been submitted and will be reviewed in the order it was received. If approved, your customer will receive their Private Offer link and information on how to accept it. If there are any issues with your Application, you will be contacted as quickly as possible with instructions and next steps to resolve. Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CPPO_Transaction_Additional_Info</name>
        <label>CPPO Transaction Additional Info</label>
        <locationX>1480</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Required_Partner_Customer_Validation_Decision</targetReference>
        </connector>
        <fields>
            <name>Partner_Company_Name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;What is the partner company name?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Opportunity_Record.Partner_Account_Name__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner_AWS_ID</name>
            <dataType>String</dataType>
            <fieldText>What is the partner&apos;s AWS ID?  (The AWS ID has to be 12 digits)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Invalid value&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(ISNUMBER({!Partner_AWS_ID}),REGEX({!Partner_AWS_ID},&quot;[0-9]{12}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Partner_Contact_Lookup_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 1, 1);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Who are you working with at the partner company?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner_Contact_Lookup_LWC</name>
            <extensionName>c:customLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filter</name>
                <value>
                    <elementReference>partnerContactLookupFilter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>limitValue</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>partnerContactLookupSearchTerm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Search Partner Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedId</name>
                <value>
                    <elementReference>selectedPartnerAccountContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedName</name>
                <value>
                    <elementReference>selectedPartnerAccountContact.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>partnerContactLookupSearchTerm</assignToReference>
                <name>searchTerm</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedPartnerAccountContact.Id</assignToReference>
                <name>selectedId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedPartnerAccountContact.Name</assignToReference>
                <name>selectedName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Partner_Contact_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(32, 33, 36);&quot;&gt;*If contact is not available, then exit and create contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner_Contact_EmptyBlock_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CSP_Program_Screen</name>
        <label>CSP Program Screen</label>
        <locationX>1678</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Exceeding_Delay_Invoicing_Decision</targetReference>
        </connector>
        <fields>
            <name>Screen1_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Hello Splunk RSM&apos;s,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Welcome to the new CSP Program Application! This process serves as a point for initiating a Marketplace transaction.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;You can learn more about the Marketplace Programs by visiting the CSP Programs &amp;amp; Operations&lt;/span&gt;&lt;a href=&quot;https://splunk--simpplr.vf.force.com/apex/simpplr__app?u=/site/aCa5a0000008vt3CAA/page/aCU5a000000CfvPGAS&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(17, 85, 204); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;&lt;u&gt; PWNY Site&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;For help with this application, reach out to the PDM in your region at this&lt;/span&gt;&lt;a href=&quot;https://splunk--simpplr.vf.force.com/apex/simpplr__app?u=/site/aCa5a0000008vt3CAA/page/aCU5a000000CgilGAC&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(17, 85, 204); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;&lt;u&gt; link&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Next Steps:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Please answer a few questions about your opportunity to request a Private Offer.&lt;/em&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt;&quot;&gt;Please designate a Primary Contact before proceeding. This contact will receive the Private Offer.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt;&quot;&gt;All negotiations with the customer must be final, including any Special Terms, Conditions, and Pricing/Payment Schedules.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt;&quot;&gt;Primary and Approved quote must be designated in SFDC&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt;&quot;&gt;If your Opportunity includes an Order Document, it must be added to the application. The Order Document MUST be signed by the Signing Entity and Splunk before submitting an application.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;The Splunk PDM assigned to your Sub-Theater will be notified of your submission if you need further assistance.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;We look forward to working with you soon!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;CSP Partner Team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CSP_Program_MarketPlace_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 14px;&quot;&gt;This offer will be created in  {!Get_Opportunity_Record.Distributor__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Contact_Screen</name>
        <label>Customer Contact Screen</label>
        <locationX>1678</locationX>
        <locationY>3812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Required_Customer_Contact_Validation_Decision</targetReference>
        </connector>
        <fields>
            <name>Customer_Additional_Info_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(58, 65, 74);&quot;&gt;The customer detailed below will receive/accept the private offer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Contact_Lookup_Text_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 1, 1);&quot;&gt;*&lt;/span&gt;Customer Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Contact_Lookuip_LWC</name>
            <extensionName>c:customLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filter</name>
                <value>
                    <elementReference>customerContactLookupFilter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>limitValue</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>customerContactLookupSearchTerm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Search Customer Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedId</name>
                <value>
                    <elementReference>selectedCustomerAccountContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedName</name>
                <value>
                    <elementReference>selectedCustomerAccountContact.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>customerContactLookupSearchTerm</assignToReference>
                <name>searchTerm</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedCustomerAccountContact.Id</assignToReference>
                <name>selectedId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedCustomerAccountContact.Name</assignToReference>
                <name>selectedName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Customer_Contact_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(32, 33, 36);&quot;&gt;*If contact is not available, then exit and create contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Contact_EmptyBlock_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Initial_Validations_Error_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!initialValidationsErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exceeding_Delay_Invoicing_Screen</name>
        <label>Exceeding Delay Invoicing Screen</label>
        <locationX>1546</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Exceeding_Delay_Invocing_Assignment</targetReference>
        </connector>
        <fields>
            <name>Exceeding_Delay_Invoicing_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Your future invoice date is greater than 15 days from today, please acknowledge that you have &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(58, 65, 74);&quot;&gt;sought&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; BP approval and uploaded the email approval thread in the Notes &amp;amp; Attachment section of the Opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Note: Your Private Offer request will not be approved if this is not available.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exceeding_Delay_Invoicing_Acknowledge</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Acknowledge</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(254, 0, 1);&quot;&gt;Mandatory, requires user&apos;s acknowledgment to proceed&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Exceeding_Delay_Invoicing_Acknowledge}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Document_Information_Screen</name>
        <label>Order Document Information Screen</label>
        <locationX>1678</locationX>
        <locationY>3164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Uploaded_Documents_Size_Assignment</targetReference>
        </connector>
        <fields>
            <name>Order_Document_Information_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 14px;&quot;&gt;When is an Order Doc required?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 14px;&quot;&gt;Please visit the Business Practices PWNY portal, linked below, for more information about Ordering Docs. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://splunk--simpplr.vf.force.com/apex/simpplr__app?u=/site/aCa0b000000TOAaCAO/page/aCU0b000000TNaTGAW&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://splunk--simpplr.vf.force.com/apex/simpplr__app?u=/site/aCa0b000000TOAaCAO/page/aCU0b000000TNaTGAW&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 14px;&quot;&gt;If there is an Order Doc involved in your Opportunity, it must be added to the application. The Ord Doc MUST be signed by the Signing Entity and Splunk before submitting it with the application.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 14px;&quot;&gt;Please do not upload a copy of the quote.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 14px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Custom_File_Upload</name>
            <extensionName>c:customFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uploadedDocumentIds</name>
                <value>
                    <elementReference>uploadedDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadedDocumentIdsToDelete</name>
                <value>
                    <elementReference>uploadedDocumentIdsToDelete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadedDocumentNames</name>
                <value>
                    <elementReference>uploadedDocumentNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the signed and approved Order Document or SOW Document (if applicable).</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadedDocumentIds</assignToReference>
                <name>uploadedDocumentIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedDocumentIdsToDelete</assignToReference>
                <name>uploadedDocumentIdsToDelete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedDocumentNames</assignToReference>
                <name>uploadedDocumentNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Required_Customer_Contact_Error_Screen</name>
        <label>Required Customer Contact Error Screen</label>
        <locationX>1942</locationX>
        <locationY>4028</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Contact_Screen</targetReference>
        </connector>
        <fields>
            <name>Required_Customer_Contact_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 1, 1);&quot;&gt;Please select a customer contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Required_Partner_Contact_Error_Screen</name>
        <label>Required Partner Contact Error Screen</label>
        <locationX>1612</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CPPO_Transaction_Additional_Info</targetReference>
        </connector>
        <fields>
            <name>Required_Partner_Contact_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 1, 1);&quot;&gt;Please select a partner contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Submit_Screen</name>
        <label>Review Submit Screen</label>
        <locationX>1414</locationX>
        <locationY>4136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Market_Place_Fee_Sales_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Review_Info_Title_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(58, 65, 74);&quot;&gt;Please review the Customer information below before submitting&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Partner_Info_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Partner:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;AWS ID:&lt;/strong&gt; {!Partner_AWS_ID}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!selectedPartnerAccountContact.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!selectedPartnerAccountContact.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedPartnerAccountContact.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Customer_Info_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;AWS ID:&lt;/strong&gt; {!Buyer_AWS_ID}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!selectedCustomerAccountContact.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email &lt;/strong&gt;{!selectedCustomerAccountContact.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Speed_To_Cloud_Additional_Info_Screen</name>
        <label>Speed To Cloud Additional Info Screen</label>
        <locationX>1392</locationX>
        <locationY>2888</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Document_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Canceling_Future_Invoices</name>
            <choiceReferences>Canceling_Future_Invoices_Yes_Choice</choiceReferences>
            <choiceReferences>Canceling_Future_Invoices_No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are we canceling future invoices?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Refunding_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Are we refunding the customer for a past payment? If so, how much?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Speed_To_Cloud_Screen</name>
        <label>Speed To Cloud Screen</label>
        <locationX>1524</locationX>
        <locationY>2564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Speed_To_Cloud_Program_Approved_Assignment</targetReference>
        </connector>
        <fields>
            <name>Speed_To_Cloud_Program</name>
            <choiceReferences>Not_Applicable</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has your opportunity been approved for the Speed to Cloud (Cancel and Replace) Program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transaction_Type_A_Screen</name>
        <label>Transaction Type A Screen</label>
        <locationX>1546</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transaction_Type_A_Assignment</targetReference>
        </connector>
        <fields>
            <name>Screen3_A_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;Remember, AWS is NOT a Managed Service Provider nor a Reseller&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;MSP Requires a Managed Service Provider to be added to the SFDC opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;POST (Proof of Sell Through) - If you select &quot;Through MSP&quot; or &quot;Direct to Partner&quot;, you must upload a copy of the End User Customer&apos;s Purchase Order to the Partner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transaction_Type_A</name>
            <choiceReferences>Direct_To_Customer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Direct_To_Customer</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transaction_Type_B_Screen</name>
        <label>Transaction Type B Screen</label>
        <locationX>1810</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transaction_Type_B_Assignment</targetReference>
        </connector>
        <fields>
            <name>Screen3_B_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;Remember, AWS is NOT a Managed Service Provider nor a Reseller&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;MSP Requires a Managed Service Provider to be added to the SFDC opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(58, 65, 74); font-size: 14px;&quot;&gt;POST (Proof of Sell Through) - If you select &quot;Through MSP&quot; or &quot;Direct to Partner&quot;, you must upload a copy of the End User Customer&apos;s Purchase Order to the Partner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transaction_Type_B</name>
            <choiceReferences>Through_Partner_CPPO</choiceReferences>
            <choiceReferences>Through_MSP_SPPO</choiceReferences>
            <choiceReferences>Direct_To_Partner</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Feature_Enabled_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>customerContactLookupFilter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>AccountId = &apos;{!Get_Opportunity_Record.AccountId}&apos; AND No_Longer_There__c = false</text>
    </textTemplates>
    <textTemplates>
        <name>OfferCreatedEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity link: {!OpportunityUrl}</text>
    </textTemplates>
    <textTemplates>
        <name>OfferCreatedEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New private offer submitted {!selectedCustomerAccountContact.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>partnerContactLookupFilter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>AccountId = &apos;{!Get_Opportunity_Record.Partner_Account_Name__c}&apos; AND No_longer_there__c = false</text>
    </textTemplates>
    <textTemplates>
        <name>RefundEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity link: {!OpportunityUrl}</text>
    </textTemplates>
    <textTemplates>
        <name>RefundEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Private offer {!selectedCustomerAccountContact.Name} cancel and replace</text>
    </textTemplates>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>contentDocumentsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>contentDocumentToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>CreateRecordsFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>customerContactLookupSearchTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultCustomerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentsToDeleteSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExceedingDelayInvoicing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>initialValidationsErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarketplaceFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>partnerContactLookupSearchTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCustomerAccountContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>selectedPartnerAccountContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SendOfferCreatedEmailFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SendRefundEmailFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SpeedToCloudProgramApproved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>SyncTackleOfferFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TackleProductListingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Splunk Private Offer Session 1</stringValue>
        </value>
    </variables>
    <variables>
        <name>TransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentIdsToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
