flows/Update_Release_and_Team_on_User_Story_Dependency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_release_and_team_as_null_0</name>
        <label>Assign release and team as null</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Release__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_release_and_team_as_null_0_0_0</name>
        <label>Assign release and team as null</label>
        <locationX>50</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.Child_User_Story_Release__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dependent_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_release_and_team_on_user_story_dependency_0</name>
        <label>Update release and team on user story dependency</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_User_Story__r.Release__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_User_Story__r.Team__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_release_and_team_on_user_story_dependency_0_0</name>
        <label>Update release and team on user story dependency</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Release__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_User_Story__r.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_release_and_team_on_user_story_dependency_0_0_0_0</name>
        <label>Update release and team on user story dependency</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_User_Story__r.Release__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_release_and_team_on_user_story_dependency_0_0_0_0_0_0</name>
        <label>Update release and team on user story dependency</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Child_User_Story_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dependent_User_Story__r.Release__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dependent_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dependent_User_Story__r.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_release_and_team_on_user_story_dependency_0_0_0_0_0_0_0</name>
        <label>Update release and team on user story dependency</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Child_User_Story_Release__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dependent_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dependent_User_Story__r.Team__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_release_and_team_on_user_story_dependency_0_0_0_0_0_0_0_0</name>
        <label>Update release and team on user story dependency</label>
        <locationX>842</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Child_User_Story_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dependent_User_Story__r.Release__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dependent_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Child_Release_0</name>
        <label>Child Release and team check</label>
        <locationX>710</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>release_and_team_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__r.Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__r.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_release_and_team_on_user_story_dependency_0_0_0_0_0_0</targetReference>
            </connector>
            <label>release and team not null</label>
        </rules>
        <rules>
            <name>release_is_null_team_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__r.Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__r.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_release_and_team_on_user_story_dependency_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>release is null team is not null</label>
        </rules>
        <rules>
            <name>team_is_null_and_release_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__r.Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__r.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_release_and_team_on_user_story_dependency_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>team is null and release is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Team_and_release</name>
        <label>Parent Team and release</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Validate_Child</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Team_and_relaease_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__r.Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__r.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_release_and_team_on_user_story_dependency_0</targetReference>
            </connector>
            <label>When Team and release is not Null</label>
        </rules>
        <rules>
            <name>when_release_is_null_and_team_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__r.Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__r.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_release_and_team_on_user_story_dependency_0_0</targetReference>
            </connector>
            <label>when release is null and team is not null</label>
        </rules>
        <rules>
            <name>When_team_is_null_and_release_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__r.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__r.Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_release_and_team_on_user_story_dependency_0_0_0_0</targetReference>
            </connector>
            <label>When team is null and release is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Child</name>
        <label>Validate Child</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_is_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_release_and_team_as_null_0_0_0</targetReference>
            </connector>
            <label>Child is null</label>
        </rules>
        <rules>
            <name>Child_is_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dependent_User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Release_0</targetReference>
            </connector>
            <label>Child is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Parent</name>
        <label>Validate Parent</label>
        <locationX>666</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>parent_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_release_and_team_as_null_0</targetReference>
            </connector>
            <label>parent is null</label>
        </rules>
        <rules>
            <name>parent_is_notnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Team_and_release</targetReference>
            </connector>
            <label>parent is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Release and Team on User Story Dependency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Release and Team on User Story Dependency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Parent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Provider_User_Story__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_User_Story__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Team_Dependency__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
