flows/Update_User_Story_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_User_Story_Status</name>
        <label>Update User Story Status</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>UpdateUserStoryStatusAction</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__jobExecution</typeName>
            <typeValue>JobExecution__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobExecution</name>
            <value>
                <elementReference>job</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateUserStoryStatusAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Job_is_successful</name>
        <label>Check Job is successful</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Story_Status</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>Launches when an automation rule callback is called. Use flow API name in the Automated Action Callback field of the Automation Rule record. Includes input variables with the Job Execution for the automated action and the status.</description>
    <environments>Default</environments>
    <interviewLabel>Update User Story Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Job_is_successful</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>JobExecution__c</objectType>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
