flows/X53.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Con_is_created</name>
        <label>Con is created?</label>
        <locationX>644</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>coniscreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_aCase</targetReference>
            </connector>
            <label>coniscreated</label>
        </rules>
    </decisions>
    <interviewLabel>53 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>53</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_aCase</name>
        <label>Create Case</label>
        <locationX>616</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>X53</targetReference>
        </connector>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>473</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Con_is_created</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordRollbacks>
        <name>X53</name>
        <label>53</label>
        <locationX>421</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Rollbackscree</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>312</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rollbackscree</name>
        <label>Rollbackscreen</label>
        <locationX>95</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
